﻿@using EService.Web.App_LocalResources
@model EService.Web.Models.LandingPermissionRequestCreateViewModel

@{
    ViewBag.Title = "Landing Permission Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var LandingPermissionRequestCreateVM = {}
        var Initialize = function () {
            ajaxRequest('@Url.Action("GetNewLandingPermission")', 'GET', {}, function (resp) {
                if (resp.IsSuccess) {
                    if (!ko.dataFor($('#mainContent')[0])) {
                        LandingPermissionRequestCreateVM = ko.mapping.fromJS(resp.Data);

                        ko.applyBindings(LandingPermissionRequestCreateVM, $('#mainContent')[0]);
                    } else {
                        ko.mapping.fromJS(resp.Data, {}, LandingPermissionRequestCreateVM);
                    }
                } else {
                    showMessage('Landing Permission Request', resp.Message, 'error');
                }
            });
        }
        $(function () {
            initialize();

        });
    </script>
}
<div id="mainContent">
    <form id="frm" class="form-horizontal">
        <div class="col-md-6 col-sm-12">
            <h4>Requester</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.AirlineName, LandingPermissionRequestResource.AirlineName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.AirlineName, new { @class = "form-control", data_bind = "value:AirlineName" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, LandingPermissionRequestResource.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", data_bind = "value:Email" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telephone, LandingPermissionRequestResource.Telephone, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", data_bind = "value:Telephone" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fax, LandingPermissionRequestResource.Fax, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", data_bind = "value:Fax" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, LandingPermissionRequestResource.Address, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", data_bind = "value:Address" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>
                Operator
            </h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.OperatorTelephone, LandingPermissionRequestResource.Telephone, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.OperatorTelephone, new { @class = "form-control", data_bind = "value:OperatorTelephone" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OperatorEmail, LandingPermissionRequestResource.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.OperatorEmail, new { @class = "form-control", data_bind = "value:OperatorEmail" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OperatorTelephone, LandingPermissionRequestResource.Telephone, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.OperatorTelephone, new { @class = "form-control", data_bind = "value:OperatorTelephone" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fac, LandingPermissionRequestResource.Fax, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Fac, new { @class = "form-control", data_bind = "value:Fac" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OperatorAddress, LandingPermissionRequestResource.Address, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.OperatorAddress, new { @class = "form-control", data_bind = "value:OperatorAddress" })
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <fieldset>
                <legend>Flight Details</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.FlightNatureOfOperations, LandingPermissionRequestResource.FlightNatureOfOperations, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.FlightNatureOfOperations, new SelectList(Enumerable.Empty<int>()), new { @class = "form-control", data_bind = "value:FlightNatureOfOperations" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AircraftRegistration, LandingPermissionRequestResource.AircraftRegistration, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.AircraftRegistration, new { @class = "form-control", data_bind = "value:AircraftRegistration" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AirportLandingId, LandingPermissionRequestResource.AirportLanding, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.AirportLandingId, new SelectList(Enumerable.Empty<int>()), new { @class = "form-control", data_bind = "value:AirportLandingId" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MTOW, LandingPermissionRequestResource.MTOW, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.MTOW, new { @class = "form-control", data_bind = "value:MTOW" })
                    </div>
                </div>
            </fieldset>
            <fieldset data-bind="with:TripAddModel">
                <legend>Trip Details<small>Fill all Forms and click on 'Add Trip' button to add on save list.</small></legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.TripAddModel.CrewDetail, LandingPermissionRequestResource.CrewDetail, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TripAddModel.CrewDetail, new { @class = "form-control", data_bind = "value:CrewDetail" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TripAddModel.NoOfPassengers, LandingPermissionRequestResource.NoOfPassengers, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TripAddModel.NoOfPassengers, new { @class = "form-control", data_bind = "value:NoOfPassengers" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TripAddModel.ETDOrigin, LandingPermissionRequestResource.ETDOrigin, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TripAddModel.ETDOrigin, new { @class = "form-control", data_bind = "value:ETDOrigin" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TripAddModel.ETADestination, LandingPermissionRequestResource.ETADestination, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TripAddModel.ETADestination, new { @class = "form-control", data_bind = "value:ETADestination" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-lg-offset-2">
                        @Html.CheckBoxFor(model => model.TripAddModel.IsManualEntry, new { @class = "form-control", data_bind = "value:IsManualEntry" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TripAddModel.CompleteRouting, LandingPermissionRequestResource.CompleteRouting, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TripAddModel.CompleteRouting, new { @class = "form-control", data_bind = "value:CompleteRouting" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@LandingPermissionRequestResource.EnterTripDetails</label>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.TripActionCode, new { @class = "form-control", data_bind = "value:TripActionCode" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.TripArrivalDestinationCode, new { @class = "form-control", data_bind = "value:TripArrivalDestinationCode" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.TripDepartureDestinationCode, new { @class = "form-control", data_bind = "value:TripDepartureDestinationCode" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.StartOfPeriod, new { @class = "form-control", data_bind = "value:StartOfPeriod" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.EndOfPeriod, new { @class = "form-control", data_bind = "value:EndOfPeriod" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.WeekdaysOfOperation, new { @class = "form-control", data_bind = "value:WeekdaysOfOperation" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.NoOfSeats, new { @class = "form-control", data_bind = "value:NoOfSeats" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.AircraftTypeCode, new { @class = "form-control", data_bind = "value:AircraftTypeCode" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.OriginStationCode, new { @class = "form-control", data_bind = "value:OriginStationCode" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.ArrivalTimeUTC, new { @class = "form-control", data_bind = "value:ArrivalTimeUTC" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.DepartureTimeUTC, new { @class = "form-control", data_bind = "value:DepartureTimeUTC" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.ArrivalServiceType, new { @class = "form-control", data_bind = "value:ArrivalServiceType" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TripAddModel.DepartureServiceType, new { @class = "form-control", data_bind = "value:DepartureServiceType" })
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>