﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model  EService.Web.Models.LandingPermissionRequestViewModel

@{
    ViewBag.Title = "Landing Permission Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var LandingPermissionRequestVM = {

        };
        var initialize = function () {
            ajaxRequest('@Url.Action("Initalize")', 'GET', {}, function (resp) {
                if (resp.IsSuccess) {
                    if (!ko.dataFor($('#mainContent'[0]))) {
                        LandingPermissionRequestVM = ko.mapping.fromJS(resp.Data);
                        ko.applyBindings(LandingPermissionRequestVM, $('#mainContent')[0]);
                    } else {
                        ko.mapping.fromJS(resp.Data, {}, LandingPermissionRequestVM);
                    }
                } else {
                    showMessage('Landing Permission Request', resp.Message, 'error');
                }
            });
        }
        $(function () {
            initialize();
        });
    </script>
}

<a href="@Url.Action("Create", "ServiceRequest", new { Area = "", id = 1 })" class="btn btn-info">Add New Request</a>
<div class="col-xs-12" id="mainContent">
    <fieldset>
        <legend>
            Search Options
        </legend>
        <div class="form-horizontal" data-bind="with: SearchModel">
            <div class="form-group">
                @Html.LabelFor(model => model.SearchModel.AircraftRegistration, LandingPermissionRequestResource.AircraftRegistration, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.SearchModel.AircraftRegistration, new { @class = "form-control", data_bind = "value:AircraftRegistration" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SearchModel.RefNo, LandingPermissionRequestResource.RefNo, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.SearchModel.RefNo, new { @class = "form-control", data_bind = "value:RefNo" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SearchModel.PermitNumber, LandingPermissionRequestResource.PermitNumber, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.SearchModel.PermitNumber, new { @class = "form-control", data_bind = "value:PermitNumber" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SearchModel.FlightNumber, LandingPermissionRequestResource.FlightNumber, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.SearchModel.FlightNumber, new { @class = "form-control", data_bind = "value:FlightNumber" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SearchModel.DateFrom, LandingPermissionRequestResource.DateFrom, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.SearchModel.DateFrom, new { @class = "form-control", data_bind = "value:DateFrom" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SearchModel.DateTo, LandingPermissionRequestResource.DateTo, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.SearchModel.DateTo, new { @class = "form-control", data_bind = "value:DateTo" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SearchModel.AirportOfOperation, LandingPermissionRequestResource.AirportOfOperation, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.SearchModel.AirportOfOperation, new SelectList(Enumerable.Empty<int>()), new { @class = "form-control", data_bind = "value:AirportOfOperation, options: AirportLandingList, optionsText: 'Description', optionsValue: 'Id', optionsCaption: 'Select'  " })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" class="btn btn-primary" value="@GlobalResource.Submit" />
                </div>
            </div>
        </div>
    </fieldset>
</div>