﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@model EService.Web.Models.AircraftMaintenanceRequestViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}
@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })

<div id="mainContent" data-bind="template:{name: 'listContentTemplate', afterRender: AfterRenderCreate}"></div>
<script type="text/html" id="listContentTemplate">
    <div class="row">
        <span class="pull-right text-right">
            <b>     <span style="font-size: xx-large;">Aircraft Maintenance Request</span></b>
            <br />
            <button class="btn btn-info" data-bind="click: SetUserInfo">Set User Information</button>
        </span>
    </div>
    <hr />
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmAircraftMaintenanceRequest" }))
    {

        <div class="form-horizontal">
            <!--ko with : AddNewModel-->
            <fieldset>
                <legend>Applicant Information</legend>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfApplication)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfApplication, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: DateOfApplication" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.NameOfApplicant)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.NameOfApplicant, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NameOfApplicant" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "" })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", data_bind = "value: Designation" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "" })
                        <span class="red">*</span>

                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: PhoneNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">                        
                        @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "" })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", data_bind = "value: EmailId" } })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Aircraft Maintenance Info</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicantRegisteredMaintenanceCompany, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.ApplicantRegisteredMaintenanceCompany, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantRegisteredMaintenanceCompany" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AddressOfMaintenanceCompany, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.AddressOfMaintenanceCompany, new { htmlAttributes = new { @class = "form-control", data_bind = "value: AddressOfMaintenanceCompany" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumberOfRefisteredmaintenanceCompany, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.PhoneNumberOfRefisteredmaintenanceCompany, new { htmlAttributes = new { @class = "form-control", data_bind = "value: PhoneNumberOfRefisteredmaintenanceCompany" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaintenanceCompanyTradeLicenseNumber, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.MaintenanceCompanyTradeLicenseNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: MaintenanceCompanyTradeLicenseNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaintenanceCompanyTradeLicenseExpiryDate, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.MaintenanceCompanyTradeLicenseExpiryDate, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: MaintenanceCompanyTradeLicenseExpiryDate" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Part145RegistrationNumber, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Part145RegistrationNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: Part145RegistrationNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Part145RegistrationExpiryDate, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Part145RegistrationExpiryDate, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: Part145RegistrationExpiryDate" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AircraftType, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.AircraftType, new { htmlAttributes = new { @class = "form-control", data_bind = "value: AircraftType" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AircraftModel, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.AircraftModel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: AircraftModel" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AircraftRegistrationNumber, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.AircraftRegistrationNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: AircraftRegistrationNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TypeOfMaintenance, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        <ul style="list-style: none">
                            <li>
                                <label>
                                    <input type="radio" id="TypeOfMaintenance" name="TypeOfMaintenance" data-bind="checked: TypeOfMaintenance, checkedValue: true" value="true">
                                    <span>Scheduled</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" id="TypeOfMaintenance" name="TypeOfMaintenance" data-bind="checked: TypeOfMaintenance, checkedValue: false" value="false">
                                    <span >Non Scheduled</span>
                                </label>
                            </li>
                        </ul>
                        @*<div class="radio radio-inline">
                            <label>
                                <input id="TypeOfMaintenance" name="TypeOfMaintenance" type="radio" data-bind="checked: TypeOfMaintenance, checkedValue: true" />
                                Scheduled
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input id="TypeOfMaintenance" name="TypeOfMaintenance" type="radio" data-bind="checked: TypeOfMaintenance, checkedValue: false" />
                                Non Scheduled
                            </label>
                        </div>*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DetailsOfMaintenance, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DetailsOfMaintenance, new { htmlAttributes = new { @class = "form-control", data_bind = "value: DetailsOfMaintenance" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ScheduleDateOfAircraftArrival, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.ScheduleDateOfAircraftArrival, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: ScheduleDateOfAircraftArrival" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ScheduleDateOfAircraftDeparture, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.ScheduleDateOfAircraftDeparture, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: ScheduleDateOfAircraftDeparture" } })
                    </div>
                </div>

            </fieldset>
            <!--/ko-->
            @Html.Partial("_FileUploader")
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" data-role="save" data-style="expand-left" value="@GlobalResource.Submit" class="btn btn-primary ladda-button" data-bind="click: $root.SaveRequest">@GlobalResource.Submit</button>
                    <button type="button" data-role="draft" data-style="expand-left" value="@GlobalResource.SubmitDraft" class="btn btn-primary ladda-button" data-bind="click: $root.SaveDraftRequest">@GlobalResource.SubmitDraft</button>
                    <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId= (int) ServiceEnum.AircraftMaintenanceRequest})">@GlobalResource.Cancel</a>
                </div>
            </div>
        </div>
    }

</script>

@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.aircraftmaintenance.InitializeCreate();
        })
    </script>
}
