﻿@model EService.Web.Models.AircraftMaintenanceRequestViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserServiceRequestMasterId = Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}

@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })

<h2>Detail</h2>

<div id="aircraftMaintenanceDetailsDiv">
    <h4>Aircraft Maintenance Request</h4>
    <hr/>
    <table class="table borderless" data-bind="with: Details">
        <tr>
            <td width="40%">
                @Html.LabelFor(model => model.DateOfApplication)
            </td>

            <td data-bind="text:moment(DateOfApplication()).isValid() ? moment(DateOfApplication()).format('DD/MM/YY') : null">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.NameOfApplicant)
            </td>

            <td data-bind="text:NameOfApplicant">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Designation)
            </td>

            <td data-bind="text:Designation">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PhoneNumber)
            </td>
            <td data-bind="text:PhoneNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmailId)
            </td>

            <td data-bind="text:EmailId">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantRegisteredMaintenanceCompany)
            </td>

            <td data-bind="text:ApplicantRegisteredMaintenanceCompany">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AddressOfMaintenanceCompany)
            </td>

            <td data-bind="text:AddressOfMaintenanceCompany">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PhoneNumberOfRefisteredmaintenanceCompany)
            </td>

            <td data-bind="text:PhoneNumberOfRefisteredmaintenanceCompany">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MaintenanceCompanyTradeLicenseNumber)
            </td>

            <td data-bind="text:MaintenanceCompanyTradeLicenseNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MaintenanceCompanyTradeLicenseExpiryDate)
            </td>

            <td data-bind="text:moment(MaintenanceCompanyTradeLicenseExpiryDate()).isValid() ? moment(MaintenanceCompanyTradeLicenseExpiryDate()).format('DD/MM/YY') : null">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Part145RegistrationNumber)
            </td>

            <td data-bind="text:Part145RegistrationNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Part145RegistrationExpiryDate)
            </td>

            <td data-bind="text:moment(Part145RegistrationExpiryDate()).isValid() ? moment(Part145RegistrationExpiryDate()).format('DD/MM/YY') : null">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AircraftType)
            </td>

            <td data-bind="text:AircraftType">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AircraftModel)
            </td>

            <td data-bind="text:AircraftModel">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AircraftRegistrationNumber)
            </td>

            <td data-bind="text:AircraftRegistrationNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.TypeOfMaintenance)
            </td>

            <td data-bind="text:TypeOfMaintenanceDisplay">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DetailsOfMaintenance)
            </td>

            <td data-bind="text:DetailsOfMaintenance">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ScheduleDateOfAircraftArrival)
            </td>

            <td data-bind="text:moment(ScheduleDateOfAircraftArrival()).isValid() ? moment(ScheduleDateOfAircraftArrival()).format('DD/MM/YY') : null">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ScheduleDateOfAircraftDeparture)
            </td>

            <td data-bind="text:moment(ScheduleDateOfAircraftDeparture()).isValid() ? moment(ScheduleDateOfAircraftDeparture()).format('DD/MM/YY') : null">
            </td>
        </tr>
    </table>
</div>
@Html.Partial("_FileUploadedList")
<p>
    @Html.ActionLink("Edit", "Edit", new{ id = UserServiceRequestMasterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
@Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.aircraftmaintenance.InitializeDetail();
        })
    </script>
}
