﻿@{
    ViewBag.Title = "User Service Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-xs-12 text-right" data-role="navigation-up" data-bind="template:{name: 'navTemplate'}">
</div>
<div class="row col-xs-12" id="serviceStatus" data-bind="template:{name: 'serviceStatusTemplate'}">

</div>
<div class="row col-xs-12" id="billContent" data-bind="with: BillData">
    <fieldset>
        <legend>Service Request Charge</legend>
        <table class="table table-bordered">
            <tr>
                <td>Service Charge</td>
                <td><span data-bind="text:ChargedAmount"></span></td>
            </tr>
            <tr>
                <td>Admin Charge</td>
                <td><span data-bind="text:AdminFee"></span></td>
            </tr>
            <tr>
                <td>Social Development Fee</td>
                <td><span data-bind="text:SocialDevelopmentFee"></span></td>
            </tr>
            <tr>
                <td>VAT</td>
                <td><span data-bind="text:VAT"></span></td>
            </tr>
            <tr>
                <th>Total</th>
                <th><span data-bind="text:Total"></span></th>
            </tr>
        </table> 
        
    </fieldset>
</div>
<div class="row col-xs-12" id="detailContent"></div>
<div class="row col-xs-12" id="uploadedFileContent" data-bind="template:{name: 'uploadedFileContentTemplate'}"></div>
<div class="row col-xs-12 text-right" data-role="navigation-down" data-bind="template:{name: 'navTemplate'}">
</div>
<script type="text/html" id="navTemplate">
    <!-- ko if:Status() === fia.ServiceFlowStateEnum.PaymentPending -->
    <button type="button" class="btn btn-success ladda-button" data-role="approve" data-bind="click: $root.ApproveClick"><i class="fa fa-check-circle"></i>&nbsp; Approve</button>
    <!-- /ko-->
    <a href="javascript:void()" class="btn btn-warning" data-bind="attr:{href:'/Finance/UserServiceRequest'}"><i class="fa fa-backward"></i>&nbsp; Back</a>
</script>
<script type="text/html" id="serviceStatusTemplate">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6 col-xs-12 control-label">
                <h4> <span data-bind="text: ServiceName"></span></h4>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-xs-12 control-label">
                <span> Service Status</span>
            </div>
            <div class="col-sm-8 col-xs-12">
                <span data-bind="text: StatusName"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-xs-12 control-label">
                <span> NOC Req Ref No </span>
            </div>
            <div class="col-sm-8 col-xs-12">
                <span data-bind="text: RegistrationNo"></span>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="uploadedFileContentTemplate">
    <fieldset>
        <legend>Uploaded Files</legend>
        <!--ko if: UploadedFiles().length >0-->
        <ul style="list-style: none" data-bind="foreach: UploadedFiles">
            <li><span data-bind="text: FileName"></span></li>
        </ul>
        <!--/ko-->
        <!--ko ifnot: UploadedFiles().length >0-->
        <span><u><b>No Files uploaded for this request.</b></u></span>
        <!--/ko-->
    </fieldset>
</script>
@section scripts{
    <script src="~/Scripts/fia/fia.serviceRequestFinance.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.serviceRequestFinance.InitializeDetail();
        })
    </script>
}
