﻿
@{
    ViewBag.Title = "Service Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    
    <script src="~/Scripts/fia/fia.serviceRequestFinance.js"></script>
    <script type="text/javascript">
        $(function() {
            fia.serviceRequestFinance.Initialize();
        })
    </script>
}


<div id="mainContent" class="form-horizontal" data-bind="template:{name: 'listContentTemplate'}">

</div>
<script type="text/html" id="listContentTemplate">
    <fieldset>
        <legend>
            Search Options
        </legend>
        <div class="col-xs-12" data-bind="with: SearchModel">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <select class="form-control" data-bind="options: Services, optionsText: 'Description', optionsValue: 'Id', optionsCaption: 'Select Service', value: ServiceId "></select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" data-bind="datePicker: DateFrom" placeholder="Date From"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" data-bind="datePicker: DateTo" placeholder="Date To"/>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" data-bind="value: ApplicantEmail" placeholder="Email or User Name or NOC Req Ref No "/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <br />
                <button type="button" class="btn btn-primary ladda-button" data-role="search" data-style="expand-left" data-bind="click: $parent.SearchClick">Search</button>
            </div>
        </div>
    </fieldset>

    <table class="table table-bordered table-condensed table-striped">
        <thead>
        <tr>
            <th>Service Name</th>
            <th>Request Type</th>
            <th>User (Email)</th>
            <th>NOC Req Ref No </th>
            <th>Requested Date Time</th>
            <th>Request Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: Records">
        <tr>
            <td data-bind="text: ServiceName"></td>
            <td data-bind="text: IsReapplied() ? 'Reapplied':'New' "></td>
            <td data-bind="text: UserName()+'( '+Email()+' )' "></td>
            <td data-bind="text: RegistrationNo"></td>
            <td data-bind="text: moment(RequestDateTime()).format('DD/MM/YY hh:mm:ss a')"></td>
            <td data-bind="text: RequestStatusName"></td>
            <td>
                <a href="javascript:void()" data-bind="click:$root.ViewDetails" class="" title="View Detail"><i class="fa fa-eye"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</script>
