﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="confirmUnsubscribe.ascx.cs" Inherits="Designit.Umb.Newsletter.Custom.usercontrols.designit.newsletter.confirmUnsubscribe" %>
<asp:Literal ID="ltlSucces" runat="server"></asp:Literal>
