﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Installer.ascx.cs" Inherits="Designit.Umb.Newsletter.Custom.usercontrols.designit.newsletter.Installer" %>
<%@ Register TagPrefix="uc" TagName="editNewsletter" Src="~/usercontrols/designit/newsletter/NewsletterSettings.ascx" %>
<uc:editNewsletter id="ucEditNewsletter" runat="server" HasMenu="false" Installing="true" Width="650" Height="500" />