﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="subscribe.ascx.cs" Inherits="Designit.Umb.Newsletter.Custom.usercontrols.designit.newsletter.subscribe" %>
<asp:Panel ID="Panel1" runat="server">
    Name:<asp:TextBox ID="txtName" runat="server"></asp:TextBox>
    <br />
    Address:<asp:TextBox ID="txtAddress" runat="server"></asp:TextBox>
    <br />
    Postal code:<asp:TextBox ID="txtPostal" runat="server"></asp:TextBox>
    <br />
    City:<asp:TextBox ID="txtCity" runat="server"></asp:TextBox>
    <br />
    E-mail:<asp:TextBox ID="txtEmail" runat="server"></asp:TextBox>

<asp:Panel ID="Panel2" runat="server">
</asp:Panel>

<asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Subscribe" />

</asp:Panel>
<p>
    <asp:Literal ID="Literal2" runat="server"></asp:Literal>
</p>

