
@media (max-width: 991px) and (min-width: 768px){

	/* ------------------- Dashboard Page Start ------------------- */

	.req-hist .form-control{
		width: 210px;
	}

	/* ------------------- Dashboard Page End ------------------- */

}

@media (max-width: 767px){

	/* ------------------- Home Page Start ------------------- */

	.site-header{
		padding: 10px 0;
	}

	.site-logo {
	    width: 200px;
	}

	.site-logo img {
	    width: 100%;
	}

	.main-navigation > ul > li {
	    margin: 4px 0;
	}

	.login-form-wrap{
	    margin: 16px 0;
	}

	.login-form-wrap h1 {
	    margin: 0 0 20px;
	    font-size: 20px;
	}

	.form-control, textarea.form-control{
		height: 40px;
	    font-size: 14px;
	    padding: 6px 15px;
	}

	.login-form-wrap .site-btn{
		margin: 0;
	}

	.site-btn {
	    padding: 9px 40px 10px;
	    font-size: 16px;
	}

	.login-form-wrap .form-group a {
	    font-size: 14px;
	}

	.site-main{
		min-height: inherit;
	}

	/* ------------------- Home Page End ------------------- */

	/* ------------------- Dashboard Page Start ------------------- */
	
	.req-filter-header h3{
		margin: 0 0 10px;
	}

	.req-hist {
	    text-align: inherit;
	}

	.req-hist label {
	    display: block;
	    margin: 0 0 5px;
	}

	.req-hist .form-group{
		display: block;
	}

	.req-hist .form-control{
		width: 100%;
	}

	.e-service-block {
	    min-height: inherit;
	    margin: 0 0 30px;
	}

	/* ------------------- Dashboard Page End ------------------- */

}

@media (max-width: 414px){

	/* ------------------- Home Page Start ------------------- */

	.site-main {
	    min-height: 632px;
	}

	/* ------------------- Home Page End ------------------- */

}

@media (max-width: 380px){

	/* ------------------- Home Page Start ------------------- */

	.site-logo {
	    width: 150px;
	    float: none;
	    margin: 0 auto;
	}

	.main-navigation {
	    float: none;
	    text-align: center;
	    margin: 10px 0 0;
	}

	.main-navigation > ul > li {
	    margin: 0;
	}

	.site-main {
	    min-height: 549px;
	}

	/* ------------------- Home Page End ------------------- */

}

@media (max-width: 320px){

	/* ------------------- Home Page Start ------------------- */

	.site-main {
	    min-height: inherit;
	}

	/* ------------------- Home Page End ------------------- */

}