﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red {
    color: red;
}

.field-validation-error {
    color: red;
}

input.input-validation-error {
    border-color: red;
}

@charset "utf-8";

body {
    font-family: 'Open Sans', 'Calibri';
}

.navbar-default {
    background: #3285D1;
    border-color: #3285D1;
}

    .navbar-default .navbar-nav > li > a {
        color: #FFF;
    }

.nav > li > a {
    margin: 15px;
    font-size: 17px;
    color: #FFF;
}

    .nav .open > a, .nav .open > a:hover,
    .nav .open > a:focus,
    .nav > li > a:hover, .nav > li > a:focus {
        background-color: transparent !important;
    }

.navbar-brand {
    margin: 15px !important;
    padding: 13px !important;
    color: #fff !important;
    font-size: 2em !important;
    font-weight: bold !Important;
}

.navbar-toggle {
    margin-top: 20px !important;
}

.dropdown-menu {
    background: #fff !important;
}

.navbar-login {
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.width100 {
    width: 100%;
}