/*------------------------------------------------------------------------------------------------------

Theme Name: Fujairah Airport
Theme URI: localhost/skrollx/Fujairah Airport
Description: Lorem ipsum dolor sit amet 

------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------

CSS Document
Edited By: Sharad Sharma

------------------------------------------------------------------------------------------------------*/

@font-face{
    font-family:'FontAwesome';
    src:url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'MuseoSans_Regular';
    src: url('../fonts/museo_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/museo_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans_Bold';
    src: url('../fonts/museo_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/museo_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'MuseoSans_Regular','Helvetica Nue','Helvetica',Arial,sans-serif;
    font-size: 16px;
    color:#000000;
    font-weight: normal;
    line-height: 1.4em;
    background: #eeeeee;
}

a{
    color:#e21e24;
    text-decoration:none;
    transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -ms-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
}

a:hover{
    text-decoration:none;
    color:#000;
}

a:focus{
    text-decoration:none;
    outline: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin:0 0 20px;
    font-weight:normal;
    font-family: 'MuseoSans_Bold';
    color: #3f3f3f;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size:26px;
}

h4{
    font-size:22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size:16px;
}

p {
    line-height: 1.61em;
    margin:0 0 20px;
}

ul,
ol,
figure{
    margin:0;
    padding:0;
}

.form-group{
    margin-bottom: 20px;
}

.form-control,textarea.form-control{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding: 6px 15px;
}

textarea.form-control{
    resize:none;
    height:200px;
    padding: 6px 11px;
}

.form-control::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.5);
}

input:focus,.form-control:focus,button:focus{
    outline: 0;
    box-shadow: none;
    border-color: #e5e5e5;
    outline-offset:0;
}

.login-form-wrap .form-control{
    height: 65px;
    padding: 6px 26px;
    font-size: 18px;
}

.site-btn,.btn-file {
    padding: 7px 20px;
    font-size: 16px;
    font-family: 'MuseoSans_Bold';
    color: #fff;
    border-radius: 0;
    background:#e21e24;
    border:2px solid transparent;
    box-shadow:none;
    text-shadow: none;
    line-height: inherit;
    transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
}

.site-btn:hover,.site-btn:focus,.btn-file:hover,.btn-file:focus,.site-btn:active{
    color: #e21e24;
    outline:none;
    background: none;
    border-color:#e21e24; 
}

.site-btn:active,.btn-file:active{
    box-shadow: none;
}

.site-btn-add {
    padding: 7px 15px;
    font-size: 13px;
    margin: 0 0 10px;
}

.login-form-wrap .site-btn{
    padding: 19px 40px 20px;
    font-size: 18px;
}

label {
    font-weight: normal;
    font-family: 'MuseoSans_Bold';
    font-size: 15px;
    text-align: left;
}

.form-horizontal .control-label{
    text-align: left;
}

select.form-control{
    cursor: pointer;
}


/* =================================== Home Page Start =============================== */

.site-header {
    background: #fff;
    padding: 21px 0;
}

.site-logo {
    float: left;
}

.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    line-height: initial;
    display: block;
}

.main-navigation {
    float: right;
}

.main-navigation > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 17px 0;
}

.main-navigation> ul > li .btn-default {
    padding: 0;
    border: none;
    background: none;
    color: #000;
    font-size: 16px;
    font-family: 'MuseoSans_Bold';
    box-shadow: none;
    outline: none;
}

.main-navigation .open>.dropdown-toggle.btn-default:focus, 
.main-navigation .open>.dropdown-toggle.btn-default:hover,
.main-navigation .btn-default.active, .main-navigation .btn-default:active, 
.main-navigation .open>.dropdown-toggle.btn-default{
	color: #000;
	background: none;
	border: none;
	outline: none;
}

.main-navigation> ul > li .btn-default .caret {
    border-width: 5px;
    position: relative;
    top: -3px;
    margin: 0 0 0 2px;
}

.main-navigation ul.dropdown-menu {
    background: #e21e24;
    border: none;
    left: auto;
    right: 0;
}

.main-navigation ul.dropdown-menu > li > a {
    color: #fff;
}

.main-navigation ul.dropdown-menu > li > a:hover,
.main-navigation ul.dropdown-menu > li > a:focus {
    color: #e21e24;
}

.main-navigation .dropdown-menu .divider{
    background-color: rgba(255, 255, 255, 0.33);
}

.site-main{
    padding: 30px 0;
	min-height: 927px;
}

.login-form-wrap {
    text-align: center;
    margin: 141px 0 0;
}

.login-form-wrap h1 {
    margin: 0 0 39px;
}

.login-form-wrap [class^=col-] {
    float: none;
    margin: 0 auto;
}

.login-form-wrap .site-btn {
    width: 100%;
    margin: 10px 0 7px;
}

.login-form-wrap .form-group a {
    font-size: 18px;
    color: #000;
    float: left;
}

.login-form-wrap .form-group a:last-child {
    float: right;
}

.site-footer {
    background: #fff;
    padding: 18px 0;
}

.site-info p {
    margin: 0;
    text-align: center;
    line-height: initial;
    font-size: 12px;
    color: #b1b1b1;
}

.site-info p a{
	color:#b1b1b1; 
}

.site-info p a:hover,.login-form-wrap .form-group a:hover{
	color:#e21e24;
}

/* =================================== Home Page End ================================= */

/* ================================= Dashboard Page Start ============================ */

.req-filter-header {
    margin: 0 0 30px;
}

.req-filter-header h3 {
    margin: 8px 0 0;
    font-family: 'MuseoSans_Regular';
}

.req-hist {
    text-align: right;
}

.req-hist .form-group {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
}

.req-hist .form-control {
    height: 41px;
    border: none;
    padding: 6px 50px 6px 13px;
    font-size: 14px;
    width: 218px;
}

.req-hist label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    font-family: 'MuseoSans_Bold';
    margin: 0 26px 0 0;
}

.req-hist button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: none;
    border: none;
    font-size: 22px;
    color: #9a9a9a;
    padding: 0 19px;
}

.e-service-block {
    text-align: center;
    min-height: 267px;
    margin: 0 0 34px;
}

.e-service-thumbnail {
    background: #fff;
    height: 202px;
    line-height: 202px;
    margin: 0 0 29px;
}

.e-service-thumbnail img{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}

.e-service-block h6 {
    color: #000;
    margin: 0;
}

.e-service-block h6 i {
    font-size: 13px;
    color: #e21e24;
    position: relative;
    right: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.e-service-block:hover  i{
	right: -5px;
}

.e-service-block:hover .e-service-thumbnail img{
	transform: scale(1.07);
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
}

/* ================================= Dashboard Page End ============================== */

.red {
    color: red;
}

.field-validation-error {
    color: red;
}

input.input-validation-error {
    border-color: red;
}

.borderless td, .borderless th {
    border: none !important;
}

.user-dashboardWrap .alert {
    display: block;
}

.user-dashboardWrap .list-group-item {
    border: none;
    border-radius: 0;
    margin: 0 0 9px;
    background: #e21e24;
    color: #fff;
    border: 2px solid transparent;
}

.user-dashboardWrap .list-group-item:hover {
    border-color: #e21e24;
    color: #e21e24;
}

.table.table-bordered,.table.table-bordered th,
.table-bordered>tbody>tr>td {
    border: none;
}

.table thead {
    background: #e21e24;
    color: #fff;
}

.table th {
    font-weight: normal;
    font-family: 'MuseoSans_Bold';
}

.table thead tr th,.table tbody tr td {
    padding: 15px 25px;
}

.table tbody tr:nth-of-type(odd) {
    background: #fff;
}

fieldset {
    padding: 20px;
    margin: 0 0 20px;
    border-color: #d6d6d6;
}

legend {
    font-size: 14px;
    padding: 3px 15px;
    color: #fff;
    background: #e21e24;
    margin: 0;
}

.field-validation-error {
    font-size: 13px;
    padding: 4px 0 0;
    display: block;
}

.checkbox,.radio {
    padding: 0 0 10px;
    display: block;
}

.checkbox label,.radio label {
    padding: 0;
    font-weight: normal;
}

form input[type=checkbox]:checked, form input[type=checkbox]:not(:checked),
form input[type=hidden]:checked, form input[type=hidden]:not(:checked),
form input[type=radio]:checked, form input[type=radio]:not(:checked) {
    position: absolute;
    margin-left: 0px;
    opacity: 0;
}

form input[type=checkbox]:checked+span, form input[type=checkbox]:not(:checked)+span,
form input[type=hidden]:checked+span, form input[type=hidden]:not(:checked)+span,
form input[type=radio]:checked+span, form input[type=radio]:not(:checked)+span {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: block;
}

form input[type=checkbox]:checked+span::before, form input[type=checkbox]:not(:checked)+span::before,
form input[type=hidden]:checked+span::before, form input[type=hidden]:not(:checked)+span::before,
form input[type=radio]:checked+span::before, form input[type=radio]:not(:checked)+span::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #252525;
    left: 0;
    top: 2px;
}

form input[type=radio]:checked+span::before, form input[type=radio]:not(:checked)+span::before{
    border-radius: 100%;
}

form input[type=checkbox]:checked+span::before,
form input[type=checkbox]:checked+input[type=hidden]+span::before,
form input[type=radio]:checked+span::before {
    background: #e21e24;
    border-color: #e21e24;
}

input[value="Add Checklist"] {
    margin-bottom: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}