﻿
@section Scripts{
    <script type="text/javascript">
        var DepartmentDashBoard = {}
        $(function () {
            initialize();
        });
        function initialize() {

        }
    </script>
}
<div class="col-lg-6">
    <div class="list-group">
        <a href="@Url.Action("Index", "UserServiceRequest", new { Area = "Department" })" class="list-group-item">
            Pending Service Requests for this department
        </a>
    </div>
</div>