﻿@using EService.Service.Logic.Enum
@using EService.Web.App_LocalResources
@section Scripts{
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
<div class="req-filter-header">
    <div class="row">
        <div class="col-sm-6">
            <h3>E-Services</h3>
        </div>
        <div class="col-sm-6">
            <div class="req-hist">
                <form action="" method="post">
                    <label>Request History</label>
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">
                        <button type="submit" name="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="e-servicer-wrapper">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "", serviceId = (int?)ServiceEnum.CranePermitRequest })">
                    <figure class="e-service-thumbnail">
                        <span><img src="@Url.Content("~/images/icon-crane.png")" alt="icon-crane.png"></span>
                    </figure>
                    <h6>Crane Permit <i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "" , serviceId = (int?)ServiceEnum.BuildingHeightRequest})">
                    <figure class="e-service-thumbnail">
                        <span><img src="@Url.Content("~/images/icon-building.png")" alt="icon-building.png"></span>
                    </figure>
                    <h6>Building Height <i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "", serviceId = (int?)ServiceEnum.AircraftWarningLight })">
                    <figure class="e-service-thumbnail">
                        <span><img src="@Url.Content("~/images/icon-airplane.png")" alt="icon-airplane.png"></span>
                    </figure>
                    <h6>Aircraft Warning light <i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "" , serviceId = (int?)ServiceEnum.GroundHandlingRequest})">
                    <figure class="e-service-thumbnail">
                        <span><img src="@Url.Content("~/images/icon-airplane-landing.png")" alt="icon-airplane-landing.png"></span>
                    </figure>
                    <h6>Ground Handling<i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "" , serviceId = (int?)ServiceEnum.AircraftDismantlingRequest})">
                    <figure class="e-service-thumbnail">
                        <span><img src="@Url.Content("~/images/icon-dismantling.png")" alt="icon-dismantling.png"></span>
                    </figure>
                    <h6>Aircraft dismantling <i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "", serviceId = (int?)ServiceEnum.ExitOfAircraftSparePartsRequest })">
                    <figure class="e-service-thumbnail">
                        <span><img src="@Url.Content("~/images/icon-spare-parts.png")" alt="icon-spare-parts.png"></span>
                    </figure>
                    <h6>Exit of spare parts <i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "", serviceId = (int?)ServiceEnum.AircraftMaintenanceRequest })">
                    <figure class="e-service-thumbnail">
                        <span><img src="@Url.Content("~/images/icon-maintenance.png")" alt="icon-maintenance.png"></span>
                    </figure>
                    <h6>Aircraft maintenance <i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "", serviceId = (int?)ServiceEnum.TradeLicenseRequest })">
                    <figure class="e-service-thumbnail">
                        <span><img src="@Url.Content("~/images/icon-trade.png")" alt="icon-trade.png"></span>
                    </figure>
                    <h6>Trade license <i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="e-service-block">
                <a href="@Url.Action("Description", "ServiceRequest", new { Area = "", serviceId = (int?)ServiceEnum.MeteorologicalDataRequest })">
                <figure class="e-service-thumbnail">
                <span><img src="@Url.Content("~/images/icon-data.png")" alt="icon-data.png"></span>
                </figure>
                <h6>Meteorological data <i class="fa fa-chevron-right"></i></h6>
                </a>
            </div>
        </div>
    </div>
</div>