﻿
@section Scripts{
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
<div class="col-md-6 col-sm-12">
    <span class="alert-info alert">
        <b>Welcome</b>! You are logged in as system admin.
    </span>
    
</div>

<div class="col-md-6 col-sm-12">
    <div class="list-group">
        <a href="@Url.Action("Index", "UserServiceRequest", new { Area = "Admin" })" class="list-group-item">
            Manage Service Requests
        </a>
        <a href="@Url.Action("Index", "User", new { Area = "" })" class="list-group-item">
            Manage User
        </a>
        <a href="@Url.Action("Index", "ResetPassword", new { Area = "" })" class="list-group-item">
            Reset Password
        </a>
        <a href="@Url.Action("Index", "ServiceApprovalFlowConfiguration", new { Area = "" })" class="list-group-item">
            Manage Service Approval Flow
        </a>
        <a href="@Url.Action("Index", "SMTP", new { Area = "Configure" })" class="list-group-item">
            SMTP Configuration
        </a>
        <a href="@Url.Action("Index", "Service", new {Area = "Configure"})" class="list-group-item">
            Service Information Configuration
        </a>
        <a href="@Url.Action("Index", "ServiceRequestSummary", new {Area = "Report"})" class="list-group-item">
            Service Request Summary Report
        </a>
        <a href="@Url.Action("Index", "ApplicableFees", new { Area = "Admin" })" class="list-group-item">
            Applicable Fees Lookup
        </a>
        <a href="@Url.Action("Index", "PaymentKeyConfiguration", new { Area = "Admin" })" class="list-group-item">
            Payment key Configuration
        </a>
    </div>
</div>