﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {

        });
    </script>
}

<div class="row">
    @{
        Html.RenderAction("GetUserDashboard");

    }
</div>
