﻿@using System.Collections
@using ClientDependency.Core
@inherits UmbracoTemplatePage
@{
    var slideShowImages = Umbraco.AssignedContentItem.GetPropertyValue("sliderImages");
}
<!-- Homepage Slider -->
<section id="main-slider" class="main-slider">
    <div class="bxslider">
        @{
            var caseStudyImagesList = ((IEnumerable<IPublishedContent>)slideShowImages);
            foreach (var caseStudyImage in caseStudyImagesList)
            {
                <div class="slider-item">
                    <img src="@caseStudyImage.Url" />
                </div>
            }
            
        }
    </div>

    <div class="slider-caption">
        <div class="inner-slider-caption">
            @Umbraco.AssignedContentItem.GetPropertyValue("sliderInnerContent")
        </div>
    </div>
</section>
<!-- Homepage Slider -->