﻿    <!-- SOCIAL LINKS SECTION -->
<section id="social-links" class="social-links">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="follow-instagram">
                    <div class="instagram-heading">
                        <h2>@@fujairport</h2>
                        <p>Follow us on Instagram</p>
                    </div>
                     <div class="instagram-feeds">
                        <ul id="instagram">
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="follow-twitter">
                    <div class="twitter-heading">
                        <h2>@@fujairport</h2>
                        <p>Follow us on Twitter</p>
                    </div>
                      <a class="twitter-timeline" href="https://twitter.com/fujairport" data-cards="hidden" data-tweet-limit="3" data-aria-polite="assertive" data-chrome="nofooter noborders noscrollbar transparent noheader">Follow us on Twitter</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
   var feed = new Instafeed({
		get: 'user',
		userId: 2028547274,
    	accessToken: '2028547274.1677ed0.52849707e8054e5785f752b58308ef67',
		target: 'instagram',
		resolution: 'standard_resolution',
		limit:6,
		 template: '<li><a href="{{link}}"><img src="{{image}}" /></a></li>'
	
});

window.onload = function() {
	feed.run();
	
}
</script>
<!-- SOCIAL LINKS SECTION -->