﻿@using System.Globalization
@using System.Threading
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var currCulture = Thread.CurrentThread.CurrentCulture;
}
    <!-- Site Navigation -->
<div id="site-navigation" class="site-navigation">
    <button class="btn toggle-btn"><i class="fa fa-bars"></i></button>
    @if(currCulture.Name =="en-US"){
        <ul id="site-menu">
        <li class="has-dropdown" style="display:none;">
            <a href="/en/travellers/flight-schedules">
                Flight Schedules<i class="fa fa-angle-down"></i>
            </a>
            <ul class="sub-menu">
                <li><a href="/en/travellers/flight-schedules/arrival-and-departures/">Arrival and Departures</a></li>
                <li><a href="/en/travellers/checking-in-and-baggage/">Connecting to my flight</a></li>
            
                        </ul>
        </li>
        <li class="has-dropdown">
            <a href="/en/travellers/getting-around-the-airport/">Getting around the Airport<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li><a href="/en/travellers/getting-around-the-airport/driving-direction/">Driving Direction</a></li>
                <li><a href="/en/travellers/getting-around-the-airport/where-to-park/">Where to Park</a></li>
                <li><a href="/en/travellers/getting-around-the-airport/checking-in/">Checking in</a></li>
                <li><a href="/en/travellers/getting-around-the-airport/luggage-guideline/">Luggage Guideline</a></li>
                <li><a href="/en/travellers/getting-around-the-airport/relaxing-inside/">Relaxing Inside</a></li>
              
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="/en/travellers/shop-and-dine/">Shop and Dine<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li><a href="/en/travellers/shop-and-dine/dining/">Dining</a></li>
                <li><a href="/en/travellers/shop-and-dine/duty-free-shopping/">Duty Free Shop</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="/en/travellers/passenger-services/">Passenger Services<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li><a href="/en/travellers/getting-around-the-airport/airport-lounges/">Airport Lounges</a></li>
                <li><a href="/en/travellers/passenger-services/terminal-map/">Terminal Maps</a></li>
                <li><a href="/en/travellers/passenger-services/visa-information/">Visa Information</a></li>
                <li><a href="/en/travellers/passenger-services/lost-and-found/">Lost and Found</a></li>
                <li><a href="/en/travellers/passenger-services/security-customs/">Security and Customs</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="/en/travellers/discover-fujairah/">Discover Fujairah<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
               
                <li><a href="/en/travellers/discover-fujairah/exploring-activities-and-events/">Exploring - Activities and Events</a></li>
                <li><a href="/en/travellers/discover-fujairah/relax-enjoy-and-rest/">Relax,Enjoy and Rest</a></li>
                <li><a href="/en/travellers/discover-fujairah/transportation/">How to move around - Transportation</a></li>
                <li><a href="/en/travellers/discover-fujairah/external-links/">External Links</a></li>
            </ul>
        </li>
        <li><a href="/en/travellers/radar/">Flight Radar</a></li>
    </ul>
    } else {
        <ul>
        <li class="has-dropdown" style="display:none;">
            <a href="/ar/travellers/flight-schedules">
                @Umbraco.Field("#Flight Schedules")<i class="fa fa-angle-down"></i>
            </a>
            <ul class="sub-menu">
                <li><a href="/ar/travellers/flight-schedules/arrival-and-departures/">@Umbraco.Field("#Arrival and Departures")</a></li>
                <li><a href="/ar/travellers/checking-in-and-baggage/">@Umbraco.Field("#Connecting to my flight")</a></li>
            
                        </ul>
        </li>
        <li class="has-dropdown">
            <a href="/ar/travellers/getting-around-the-airport/">@Umbraco.Field("#Getting around the Airport")<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li><a href="/ar/travellers/getting-around-the-airport/driving-direction/">@Umbraco.Field("#Driving Direction")</a></li>
                <li><a href="/ar/travellers/getting-around-the-airport/where-to-park/">@Umbraco.Field("#Where to Park")</a></li>
                <li><a href="/ar/travellers/getting-around-the-airport/checking-in/">@Umbraco.Field("#Checking in")</a></li>
                <li><a href="/ar/travellers/getting-around-the-airport/luggage-guideline/">@Umbraco.Field("#Luggage Guideline")</a></li>
                <li><a href="/ar/travellers/getting-around-the-airport/relaxing-inside/">@Umbraco.Field("#Relaxing Inside")</a></li>
              
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="/ar/travellers/shop-and-dine/">@Umbraco.Field("#Shop and Dine")</a>
            <ul class="sub-menu">
                <li><a href="/ar/travellers/shop-and-dine/dining/">@Umbraco.Field("#Dining")</a></li>
                <li><a href="/ar/travellers/shop-and-dine/duty-free-shopping/">@Umbraco.Field("#Duty Free Shop")</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="/ar/travellers/passenger-services/">@Umbraco.Field("#Passenger Services")<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li><a href="/ar/travellers/getting-around-the-airport/airport-lounges/">@Umbraco.Field("#Airport Lounges")</a></li>
                <li><a href="/ar/travellers/passenger-services/terminal-map/">@Umbraco.Field("#Terminal Maps")</a></li>
                <li><a href="/ar/travellers/passenger-services/visa-information/">@Umbraco.Field("#Visa Information")</a></li>
                <li><a href="/ar/travellers/passenger-services/lost-and-found/">@Umbraco.Field("#Lost and Found")</a></li>
                <li><a href="/ar/travellers/passenger-services/security-customs/">@Umbraco.Field("#Security and Customs")</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="/ar/travellers/discover-fujairah/">@Umbraco.Field("#Discover Fujairah")<i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu">
 
                <li><a href="/ar/travellers/discover-fujairah/exploring-activities-and-events/">@Umbraco.Field("#Exploring - Activities and Events")</a></li>
                <li><a href="/ar/travellers/discover-fujairah/relax-enjoy-and-rest/">@Umbraco.Field("#Relax, Enjoy and Rest")</a></li>
                <li><a href="/ar/travellers/discover-fujairah/transportation/">@Umbraco.Field("#How to move around - Transportation")</a></li>
                <li><a href="/ar/travellers/discover-fujairah/external-links/">@Umbraco.Field("#External Links")</a></li>
            </ul>
        </li>
        <li><a href="/ar/travellers/radar/">@Umbraco.Field("#Flight Radar")</a></li>
    </ul>
    }
</div>
<!-- Site Navigation End -->