﻿@model  EService.Data.Entity.Entity.PaymentKey
@using EService.Web.App_GlobalResources;
@{
    ViewBag.Title = "Payment Key Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.paymentKeyConfiguration.js">

    </script>
    <script type="text/javascript">
        $(function () {
            fia.paymentKeyConfiguration.Initialize();
        })
    </script>
}

<div id="mainContent" data-bind="template:{name: 'paymentKeyConfigTemplate'}"></div>

<script type="text/html" id="paymentKeyConfigTemplate">
    <form id="form" class="form-horizontal" data-bind="with: PaymentKeyConfiguration">
        <div class="form-group">
            @Html.LabelFor(model => model.MerchantId, "Merchant Id", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.MerchantId, new { @class = "form-control", data_bind = "value:MerchantId" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EncryptionKey, "Encryption Key", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.EncryptionKey, new { @class = "form-control", data_bind = "value:EncryptionKey" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Url, "Payment Url", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Url, new { @class = "form-control", data_bind = "value:Url" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-sm-8">
                <input type="button" data-role="save" value="@GlobalResource.Submit" data-style="expand-left" class="ladda-button btn btn-primary" data-bind="click: $root.Save" />
                <a class="btn btn-warning" href="@Url.Action("Index")">@GlobalResource.Cancel</a>
            </div>
        </div>
    </form>
</script>