﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/common.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#btnChangePassword').click(function () {
                if (!$('#frm').valid()) {
                    return false;
                }
                var model = $('#frm').serializeObject();
                ajaxRequest('@Url.Action("Index", "ChangePassword")', 'POST', { data: { model: model } }, function (response) {
                    if (response.IsSuccess) {
                        showMessage('Change Password', response.Message, 'success', function () { window.location = window.location;})
                    }
                    else {
                        showMessage('Change Password', response.Message, 'error')
                    }
                });
            });
        });
    </script>
}

@using (Html.BeginForm("Index", "ChangePassword", FormMethod.Post, new { id = "frm", @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.UserName, new { @class = "form-control", data_bind = "value:Email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", data_bind = "value:Email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", data_bind = "value:Email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", data_bind = "value:Email" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" class="btn btn-primary" id="btnChangePassword" value="@GlobalResource.Submit" data-bind="click: $parent.Register" />
        </div>
    </div>
}