
@media (max-width: 480px) {
	.em-contact-numbers ul li {
		margin-left: 12px;
		font-size: 11px;
	}

	.copyright {
		text-align: center;
	}

	footer h5 {
		margin: 0 0 5px;
	}
}


@media (max-width: 767px) {

	/*============= HOMEPAGE CSS ===============*/

	.main-slider .slider-caption {
		right: 0;
	}

	.inner-slider-caption {
		padding-right: 20px;
	}

	.top-header-right {
		text-align: center;
	}

	.site-header .header-right {
		text-align: center;
	}

	.site-header .header-right ul li {
		margin-right: 15px;
	}

	.copyright {
		text-align: right;
	}
	
	.site-navigation ul li {
		margin-left: 0px;
	}
	
	.sub-toggle {
		left: 10px;
		right: auto;
	}

	/*============= END OF HOMEPAGE CSS ===============*/


	/*=================== CHECK IN BAGGAGE PAGE CSS ===========*/

	.fia-column-block:nth-of-type(2n) [class^="col-"]:last-child .column-desc {
		padding-right: 0px;
	}

	.fia-column-block:nth-of-type(2n+1) [class^="col-"]:first-child {
		width: 100%;
	}

	.fia-column-block:nth-of-type(2n+1) [class^="col-"]:last-child {
		float: left;
	}

	.fia-column-block:nth-of-type(2n+1) [class^="col-"]:last-child .column-desc {
		padding-left: 0px;
	}

	/*=================== END OF CHECK IN BAGGAGE PAGE CSS ===========*/



	/*=================== DASHBOARD PAGE CSS ===========*/

	.dashboard-page-content .col-md-9 {
		padding-right: 0px;
	}

	/*=================== END OF DASHBOARD PAGE CSS ===========*/




	/*=================== DISCOVER FUJAIRAH PAGE CSS ===========*/

	.discover-tabs.custom-tabs .nav-tabs > li > a {
		transform: none;
	}

	.discover-tabs.custom-tabs .nav-tabs > li > a span {
		transform: none;
	}


	/*=================== END OF DISCOVER FUJAIRAH PAGE CSS ===========*/





	/*=================== ENTRY PASS PAGE CSS ===========*/

	.radio span {
		padding-right: 25px;
		padding-left: 0px;
	}

	.radio span::before {
		right: 0px;
	}

	.radio span::after {
		right: 4px;
	}

	.entry-pass-content ul.inner-list {
		padding-right: 20px;
	}

	.details-form {
		padding-right: 0px;
	}

	.file-upload {
		left: 0;
	}

	/*=================== END OF ENRTY PASS PAGE CSS ===========*/



	/*================== CONTACTUS PAGE ====================*/

	.select-service .select-oth {
		position: relative;
		height: 40px;
		width: 100%;
		bottom: 0;
		right: 0;
		top: 10px;
	}


	/*================== END OF CONTACTUS PAGE ====================*/



	/*================== GALLERY PAGE CSS ====================*/

	.gallery-inner-block-wrap .gallery-block {
		margin: 0px 0 30px 0;
	}

	.services-list-collapsible .panel-title::before {
		border-bottom: 37px solid #e11e24;
	}

	/*================== END OF GALLERY PAGE CSS ====================*/



}


@media (max-width: 650px) {
	.search-form {
		right: 0;
		left: auto;
	}

	.site-header .header-right ul li {
		text-align: right;
		margin-right: 0px;
	}
} 


@media (min-width: 768px) and (max-width: 991px) {

	/*=================== TOP HEADER ===========*/

	.top-header-right {
		text-align: center;
	}

	.site-header .header-right {
		text-align: center;
	}

	.top-header-right ul.contact-details::before {
		display: none;
	}

	/*=================== END OF TOP HEADER ===========*/


	/*=================== FOOTER ===========*/

	.social-icons ul li {
		margin-left: 15px;
	}

	.em-contact-numbers ul li {
		margin-left: 17px;
	}

	.copyright {
		text-align: right;
	}

	/*=================== END OF FOOTER ===========*/



	/*=================== CHECK IN BAGGAGE PAGE CSS ===========*/

	.fia-column-block:nth-of-type(2n) [class^="col-"]:last-child .column-desc {
		padding-right: 0px;
	}

	.fia-column-block:nth-of-type(2n+1) [class^="col-"]:first-child {
		width: 100%;
	}

	.fia-column-block:nth-of-type(2n+1) [class^="col-"]:last-child {
		float: left;
	}

	/*=================== END OF CHECK IN BAGGAGE PAGE CSS ===========*/




	/*=================== DASHBOARD PAGE CSS ===========*/

	.dashboard-page-content .col-md-9 {
		padding-right: 0px;
	}


	/*=================== END OF DASHBOARD PAGE CSS ===========*/



	/*================== CONTACTUS PAGE ====================*/

	.tab-inner-content .select-entry .radio {
		margin-left: 89px;
	}

	.tab-inner-content .select-entry .radio:last-of-type {
		margin-left: 0px;
	}

	.select-service .select-oth {
		right: auto;
		left: 2%;
	}


	/*================== END OF CONTACTUS PAGE ====================*/



	/*================== END OF CONTACTUS PAGE ====================*/

	.eservices-two-block .col-md-6 {
		float: left;
		width: 50%;
	}

	.forms {
		margin-top: 0;
	}


	/*================== END OF CONTACTUS PAGE ====================*/


	/*================== WHY CONNECT FIA PAGE CSS ====================*/

	.achievements-block p.title {
		font-size: 16px;
	}

	/*================== END OF WHY CONNECT FIA PAGE CSS ====================*/


}


@media (min-width: 992px) and (max-width: 1199px) {
	.site-header .header-right ul li {
		margin-right: 40px;
	}

	.site-header .header-right {
		text-align: center;
	}

	.site-header .mega-menu .menu-inner ul li {
		margin-right: 0px;
	}

	/*================== CONTACTUS PAGE ====================*/

	.select-service .select-oth {
		right: auto;
		left: 16%;
	}


	/*================== END OF CONTACTUS PAGE ====================*/


}