﻿
@{
    ViewBag.Title = "Building Height Request Applicable Fees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.applicableFeesLookup.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.applicableFeesLookup.Initialize();
        })
    </script>
}

<div id="mainContent" data-bind="template:{name:'mainContentTemplate'}"></div>

<script type="text/html" id="mainContentTemplate">
    <div class="row">
        <div class="pull-right">
            <!--ko if: EditMode() == false-->
            <button type="button" class="btn btn-primary btn-xs" data-bind="click: EditClick"><i class="fa fa-pencil"></i>&nbsp; Edit</button>
            <!--/ko-->
            <!--ko if: EditMode() == true-->
            <button type="button" class="btn btn-primary btn-xs" data-bind="click: AddNewClick"><i class="fa fa-plus"></i>&nbsp; Add Row</button>
            <button type="button" class="btn btn-primary btn-xs" data-bind="click:"><i class="fa fa-crosshairs"></i>&nbsp; Cancel</button>
            <!--/ko-->
        </div>
    </div>


    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th> Description</th>
                    <th> Fee</th>
                </tr>
            </thead>
            <!--ko if: EditMode() == false -->
            <!-- ko template:{name: 'recordViewTemplate'}-->
            <!--/ko-->
            <!--/ko-->
            <!--ko if: EditMode() == true -->
            <!-- ko template:{name: 'recordEditTemplate'}-->
            <!--/ko-->
            <!--/ko-->

        </table>
    </div>

    <!--ko if: EditMode() == true-->
    <!--/ko-->

</script>

<script type="text/html" id="recordViewTemplate">
    <tbody data-bind="foreach: Records">
        <tr>
            <td>
                <span data-bind="text: $index() + 1"></span>
            </td>
            <td>
                <span data-bind="text:Description"></span>
            </td>
            <td>
                <span data-bind="text: Fee"></span>
            </td>
        </tr>
    </tbody>
</script>


<script type="text/html" id="recordEditTemplate">
    <tbody data-bind="foreach: EditRecords">
        <tr>
            <td>
                <span data-bind="text: $index() + 1"></span>
            </td>
            <td>
                <input type="text" class="form-control" data-bind="value: Description" />
            </td>
            <td>
                <input type="text" class="form-control" data-bind="value: Fee" />
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">
                <button type="button" class="btn btn-primary" data-bind="click: SaveClick">Save</button>
            </td>
        </tr>
    </tfoot>
</script>