﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@model EService.Web.Models.BuildingHeightRequestViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}
@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })
<div id="createContent" data-bind="template:{name: 'createContentTemplate', afterRender: AddNewModel.AfterRenderComplete}"></div>
<script type="text/html" id="createContentTemplate">
    <div class="row">
        <span class="pull-right text-right">
            <b>     <span style="font-size: xx-large;">Building Height Request</span></b>
            <br />
            <button class="btn btn-info" data-bind="click: SetUserInfo">Set User Information</button>
        </span>
    </div>
    <hr />
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmBuildingHeightRequest" }))
    {
        <div class="form-horizontal" id="mainContent">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="alert alert-danger">
                        You will have to pay first before you can submit.
                    </div>
                </div>
            </div>
            <!--ko with: AddNewModel-->
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <fieldset>
                        <legend>Applicant's Information</legend>
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantName, htmlAttributes: new { @class = "" })<span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicantName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantName" } })
                                @Html.ValidationMessageFor(model => model.ApplicantName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantJobTitle, htmlAttributes: new { @class = "" })<span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicantJobTitle, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantJobTitle" } })
                                @Html.ValidationMessageFor(model => model.ApplicantJobTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantCompanyName, htmlAttributes: new { @class = "" })<span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicantCompanyName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantCompanyName" } })
                                @Html.ValidationMessageFor(model => model.ApplicantCompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantAddress, htmlAttributes: new { @class = "" })<span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicantAddress, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantAddress" } })
                                @Html.ValidationMessageFor(model => model.ApplicantAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantCell, htmlAttributes: new { @class = "" })<span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicantCell, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantCell" } })
                                @Html.ValidationMessageFor(model => model.ApplicantCell, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantTel, htmlAttributes: new { @class = "" })<span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicantTel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantTel" } })
                                @Html.ValidationMessageFor(model => model.ApplicantTel, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantEmail, htmlAttributes: new { @class = "" })<span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicantEmail, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantEmail" } })
                                @Html.ValidationMessageFor(model => model.ApplicantEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantWebsite, htmlAttributes: new { @class = "" })
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicantWebsite, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantWebsite" } })
                                @Html.ValidationMessageFor(model => model.ApplicantWebsite, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-12 col-md-6">
                    <fieldset>
                        <legend>Owner Information</legend>
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "" })<span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerName" } })
                                @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.OwnerCompanyName, htmlAttributes: new { @class = "" })
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.OwnerCompanyName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerCompanyName" } })
                                @Html.ValidationMessageFor(model => model.OwnerCompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.OwnerAddress, htmlAttributes: new { @class = "" })
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.OwnerAddress, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerAddress" } })
                                @Html.ValidationMessageFor(model => model.OwnerAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.OwnerCell, htmlAttributes: new { @class = "" })
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.OwnerCell, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerCell" } })
                                @Html.ValidationMessageFor(model => model.OwnerCell, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.OwnerTel, htmlAttributes: new { @class = "" })
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.OwnerTel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerTel" } })
                                @Html.ValidationMessageFor(model => model.OwnerTel, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.OwnerEmail, htmlAttributes: new { @class = "" })
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.OwnerEmail, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerEmail" } })
                                @Html.ValidationMessageFor(model => model.OwnerEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.OwnerWebsite, htmlAttributes: new { @class = "" })
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.OwnerWebsite, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerWebsite" } })
                                @Html.ValidationMessageFor(model => model.OwnerWebsite, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <fieldset>
                    <legend>SECTION 1: GENERAL PROJECT INFORMATION</legend>

                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "" })
                            <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ProjectName" } })
                            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { @class = "" })
                            <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.ApplicationDate, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: ApplicationDate" } })
                            @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ExpectedConstructionStartDate, htmlAttributes: new { @class = "" })
                            <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.ExpectedConstructionStartDate, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: ExpectedConstructionStartDate" } })
                            @Html.ValidationMessageFor(model => model.ExpectedConstructionStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ExpectedConstructionEndDate, htmlAttributes: new { @class = "" })
                            <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.ExpectedConstructionEndDate, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: ExpectedConstructionEndDate" } })
                            @Html.ValidationMessageFor(model => model.ExpectedConstructionEndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "" }) <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", data_bind = "value: Location" } })
                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "" }) <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.ProjectDescription, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ProjectDescription" } })
                            @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            <label>Applicant's relationship to project owner <span class="red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <ul style="list-style: none" data-bind="foreach: ApplicantOwnerRelationships">
                                <li>
                                    <label>
                                        <input type="radio" name="ApplicantOwnerRelationship" data-bind="checked: $parent.ApplicantOwnerRelationshipId , checkedValue: Id" />
                                        <span data-bind="text: Description"></span>
                                    </label>
                                    <!-- ko if: $parent.ApplicantOwnerRelationshipId() == Id() && IsOther() == true -->
                                    <input class="form-control" type="text" data-bind="value: $parent.ApplicantOwnerRelationshipOtherName" />
                                    <!-- /ko -->
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Project Type <span class="red">*</span></label>
                        <div class="col-sm-8">
                            <ul style="list-style: none">
                                <!--ko foreach: ProjectTypes-->
                                <li>
                                    <label>
                                        <input type="radio" name="ProjectTypes" data-bind="checked: $parent.ProjectTypeId , checkedValue: ProjectTypeId" />
                                        <span data-bind="text: Description"></span>
                                    </label>
                                    <!-- ko if: $parent.ProjectTypeId() == ProjectTypeId() && IsOther() == true -->
                                    <input class="form-control" type="text" data-bind="value: $parent.OtherProjectTypeDescription" />
                                    <!-- /ko -->
                                </li>
                                <!--/ko-->
                            </ul>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="row" data-bind="if: ProjectTypeId() === 1 || ProjectTypeId() ===3">
                <fieldset>
                    <legend>SECTION 2: BUILDING(S) DETAILS ONLY</legend>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BuildingType, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            <ul style="list-style: none">
                                <li>
                                    <label>
                                        <input type="radio" id="BuildingType" name="BuildingType" data-bind="checked: BuildingType, checkedValue: true" value="true">
                                        <span>Singular Building</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" id="BuildingType" name="BuildingType" data-bind="checked: BuildingType, checkedValue: false" value="false">
                                        <span>Multiple Building</span>
                                    </label>
                                </li>
                            </ul>

                            @Html.ValidationMessageFor(model => model.BuildingType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" data-bind="visible: BuildingType() == false">
                        @Html.LabelFor(model => model.NumberOfBuildings, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.NumberOfBuildings, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NumberOfBuildings" } })
                            @Html.ValidationMessageFor(model => model.NumberOfBuildings, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NumberOfFloors, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.NumberOfFloors, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NumberOfFloors" } })
                            @Html.ValidationMessageFor(model => model.NumberOfFloors, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TallestHeight, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.TallestHeight, new { htmlAttributes = new { @class = "form-control", data_bind = "value: TallestHeight", data_rule_number = "true" } })
                            @Html.ValidationMessageFor(model => model.TallestHeight, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.HasObstacleLight, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            <ul style="list-style: none">
                                <li>
                                    <label>
                                        <input type="radio" id="HasObstacleLight" name="HasObstacleLight" data-bind="checked: HasObstacleLight, checkedValue: true" value="true">
                                        <span>Yes</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" id="HasObstacleLight" name="HasObstacleLight" data-bind="checked: HasObstacleLight, checkedValue: false" value="false">
                                        <span>No</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group" data-bind="visible: HasObstacleLight() == true">
                        @Html.LabelFor(model => model.DetailsOfLightinDrawing, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.DetailsOfLightinDrawing, new { htmlAttributes = new { @class = "form-control", data_bind = "value: DetailsOfLightinDrawing" } })
                            @Html.ValidationMessageFor(model => model.DetailsOfLightinDrawing, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>SECTION 2: Building Coordinates & Heights (4 corners & 3 tallest heights required)</legend>
                    <table class="table">
                        <tr>
                            <th>Building Corners Points</th>
                            <th>Easting</th>
                            <th>Northing</th>
                            <th>Ground Height</th>
                            <th>Structure Height</th>
                        </tr>
                        <tbody data-bind="foreach: BuildingCoordinateAndHeights">
                            <tr>
                                <td data-bind="text: BuildingCoordinateAndHeightLookUpDescription"></td>
                                <td><input class="form-control" type="text" data-bind="value: Easting" /></td>
                                <td><input class="form-control" type="text" data-bind="value: Northing" /></td>
                                <td><input class="form-control" data-rule-number="true" type="text" data-bind="value: GroundHeight" /></td>
                                <td><input class="form-control" data-rule-number="true" type="text" data-bind="value: StructureHeight" /></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Documents to be attached</label>
                        <div class="col-sm-8" data-bind="foreach: AdditionalItemsForBuildingSubmittals">
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" data-bind="checked: IsSelected, checkedValue: true" />
                                    <span data-bind="text: AdditionalItemsForBuildingSubmittalLookUpDescription"></span>
                                </label>
                            </div>
                            <!-- ko if: IsOther() && IsSelected()-->
                            <input class="form-control" type="text" data-bind="value: OtherDescription" />
                            <!-- /ko -->
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row" data-bind="if: ProjectTypeId()  === 2">
                <fieldset>
                    <legend>SECTION 3: OHL/COMMUNICATIONS TOWER PROJECT DETAILS ONLY</legend>


                    <div class="form-group">
                        @Html.LabelFor(model => model.OHLOrCommunicationType, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            <ul style="list-style: none">
                                <li>
                                    <label>
                                        <input type="radio" id="OHLOrCommunicationType" name="OHLOrCommunicationType" data-bind="checked: OHLOrCommunicationType, checkedValue: true" value="true">
                                        <span>OHL</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" id="OHLOrCommunicationType" name="OHLOrCommunicationType" data-bind="checked: OHLOrCommunicationType, checkedValue: false" value="false">
                                        <span>Comm. Tower</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NumberOfStructure, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.NumberOfStructure, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NumberOfStructure" } })
                            @Html.ValidationMessageFor(model => model.NumberOfStructure, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeOfOHLCommTower, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.TypeOfOHLCommTower, new { htmlAttributes = new { @class = "form-control", data_bind = "value: TypeOfOHLCommTower" } })
                            @Html.ValidationMessageFor(model => model.TypeOfOHLCommTower, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AreThereMountains, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            <ul style="list-style: none">
                                <li>
                                    <label>
                                        <input type="radio" id="AreThereMountains" name="AreThereMountains" data-bind="checked: AreThereMountains, checkedValue: true" value="true">
                                        <span>Yes</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" id="AreThereMountains" name="AreThereMountains" data-bind="checked: AreThereMountains, checkedValue: false" value="false">
                                        <span>No</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">What aviation obstacle mitigation measures do you plan to use?</label>
                        <div class="col-sm-8">
                            <ul style="list-style: none" data-bind="foreach: AviationObstacles">
                                <li>
                                    <label>
                                        <input type="checkbox" data-bind="checked: IsSelected, checkedValue: true" />
                                        <span data-bind="text: Description"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <button class="btn btn-primary" data-bind="click: AddOHLCoordinateAndHeightClick">Add OHL Coordinate and Height</button>
                    <table class="table">
                        <tr>
                            <th colspan="5">Structure Coordinates & Heights</th>
                        </tr>
                        <tr>
                            <th>Structure Reference No</th>
                            <th>Easting</th>
                            <th>Northing</th>
                            <th>Ground Height</th>
                            <th>Structure Height</th>
                        </tr>
                        <tbody data-bind="foreach: OHLStructureCoordinateAndHeights">
                            <tr>
                                <td><input class="form-control" type="text" data-bind="value: StructureReferenceNumber" /></td>
                                <td><input class="form-control" type="text" data-bind="value: Easting" /></td>
                                <td><input class="form-control" type="text" data-bind="value: Northing" /></td>
                                <td><input class="form-control" data-rule-number="true" type="text" data-bind="value: GroundHeight" /></td>
                                <td><input class="form-control" data-rule-number="true" type="text" data-bind="value: StructureHeight" /></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Documents to be attached</label>
                        <div class="col-sm-8">
                            <ul style="list-style: none" data-bind="foreach: AdditionalItemsForOHLSubmittals">
                                <li>
                                    <label>
                                        <input type="checkbox" data-bind="checked: IsSelected, checkedValue: true" />
                                        <span data-bind="text: AdditionalItemsForOHLSubmittalLookUpDescription"></span>
                                    </label>
                                    <!-- ko if: IsOther() && IsSelected()-->
                                    <input class="form-control" type="text" data-bind="value: OtherDescription" />
                                    <!-- /ko -->
                                </li>
                            </ul>

                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="row">
                <fieldset>
                    <legend>APPLICABLE FEES (Subject to Change) </legend>
                    <div class="col-xs-12 alert alert-info">
                        The fees as shown below are tentative only. We will be processing your application only upon receiving the initial payment.
                    </div>
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>Notes</th>
                            <th>Fee (AED)</th>
                            <th>Quantity</th>
                            <th>Total Fee</th>
                        </tr>
                        <tbody data-bind="foreach: BuildingHeightApplicableFees">
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td data-bind="text: ApplicableFeesLookUpDescription"></td>
                                <td data-bind="text: Notes"></td>
                                <td data-bind="text: Fees"></td>
                                <td><input class="form-control" data-rule-number="true" type="text" data-bind="value: Quantity" /></td>
                                <td>
                                    <span data-bind="text: parseInt(Fee()) * parseInt(Quantity())"></span>
                                    @*<input class="form-control" type="text" data-bind="value: Fees() * Quantity()" />*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <!--/ko-->
            <h6>
                Following are the required files to be uploaded
                <br />
                For more document requirement, refer to 'Documents to be attached' section
            </h6>
            <div class="col-xs-12">
                <ul>
                    <li>
                        Site plan *
                    </li>
                    <li>
                        Elevations *
                    </li>
                    <li>
                        Section(s) *
                    </li>
                </ul>
            </div>
            @Html.Partial("_FileUploader")

            <div class="form-group">
                <div class="col-md-offset-4 col-sm-8">
                    <button type="button" data-role="save" value="@GlobalResource.Submit" data-style="expand-left" class="ladda-button btn btn-primary" data-bind="click: $root.SaveRequest">@GlobalResource.Submit</button>
                    <button type="button" data-role="draft" value="@GlobalResource.SubmitDraft" data-style="expand-left" class="ladda-button btn btn-primary" data-bind="click: $root.SaveDraftRequest">@GlobalResource.SubmitDraft</button>
                    <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId = (int) ServiceEnum.BuildingHeightRequest})">@GlobalResource.Cancel</a>
                </div>
            </div>
        </div>
    }
</script>

@section scripts{
    <script src="~/Scripts/fia/fia.buildingheight.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.buildingheight.InitializeCreate();
        })
    </script>
}
