﻿@model EService.Web.Models.BuildingHeightRequestViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserServiceRequestMasterId = Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}

@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })

<div id="buildingheightsDetailsdiv">
    <h4>Building Height Request</h4>
    <hr />
    <table class="table borderless" data-bind="with: Details">
        <tr>
            <td width="40%">
                @Html.DisplayNameFor(model => model.ProjectName)
            </td>

            <td data-bind="text:ProjectName"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </td>

            <td data-bind="text:moment(ApplicationDate()).isValid() ? moment(ApplicationDate()).format('DD/MM/YY') : null">
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ExpectedConstructionStartDate)
            </td>

            <td data-bind="text:moment(ExpectedConstructionStartDate()).isValid() ? moment(ExpectedConstructionStartDate()).format('DD/MM/YY') : null"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ExpectedConstructionEndDate)
            </td>

            <td data-bind="text:moment(ExpectedConstructionEndDate()).isValid() ? moment(ExpectedConstructionEndDate()).format('DD/MM/YY') : null"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Location)
            </td>

            <td data-bind="text:Location"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </td>

            <td data-bind="text:ProjectDescription"></td>
        </tr>
  
        <tr>
            <td>
                <label>Applicant’s relationship to project owner</label>
            </td>
            <td >
                <span data-bind="text: ApplicantOwnerRelationshipName"></span>
                <span data-bind="text: ApplicantOwnerRelationshipOtherName"></span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicantName)
            </td>

            <td data-bind="text:ApplicantName"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicantJobTitle)
            </td>

            <td data-bind="text:ApplicantJobTitle"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicantCompanyName)
            </td>

            <td data-bind="text:ApplicantCompanyName"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicantAddress)
            </td>

            <td data-bind="text:ApplicantAddress"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicantCell)
            </td>

            <td data-bind="text:ApplicantCell"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicantTel)
            </td>

            <td data-bind="text:ApplicantTel"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicantEmail)
            </td>

            <td data-bind="text:ApplicantEmail"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ApplicantWebsite)
            </td>

            <td data-bind="text:ApplicantWebsite"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OwnerName)
            </td>

            <td data-bind="text:OwnerName"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OwnerCompanyName)
            </td>

            <td data-bind="text:OwnerCompanyName"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OwnerAddress)
            </td>

            <td data-bind="text:OwnerAddress"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OwnerCell)
            </td>

            <td data-bind="text:OwnerCell"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OwnerTel)
            </td>

            <td data-bind="text:OwnerTel"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OwnerEmail)
            </td>

            <td data-bind="text:OwnerEmail"></td>
        </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.OwnerWebsite)
        </td>

        <td data-bind="text:OwnerWebsite"></td>
    </tr>
        <tr>
            <td>
                <label>Project Type</label>
            </td>

            <td>
                <span data-bind="text:ProjectTypeDescription"></span>
                <span data-bind="text:OtherProjectTypeDescription"></span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BuildingType)
            </td>

            <td data-bind="text: (!BuildingType() || !BuildingType().length) ? '': BuildingType() == true? 'singular building': 'multiple building'"></td>
        </tr>
        <tr data-bind="if: BuildingType() == false">
            <td>
                @Html.DisplayNameFor(model => model.NumberOfBuildings)
            </td>

            <td data-bind="text:NumberOfBuildings"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.NumberOfFloors)
            </td>

            <td data-bind="text:NumberOfFloors"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.TallestHeight)
            </td>

            <td data-bind="text:TallestHeight"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HasObstacleLight)
            </td>

            <td data-bind="text:(!HasObstacleLight() || !HasObstacleLight().length)? '': HasObstacleLight() == true ? 'Yes': 'No'"></td>
        </tr>
        <tr data-bind="if: HasObstacleLight() == true ">
            <td>
                @Html.DisplayNameFor(model => model.DetailsOfLightinDrawing)
            </td>

            <td data-bind="text:DetailsOfLightinDrawing"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OHLOrCommunicationType)
            </td>

            <td data-bind="text:OHLOrCommunicationType"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.NumberOfStructure)
            </td>

            <td data-bind="text:NumberOfStructure"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.TypeOfOHLCommTower)
            </td>

            <td data-bind="text:TypeOfOHLCommTower"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.AreThereMountains)
            </td>

            <td data-bind="text:AreThereMountains"></td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = UserServiceRequestMasterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts{
<script src="~/Scripts/fia/fia.buildingheight.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.buildingheight.InitializeDetail();
        })
    </script>
}
