﻿@using EService.Web.App_GlobalResources
@model EService.Data.Entity.Entity.SMTPEmailSetting

@{
    ViewBag.Title = "Configure SMTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.smtpConfiguration.js"></script>
    <script type="text/javascript">
        $(function() {
            fia.smtpConfiguration.Initialize();
        })
    </script>
}


<div id="mainContent" data-bind="template:{name:'smtpTemplate'}"></div>
<script type="text/html" id="smtpTemplate">
    <form id="smtpForm" class="form-horizontal" data-bind="with: SMTPConfigurationVM">
        <div class="form-group">
            @Html.LabelFor(model => model.Host, "Host", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Host, new { @class = "form-control", data_bind = "value:Host" })
                @Html.ValidationMessageFor(model => model.Host)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Port, "Port", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Port, new { @class = "form-control", data_bind = "value:Port" })
                @Html.ValidationMessageFor(model => model.Port)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, "User name", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", data_bind = "value:UserName" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Password", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", data_bind = "value:Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.From, "From", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.From, new { @class = "form-control", data_bind = "value:From" })
                @Html.ValidationMessageFor(model => model.From)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label"></div>
            <div class="col-sm-8">
                <label>
                    <input type="checkbox" data-bind="checked: EnableSsl, checkedValue: true" value="true">
                    <span data-bind="">Enable Ssl</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-sm-8">
                <input type="button" data-role="save" value="@GlobalResource.Submit" data-style="expand-left" class="ladda-button btn btn-primary" data-bind="click: $root.Save" />
                <a class="btn btn-warning" href="@Url.Action("Index")">@GlobalResource.Cancel</a>
            </div>
        </div>
    </form>
</script>