﻿@using EService.Web.App_GlobalResources
@model EService.Web.Areas.Configure.Models.ServiceInfoAddViewModel

<div id="addServiceInfoModal" class="modal  fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Service Info</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addServiceInfoForm" data-bind="">
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.ServiceName, "Service Name:")
                            <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="ServiceName" class="form-control" data-bind="value: CurrentServiceVM.ServiceName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.ServiceCode, "Service Code:")
                            <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ServiceCode, new { @class = "form-control", data_bind = "value:CurrentServiceVM.ServiceCode" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.DefaultRate, "Default Rate:")
                            <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.DefaultRate, new { @class = "form-control", data_bind = "value:CurrentServiceVM.DefaultRate" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.VATPercentage, "VAT Percentage:")
                            <span class="red">*</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.VATPercentage, new { @class = "form-control", data_bind = "value:CurrentServiceVM.VATPercentage" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSave" data-bind="click: $root.Save"><span class="ladda-label">@GlobalResource.Submit</span></button>
                <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>
