﻿@model EService.Data.Entity.Entity.Service
@{
    ViewBag.Title = "Service Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: 'textarea',
                height: 500,
                theme: 'modern',
                plugins: [
                  'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                  'searchreplace wordcount visualblocks visualchars code fullscreen',
                  'insertdatetime media nonbreaking save table contextmenu directionality',
                  'emoticons template paste textcolor colorpicker textpattern imagetools codesample'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
                image_advtab: true,
                templates: [
                  { title: 'Test template 1', content: 'Test 1' },
                  { title: 'Test template 2', content: 'Test 2' }
                ],
                content_css: [
                  '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                  '//www.tinymce.com/css/codepen.min.css'
                ]
            });
            $('#BtnSave').click(function () {
                tinyMCE.get("Description").save();
                ajaxRequest('@Url.Action("Description")', 'POST', {
                    data: { model: $('#frm').serializeObject() }
                }, function(resp) {
                    window.showMessage('Notice', resp.Message, 'success', function () {
                        if (resp.Success) {
                            window.location = '@Url.Action("Index")';
                        }
                    });
                }, { blockUI: true }
            );
            });
        })
    </script>
}


<form method="post" id="frm" class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-2">
            @Html.LabelFor(model => model.ServiceName, "Service Name:", new { @class = "control-label" })
            @Html.HiddenFor(model => model.ServiceId)
        </div>
        <div class="col-sm-8">
            @Html.DisplayFor(model => model.ServiceName)
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.LabelFor(model => model.Description, "Content:", new { @class = "control-label" })
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            <span class="help-block m-b-none">@Html.ValidationMessageFor(model => model.Description)</span>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <input type="Button" id="BtnSave" class="btn btn-sm btn-primary" value="Save" />
            <a href="@Url.Action("Index")">Cancel</a>
        </div>
    </div>

</form>
