﻿@using EService.Web.Areas.Configure.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.serviceInfo.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.serviceInfo.Initialize();
        })
    </script>
}
<div id="mainContent" data-bind="template:{name: 'serviceInfoContentTemplate'}">

</div>
<script type="text/html" id="serviceInfoContentTemplate">
    <div class="text-right col-xs-12">
        <button type="button" data-bind="click: AddNewClick" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> &nbsp;New Request</button>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>S.No.</th>
            <th>Service Name</th>
            <th>Service Code</th>
            <th>Default Rate</th>
            <th>VAT Percentage</th>
            <th></th>
        </tr>
        </thead>
        <tbody data-bind="foreach:Records">
        <tr>
            <td>
                <span data-bind="text: $index() + 1"></span>
            </td>
            <td>
                <span data-bind="text: ServiceName"></span>
            </td>
            <td>
                <span data-bind="text:ServiceCode"></span>
            </td>
            <td>
                <span data-bind="text: DefaultRate"></span>
            </td>
            <td>
                <span data-bind="text: VATPercentage"></span>
            </td>
            <td>
                <a href="javascript:void(0)" title="edit" data-bind="click: $root.EditClick"><i class="fa fa-pencil"></i>&nbsp; Edit</a>
                <a href="javascript:void(0)" title="Edit Service Description" data-bind="click: $root.EditDescriptionClick"><i class="fa fa-pencil"></i>&nbsp; Edit Description</a>
            </td>
        </tr>
        </tbody>
    </table>
    @Html.Partial("_AddServiceModal", new ServiceInfoAddViewModel())
</script>