﻿@using EService.Web.App_GlobalResources
@using EService.Web.Models
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var message = ViewBag.Response as JsonResponseObject;

}

@section scripts{
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"></script>
    <script type="text/javascript">
        var isCaptchaVerified = false;
        var onloadCallback = function () {
            console.log('onloadcallback')
            grecaptcha.render('captcha', {
                'sitekey': '6LdguzIUAAAAAK4KwoJLQ4IKEBVYryegP6XpLglo',
                'callback': verifyCallback,
                'expired-callback': expiredCallback,
                'theme': 'light'
            });

        };

        var verifyCallback = function () {
            isCaptchaVerified = true;
        };
        var expiredCallback = function () {
            isCaptchaVerified = false;
        };
        $(function () {
            $('#btnLogin').click(function () {
                if ($('#frm').valid() && isCaptchaVerified) {
                    ajaxRequest('@Url.Action(("Index"))', 'POST', { data: { email: $('#email').val() } }, function(response) {
                        if (response.IsSuccess) {
                            toastr.success(response.Message)
                            window.location = '/';
                        }
                        else{
                            toastr.error(response.Message);
                        }
                    });
                }
                else {
                    toastr.error('Please provide email properly and verify the captcha')
                }
            });
        });
    </script>
}
<div class="login-form-wrap">
    <div class="row">
        <div class="col-md-6 col-sm-8">
            <h1>Enter Your Email</h1>
            <div classa="row">
                @if (message != null)
                {
                    if (message.IsSuccess)
                    {
                        <span class="alert alert-success">
                            @message.Message
                        </span>
                    }
                    else
                    {
                        <span class="alert alert-danger">
                            @message.Message
                        </span>
                    }
                }
            </div>
            @using (Html.BeginForm("Index", "ForgotPassword", FormMethod.Post, new { id = "frm" }))
            {
                <div class="form-group">
                    <input type="text" id="email" name="email" class="form-control" placeholder="Email" data-rule-reqiured="true" data-rule-email="true" />
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <div class="control-label">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div id="captcha" class="g-recaptcha" data-sitekey="6LdguzIUAAAAAK4KwoJLQ4IKEBVYryegP6XpLglo"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" name="login" value="Login" class="site-btn ladda-button" data-style="expand-left" id="btnLogin">
                        <span class="ladda-label">@GlobalResource.Submit</span>
                    </button>
                </div>
                <div class="form-group clearfix">
                    <a href="@Url.Action("Index", "Register", new {Area = ""})">Create an Account</a>
                    <a href="@Url.Action("Index", "Login", new {Area = ""})">Login</a>
                </div>
            }
        </div>
    </div>
</div>
