﻿@using EService.Web.App_GlobalResources
@model EService.Service.Model.ResponseObject<EService.Web.Models.ResetPasswordViewModel>

@{
    ViewBag.Title = "Forgot Pasword - Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#frm').validate({
                rules: {
                    password: { required: true },
                    confirmPassword: { required: true, equalTo: "#password" }
                },
                messages: {
                    password: { required: 'Password is required.' },
                    confirmPassword: { required: 'Confirm Password is required', equalTo: "Confirm Password must match password" }
                }
            });
        })
    </script>
}
@if (Model != null && Model.IsSuccess && Model.Data != null)
{
    //
    <div class="login-form-wrap">
        <div class="row">
            <div class="col-md-6 col-sm-8">
                @using (Html.BeginForm("Reset", "ForgotPassword", FormMethod.Post, new { id = "frm" }))
                {
                    <div class="form-group">
                        <input type="hidden" name="token" value="@Model.Data.Token" />
                        <input type="password" id="password" name="password" class="form-control" placeholder="Passwod" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Passwod" />
                    </div>
                    <div class="form-group">
                        <button type="submit" name="login" value="Change Password" class="site-btn ladda-button" data-style="expand-left" id="btnLogin">
                            <span class="ladda-label">@GlobalResource.ChangePassword</span>
                        </button>
                    </div>
                    <div class="form-group clearfix">
                        <a href="@Url.Action("Index", "Register", new {Area = ""})">Create an Account</a>
                        <a href="@Url.Action("Index", "Login", new {Area = ""})">Login</a>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="alert alert-danger">@Model?.Message</div>
    </div>
}
