﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@model  EService.Web.Models.GroundHandlingRequestViewModel

@{
    ViewBag.Title = "Ground Handling Request";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.groundHandling.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.groundHandling.InitializeCreate();
        })
    </script>
}
@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })
<div id="createContent" data-bind="template:{name: 'groundHandlingCreateTemplate', afterRender: CreateRenderComplete}"></div>

<script type="text/html" id="groundHandlingCreateTemplate">
    <div class="row">
        <span class="pull-right text-right">
            <b>     <span style="font-size: xx-large;">Ground Handling Request</span></b>
            <br />
            <button class="btn btn-info" data-bind="click: $root.SetUserInfo">Set User Information</button>
        </span>
    </div>
    <hr />
    @using (Html.BeginForm("Create", "BuildingHeightRequest", FormMethod.Post, new { id = "groundHandlingRequestForm", @class = "form-horizontal" }))
    {
        <!--ko with: AddNewModel-->
        <fieldset>
            <legend>Applicant Info</legend>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CompanyName)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", data_bind = "value:CompanyName" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.FirstName)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", data_bind = "value:FirstName" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.LastName)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", data_bind = "value:LastName" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.Address)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", data_bind = "value:Address" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.Email)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", data_bind = "value:Email" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.Phone)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", data_bind = "value:Phone" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.Fax)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", data_bind = "value:Fax" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.SITATEX)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SITATEX, new { @class = "form-control", data_bind = "value:SITATEX" })
                </div>
            </div>

        </fieldset>
        <fieldset>
            <legend>Aircraft Info</legend>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.InboundDateTimeUTC)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.InboundDateTimeUTC, new { @class = "form-control", data_bind = "dateAndTimePicker:InboundDateTimeUTC" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.From)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.From, new { @class = "form-control", data_bind = "value:From" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.ETAUTC)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ETAUTC, new { @class = "form-control", data_bind = "datePicker:ETAUTC" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.OutboundDateTimeUTC)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.OutboundDateTimeUTC, new { @class = "form-control", data_bind = "dateAndTimePicker:OutboundDateTimeUTC" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.To)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.To, new { @class = "form-control", data_bind = "value:To" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.ETDUTC)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ETDUTC, new { @class = "form-control", data_bind = "datePicker:ETDUTC" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label>Request For</label>
                </div>
                <div class="col-sm-8">
                    <ul data-bind="foreach: GroundHandlingArcraftTypes">
                        <li>
                            <label>
                                <input type="checkbox" name="GroundHandlingArcraftTypes" data-bind="checked:IsSelected, checkedValue: true" />
                                <span data-bind="text:Description"></span>
                            </label>
                            <!--ko if: IsOther-->
                            <input type="text" class="form-control" data-bind="" />
                            <!--/ko-->
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.Weight, "Type of Aircraft Weight (Kgs)")
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", data_bind = "value:Weight", data_rule_number = "true" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftRegistration)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.AircraftRegistration, new { @class = "form-control", data_bind = "value:AircraftRegistration" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.RequestWBCalculation)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="RequestWBCalculation" data-bind="checked:RequestWBCalculation, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.LoadingInstruction)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="LoadingInstruction" data-bind="checked:LoadingInstruction, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.RequestWBCalculation)
                    </div>
                    <div class="col-sm-8">
                        <label>
                            <input type="checkbox" name="RequestWBCalculation" data-bind="checked:RequestWBCalculation, checkedValue: true" />
                            <span></span>
                        </label>
                    </div>
                </div>*@
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.METOrATSDelivery)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="METOrATSDelivery" data-bind="checked:METOrATSDelivery, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.NoOfDepartingPassengers)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.NoOfDepartingPassengers, new { @class = "form-control", data_bind = "value:NoOfDepartingPassengers", data_rule_number = "true" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.NoOfArrivingPassengers)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.NoOfArrivingPassengers, new { @class = "form-control", data_bind = "value:NoOfArrivingPassengers", data_rule_number = "true" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.PermittedToAddGood)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="PermittedToAddGood" data-bind="checked:PermittedToAddGood, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.HasSpecialPermission)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="HasSpecialPermission" data-bind="checked:HasSpecialPermission, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>


        </fieldset>

        <fieldset>
            <legend>Cargo Offloading</legend>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CargoLoadingType)
                </div>
                <div class="col-sm-8">
                    <ul>
                        <li>
                            <label> <input type="radio" data-bind="checked: CargoLoadingType, checkedValue: true" /><span>ULD</span></label>
                        </li>

                        <li>
                            <label> <input type="radio" data-bind="checked: CargoLoadingType, checkedValue: false" /><span>BULK</span></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CoLNoOfULD)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CoLNoOfULD, new { @class = "form-control", data_bind = "value:CoLNoOfULD", data_rule_number = "true" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CoLULDWeight)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CoLULDWeight, new { @class = "form-control", data_bind = "value:CoLULDWeight", data_rule_number = "true" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CoLTypeOfDG)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CoLTypeOfDG, new { @class = "form-control", data_bind = "value:CoLTypeOfDG" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CoLQuantityOfDG)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CoLQuantityOfDG, new { @class = "form-control", data_bind = "value:CoLQuantityOfDG", data_rule_number = "true" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CoLOtherSpecialCargo)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CoLOtherSpecialCargo, new { @class = "form-control", data_bind = "value:CoLOtherSpecialCargo" })
                </div>
            </div>

        </fieldset>
        <fieldset>
            <legend>Cargo Loading</legend>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CLTypeOfDG)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CLTypeOfDG, new { @class = "form-control", data_bind = "value:CLTypeOfDG" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CLNoOfULD)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CLNoOfULD, new { @class = "form-control", data_bind = "value:CLNoOfULD", data_rule_number = "true" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CLDGWeight)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CLDGWeight, new { @class = "form-control", data_bind = "value:CLDGWeight", data_rule_number = "true" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CLQuantityDG)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CLQuantityDG, new { @class = "form-control", data_bind = "value:CLQuantityDG", data_rule_number = "true" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.CLOtherSpecialCargo)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CLOtherSpecialCargo, new { @class = "form-control", data_bind = "value:CLOtherSpecialCargo" })
                </div>
            </div>
        </fieldset>
        <fieldset data-bind="with:AircraftCleaning">
            <legend>Aircraft Interior cleaning</legend>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.FumigationRequired)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="FumigationRequired" data-bind="checked:FumigationRequired, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.WasingRequired)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="WasingRequired" data-bind="checked:WasingRequired, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.Pushback)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="Pushback" data-bind="checked:Pushback, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.PassengerStairs)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="PassengerStairs" data-bind="checked:PassengerStairs, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.ToiletService)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="ToiletService" data-bind="checked:ToiletService, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.PowerType)
                </div>
                <div class="col-sm-8">
                    <input type="text" name="PowerType" data-bind="value:PowerType" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.ASUHours)
                </div>
                <div class="col-sm-8">
                    <input type="text" name="ASUHours" data-bind="value:ASUHours" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalPlatformCRJ)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="AdditionalPlatformCRJ" data-bind="checked:AdditionalPlatformCRJ, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.SecuritySurveillanceForRAmpHours)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="SecuritySurveillanceForRAmpHours" data-bind="checked:SecuritySurveillanceForRAmpHours, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.StandbyFireFighting)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="StandbyFireFighting" data-bind="checked:StandbyFireFighting, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.HotelBooking)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="HotelBooking" data-bind="checked:HotelBooking, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalManpower)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="AdditionalManpower" data-bind="checked:AdditionalManpower, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalRequirements)
                </div>
                <div class="col-sm-8">
                    <input type="text" name="AdditionalRequirements" data-bind="value:AdditionalRequirements" />
                </div>
            </div>

        </fieldset>
        <!--/ko-->
        @Html.Partial("_FileUploader")
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="button" data-role="save" data-style="expand-left" value="@GlobalResource.Submit" class="btn btn-primary ladda-button" data-bind="click: $root.SaveRequest">@GlobalResource.Submit</button>
                <button type="button" data-role="draft" data-style="expand-left" value="@GlobalResource.SubmitDraft" class="btn btn-primary ladda-button" data-bind="click: $root.SaveDraftRequest">@GlobalResource.SubmitDraft</button>
                <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId = (int) ServiceEnum.GroundHandlingRequest})">@GlobalResource.Cancel</a>
            </div>
        </div>
    }
</script>