﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" initial-scale=1>
    <meta name="viewport" content="width=device-width">
    <title>Homepage Fujairah</title>

    <!-- Linking Favicon -->

    <link rel="shortcut icon" href='@Url.Content("~/images/favicon/favicon.ico")' type="image/x-icon" />
    <link rel="apple-touch-icon" href='@Url.Content("~/images/favicon/apple-touch-icon.png")' />
    <link rel="apple-touch-icon" sizes="57x57" href='@Url.Content("~/images/favicon/apple-touch-icon-57x57.png")' />
    <link rel="apple-touch-icon" sizes="72x72" href='@Url.Content("~/images/favicon/apple-touch-icon-72x72.png")' />
    <link rel="apple-touch-icon" sizes="76x76" href='@Url.Content("~/images/favicon/apple-touch-icon-76x76.png" )' />
    <link rel="apple-touch-icon" sizes="114x114" href='@Url.Content("~/images/favicon/apple-touch-icon-114x114.png")' />
    <link rel="apple-touch-icon" sizes="120x120" href='@Url.Content("~/images/favicon/apple-touch-icon-120x120.png")' />
    <link rel="apple-touch-icon" sizes="144x144" href='@Url.Content("~/images/favicon/apple-touch-icon-144x144.png")' />
    <link rel="apple-touch-icon" sizes="152x152" href='@Url.Content("~/images/favicon/apple-touch-icon-152x152.png" )' />
    <link rel="apple-touch-icon" sizes="180x180" href='@Url.Content("~/images/favicon/apple-touch-icon-180x180.png")' />

    <!-- Linking Styles -->

    <link rel="stylesheet" href='@Url.Content("~/css/bootstrap.css")'>
    <link rel="stylesheet" href='@Url.Content("~/css/font-awesome.css")'>
    <link rel="stylesheet" href='@Url.Content("~/css/jquery.bxslider.css")'>
    <link rel="stylesheet" href='@Url.Content("~/css/normalize.css")'>
    <link rel="stylesheet" href='@Url.Content("~/css/style.css")'>
    <link rel="stylesheet" href='@Url.Content("~/css/responsive.css")'>

</head>
<body>


<!-- Top header -->
<div id="top-header" class="top-header">
	<div class="container-fluid">
		<div class="col-md-6">
			<div class="top-header-left">
				<span>
                    <img src='@Url.Content("~/images/weather.png")'>
				</span>
				<p>39°C  Fujairah, UAE. Saturday June 10, 2017. Ramadan 15, 1438</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="top-header-right">
				<ul class="contact">
					<li>
						<a href="/contact-us/">Contact Us</a>
					</li>
					<li>
						<a href="">العربية</a>
					</li> 
				</ul>
				<ul class="contact-details">
					<li>
                        <img src='@Url.Content("~/images/message.png")'>
						<span>info@fujairah-airport.com</span>
					</li>
					<li>
                        <img src='@Url.Content("~/images/phone.png")'>
						<span>+971 9 222 6222</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Top header -->


<!-- Page header -->
<header id="header" class="site-header">
	<div class="container-fluid">
		<div class="col-md-4 col-sm-4 no-padding">
            <a href='' class="site-logo">
                <img src='@Url.Content("~/images/logo.png")'>
            </a>
		</div>
		<div class="col-md-8 col-sm-8">
			<div class="header-right">
				<ul>
					<li class="has-megamenu">
                        <a href='/travellers/'>
                            <figure><img src='@Url.Content("~/images/travellers.png")'></figure>
                            <span class="t-details">
                                <h4>Travellers</h4>
                                <p>Airport Info, luggage guide, lost & found</p>
                            </span>
                        </a>
						<div class="mega-menu clearfix">
							<div class="mega-menu-left">
								<h2 class="page-title">
									Travellers
								</h2>
								<p>
									<span>Marhaba.</span> A warm welcome to you from Fujairah International Airport where we take pride in connecting you with the resources and information you will need to make your stay in our Emirate as pleasing and eventful as possible. Whether you are here on business or just need time to unwind with family and friends, the Emirate of Fujairah is the place to do it.
								</p>

								<p>
									Fujairah is surrounded by beautiful desert mountains and seas, with direct access to the Indian Ocean, we offer unparalleled adventures ranging from deep sea sport fishing to desert outings. Through our diverse cultural community, you can explore our historical sites and points of interest, such as mosques, forts, wadis, waterfalls and beaches.
								</p>

								<p>
									Come take a look around and see how FUJAIRAH INTERNATIONAL AIRPORT can start connecting you on your memorable stay.
								</p>
							</div>
							<div class="mega-menu-middle">
								<div class="menu-inner">
									<p>Airport Information</p>
									<ul>
										<li><a href="/arrival-departure/">Arrivals and Departures</a></li>
										<li><a href="/check-in-and-baggage/">Check-in and Baggage</a></li>
									</ul>
								</div>
								<div class="menu-inner">
									<p>Getting around the Airport</p>
									<ul>
										<li><a href="/driving-direction/">Driving Direction</a></li>
										<li><a href="/where-to-park/">Where to Park</a></li>
										<li><a href="/checking-in/">Checking In</a></li>
										<li><a href="/luggage-guidance/">Luggage Guideline</a></li>
										<li><a href="/relaxing-inside/">Relaxing Inside</a></li>
									</ul>
								</div>
								<div class="menu-inner">
									<p>Shop and Dine</p>
									<ul>
										<li><a href="javascript:void(0);">Dining</a></li>
										<li><a href="/duty-free-shipping/">Duty Free Shop</a></li>
									</ul>
								</div>
							</div>
							<div class="mega-menu-right">
								<div class="menu-inner">
									<p>Passenger Services</p>
									<ul>
										<li><a href="/relaxing-inside/">Airport Lounges</a></li>
										<li><a href="/terminal-map/">Terminal Maps</a></li>
										<li><a href="/visa-information/">Visa Information</a></li>
										<li><a href="/lost-found/">Lost and Found</a></li>
										<li><a href="/security-custom/">Security and Customs</a></li>
									</ul>
								</div>
								<div class="menu-inner">
									<p>Discover Fujairah</p>
									<ul>
										<li><a href="javascript:void(0);">About Fujairah</a></li>
										<li><a href="javascript:void(0);">Exploring - Activities and events</a></li>
										<li><a href="javascript:void(0);">How to move around - Transportation</a></li>
										<li><a href="javascript:void(0);">External links</a></li>
										<li><a href="/Radar/">Flight Radar</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="active">
                        <a href='/corporatehome/'>
                            <figure><img src='@Url.Content("~/images/corporate.png")'></figure>
                            <span class="c-details">
                                <h4>Corporate</h4>
                                <p>eServices, business with FIA, about, media</p>
                            </span>
                        </a>
					</li>
					<li class="search">
                        <a href='javascript:void(0);'>
                            <span><img src='@Url.Content("~/images/search-icon.png")'></span>
                        </a>
						<form class="form search-form">
							<input type="text" class="form-control" placeholder="Search FIA">
							<button type="submit" class="input-btn"><i class="fa fa-search"></i></button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- Page header -->

<!-- Site Navigation -->
<div id="site-navigation" class="site-navigation">
    <ul>
        <li><a href="javascript:void(0);">eServices</a></li>
        <li class="has-dropdown">
            <a href="javascript:void(0);">
                Why Connect to FIA<i class="fa fa-angle-down"></i>
            </a>
            <ul>
                <li><a href="javascript:void(0);">Airport Services - Information</a></li>
                <li><a href="/current-status/">Stats and Information (FUJ/UAE)</a></li>
                <li><a href="/cargo-services/">Moving your Cargo</a></li>
                <li><a href="/maintenance-repair-overhaul/">MRO - Maintenance, Repair and Operations</a></li>
                <li><a href="javascript:void(0);">FBO - VIP Services</a></li>
                <li><a href="/catering/">Catering</a></li>
                <li><a href="/operational-and-runaway-info/">AIP - Operational & Runway Info</a></li>
                <li><a href="/fueling-service/">Fueling</a></li>
                <li><a href="javascript:void(0);">Achievements</a></li>
                <li><a href="/open-spaces-and-leasing/">Open Spaces & Leasing</a></li>
                <li><a href="javascript:void(0);">Rescue & Fire Fighting Services</a></li>
            </ul>
        </li>
        <li class="has-dropdown active">
            <a href="javascript:void(0);">Connect your Business<i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
            </ul>
        </li>
        <li><a href="javascript:void(0);">Landing Permission</a></li>
        <li class="has-dropdown">
            <a href="javascript:void(0);">Entry Pass<i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="javascript:void(0);">About FIA<i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="javascript:void(0);">Media<i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Home</a></li>
            </ul>
        </li>
    </ul>
    
    @*@Html.Partial("~/Views/Partials/Breadcrumb.cshtml")
    @RenderSection("subnav", required: false)*@
</div>
<!-- Site Navigation End -->

    @RenderBody()

    <!-- SOCIAL LINKS SECTION -->
    <section id="social-links" class="social-links">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="follow-instagram">
                        <div class="instagram-heading">
                            <h2>@@fujairport</h2>
                            <p>Follow us on Instagram.</p>
                        </div>
                        <div class="instagram-feeds">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src='@Url.Content("~/images/instagram.png")'>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src='@Url.Content("~/images/instagram1.png")'>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src='@Url.Content("~/images/instagram2.png")'>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src='@Url.Content("~/images/instagram3.png")'>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src='@Url.Content("~/images/instagram4.png")'>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src='@Url.Content("~/images/instagram5.png")'>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="follow-twitter">
                        <div class="twitter-heading">
                            <h2>@@fujairport</h2>
                            <p>Follow us on Twitter</p>
                        </div>
                        <div class="twitter-block clearfix">
                            <div class="twitter-img">
                                <img src='@Url.Content("~/images/twitter.png")'>
                            </div>
                            <div class="twitter-desc">
                                <h5>Fujairah Airport<span> @@fujairport</span></h5>
                                <p>8:05 AM - 26 May 2017</p>
                                <a href="" class="tweet-link">instagram.com/p/BUj1me-BxNk/<span>كل عام وانتم بخير</span></a>
                            </div>
                        </div>
                        <div class="twitter-block clearfix">
                            <div class="twitter-img">
                                <img src='@Url.Content("~/images/twitter.png")'>
                            </div>
                            <div class="twitter-desc">
                                <h5>Fujairah Airport<span> @@fujairport</span></h5>
                                <p>8:05 AM - 26 May 2017</p>
                                <a href="" class="tweet-link">instagram.com/p/BUj1me-BxNk/<span>كل عام وانتم بخير</span></a>
                            </div>
                        </div>
                        <div class="twitter-block clearfix">
                            <div class="twitter-img">
                                <img src='@Url.Content("~/images/twitter.png")'>
                            </div>
                            <div class="twitter-desc">
                                <h5>Fujairah Airport<span> @@fujairport</span></h5>
                                <p>8:05 AM - 26 May 2017</p>
                                <a href="" class="tweet-link">instagram.com/p/BUj1me-BxNk/<span>كل عام وانتم بخير</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SOCIAL LINKS SECTION -->
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="travellers">
                        <h5>Travellers</h5>
                        <ul>
                            <li><a href="/airport-introduction/">Airport Information</a></li>
                            <li><a href="/getting-around-the-airport/">Getting around the Airport</a></li>
                            <li><a href="/shop-and-dine/">Shop and Dine</a></li>
                            <li><a href="/PassengerServices/">Passenger Services</a></li>
                            <li><a href="/discover-fujairah/">Discover Fujairah</a></li>
                            <li><a href="">What’s in our Sky?</a></li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="travellers subscribe">
                        <ul>
                            <li><a href="">Subscribe to newsletter</a></li>
                            <li><a href="">Employee Email</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="corporate">
                        <h5>Corporate</h5>
                        <ul>
                            <li><a href="">eServices</a></li>
                            <li><a href="">Why Connect to FIA?</a></li>
                            <li><a href="/connect-to-business/">Connect your Business</a></li>
                            <li><a href="">Landing Permission</a></li>
                            <li><a href="">Entry Pass	</a></li>
                            <li><a href="">About FIA</a></li>
                            <li><a href="">Media</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="fia-contact-list">
                        <h5>Fujairah International Airport</h5>
                        <ul>
                            <li>+971 9 222 6222</li>
                        </ul>
                        <ul class="info-link">
                            <li>info@fujairah-airport.com</li>
                            <li class="get-link">Getting here & Parking</li>
                        </ul>
                    </div>
                    <div id="map" class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d461759.41402690427!2d55.88946142025246!3d25.287553877242736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef4323d9028b95f%3A0xa6c1b11bdbb33cbc!2sFujairah+-+United+Arab+Emirates!5e0!3m2!1sen!2snp!4v1497532170443" width="100%" height="226" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="em-contact-numbers">
                        <h5>Emergency Contact Numbers</h5>
                        <ul>
                            <li><span>Police : </span>999</li>
                            <li><span>Civil defence : </span>997</li>
                            <li><span>Ambulance : </span>998/999</li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <p>
                            © Fujairah International Airport. All Rights Reserved. Site by GO-Gulf
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->





    <script type="text/javascript" src='@Url.Content("~/js/jquery.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/js/bootstrap.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/js/jquery.bxslider.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/js/main.js")'></script>
    @RenderSection("Scripts")
</body>
</html>




