﻿@model FIA.CMS.Entities.UserLogin
<div style=" direction: rtl;">
    <p>
        عزيزي مقدم الطلب،
    </p>
    <p>
        شكراً لاهتمامك  بالتسجيل بخدمة التوظيف في موقعنا ،. ان تسجيل سيرتك الذاتية لا يعني بالضرورة حصولك على عرض عمل في المطار. إذا تم قبول السيرة الذاتية الخاصة بك لوظيفة شاغرة، سيتم إعلامك من قبل الموارد البشرية لإجراء مقابلة.
    </p>
    <p>
        يرجى العلم أنه نظرا لكثرة الطلبات الواردة إلينا نحن غير قادرين على الاتصال بكافة المتقدمين ؛ ومع ذلك، سيرتك الذاتية ستبقى في قاعدة البيانات الخاصة بنا للنظر بها في المستقبل.

    </p>
    <p>
        يرجى الاحتفاظ بتفاصيل تسجيل الدخول لاستخدامها في المستقبل:  <br /> Username: @Model.UserName <br /> Password: @Model.Password

    </p>
    <p>
        هذه رسالة تلقائية ، يرجي عدم الرد عليها

    </p>
    <p>
        مع خالص تحياتنا

    </p>
    <p>
        قسم الموارد البشرية
    </p>
    <p></p>
</div>








