﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
	var childrenItems = CurrentPage.Children();
}

@* the fun starts here *@
<section id="page-section" class="page-section connect-bus-page-section">
	<div class="container">
<h2 class="page-title text-left">About Fujairah International Airport</h2>
@foreach (var item in childrenItems)
{
    <div class="fia-column-block">
        <div class="row">
            <div class="col-md-6">
                <div class="column-image">
                    <img src="@item.image" alt="@item.imageAlt">
                </div>
            </div>
            <div class="col-md-6">
                <div class="column-desc">
                    <h2 class="page-title">@item.title</h2>
                    <p class="page-desc">
                        @item.description
                    </p>
                    @item.bottomContent
                </div>
            </div>
        </div>
    </div>
}
</div>
</section>