﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_MainLayout.cshtml";
}

@{
    Html.RenderAction("RenderHomePageSlider", "Home");
}

<!-- Fia Section -->
<section id="page-section" class="page-section why-fia-page-section">
	<div class="container">
        <div class="why-connect-fia-content-wrap">
           @CurrentPage.GetGridHtml("topDescription", "Bootstrap3")
            <div class="achievements-block">
                @CurrentPage.GetGridHtml("achievement", "Bootstrap3")
            </div>
            <div class="states-info">
                @CurrentPage.GetGridHtml("middleDescription", "Bootstrap3")
            </div>
            <div class="project-block-wrap" style="display:none">
                @{
                    Html.RenderAction("RenderArcheTypeContent", "DefaultContent");
                }
            </div>
        </div>
	</div>
</section>

<!-- Airport Services -->
<section id="airport-services" class="airport-services connect-page-serv">
	<div class="container">
	    @CurrentPage.GetGridHtml("bottomDescription", "Bootstrap3")
	    <div class="services-list-collapsible">
	            @CurrentPage.GetGridHtml("accordion")
	    </div>
	</div>
</section>