﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

@* the fun starts here *@

<!-- Site Banner -->
<section id="banner" class="site-banner">
	<div class="banner-image">
		<img src='@Url.Content("~/images/entry-pass-banner.jpg")' alt="Entry Pass">
	</div>
	<div class="slider-caption">
		<div class="inner-slider-caption">
			<h1>Introduction</h1>
		</div>
	</div>
</section>
<!-- Site Banner -->


<!-- Fia Section -->
<section id="page-section" class="page-section page-introduction">
	<div class="container">
		<div class="our-strength">
			<h2 class="page-title">
				Our Strength
			</h2>
			<p class="page-desc">
				We believe every individual plays a vital role in our airport. Our philosophy is that everyone has outstanding capabilities and unique perspectives with which they contribute towards the airport development.
			</p>
			<p class="page-desc">
				It is our employees with their diverse cultural, ethnic and varying educational backgrounds which creates a more dynamic working environment at our airport. We realize an organization is as good as the people that work for it. That is why we are continuously seeking ways to improve our employees&#39; skills and capabilities. With our ability to think into the continual growing future of the airport business, we look at newer ways to be efficient in our processes and customer focus.
			</p>
		</div>
		<div class="evolving-history">
			<h2 class="page-title">
				Our Evolving History
			</h2>
			<p class="page-desc">
				Fujairah International Airport commenced operations in October 1987 under the vision of His Highness Sheik Hamad bin Mohammed Al Sharqi. Seeing the potential of what Fujairah can offer to the transportation sector, he embarked on a mission to connect Fujairah through the skies and make it a place for travelers and businesses to relax and enjoy the warm hospitality that Fujairah is known for. Through the years, the airport has seen many expansions to create better connections and airline services. This included the construction of warehousing, aircraft maintenance facilities and airline offices. Under the wise guidance of His Highness Sheik Salah Al Sharqi, Chairman of the Department of Industry and Economy, his vision today has led the airport to expand again with additional parallel runway, taxiways, aprons, modern facilities including a new iconic Air Traffic Control Tower.
			</p>
		</div>
		<div class="defining-our-mission">
			<h2 class="page-title">
				Defining Our Mission through Focused Vision
			</h2>
			<p class="page-desc">
				As the falcon has keen vision from above, Fujairah International Airport has continuing mission to support the Emirate of Fujairah and its citizens. In meeting our mission, like the falcon, we focus our vision to specific and continual objectives by:
			</p>
			<ul class="column-list">
				<li>Growing and nurturing our future and current customers in strengthening our financial position.</li>
				<li>Empowering our employees in their performance and knowledge through continuing education and training.</li>
				<li>Identifying methods and practices that instill a safety culture for our employees and customers in all aspects of our business units.</li>
				<li>Effective navigation of new airline regulations that creates an effective and growing business environment.</li>
			</ul>
		</div>
	</div>
</section>
<!-- Fia Section -->