﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

@* the fun starts here *@


<!-- Site Banner -->
<section id="banner" class="site-banner">
	<div class="banner-image">
		<img src='@Url.Content("~/images/check-baggage-banner.jpg")' alt="Arrivals Departures">
	</div>
	<div class="slider-caption">
		<div class="inner-slider-caption">
			<h1>Check-in<br>and Baggage</h1>
		</div>
	</div>
</section>

<!-- Site Banner -->

<!-- Menu Page Section -->
<section id="page-section" class="page-section check-baggage">
	<div class="container">
		<p class="page-desc">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo congue erat a ornare. Nulla eget iaculis nulla. Curabitur sodales lectus nec enim aliquam elementum. Aliquam vestibulum luctus turpis id hendrerit. Curabitur a hendrerit ex. Duis sollicitudin aliquet dolor, id bibendum odio tempus sit amet. Ut varius ipsum mauris, non pretium ante pulvinar ut. Cras suscipit elit id nisi cursus sagittis. In bibendum, urna in commodo faucibus, erat lectus dapibus metus, nec aliquam neque mi vitae mauris. Cras ac dapibus nisl, at fermentum quam. Aliquam erat volutpat. Sed at metus maximus, ullamcorper ex eget, suscipit ligula. Vestibulum pretium tempor dignissim. Aliquam varius magna a dolor vulputate, ac commodo arcu efficitur. Sed sit amet tempor ex.
		</p>
	</div>
</section>

<!-- Menu Page Section -->


<!-- FIA TWO COLUMN SECTION -->
<section id="page-section" class="page-section">
	<div class="container">
		<div class="fia-column-block">
			<div class="row">
				<div class="col-md-6">
					<div class="column-image">
						<img src='@Url.Content("~/images/trolleys.jpg")' alt="Trolleys">
					</div>
				</div>
				<div class="col-md-6">
					<div class="column-desc">
						<h2>Trolleys</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fia-column-block">
			<div class="row">
				<div class="col-md-6">
					<div class="column-image">
						<img src='@Url.Content("~/images/short-temp.jpg")' alt="Short Temp">
					</div>
				</div>
				<div class="col-md-6">
					<div class="column-desc">
						<h2>Short-temp storage</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- FIA TWO COLUMN SECTION -->

