﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}
@section Scripts{
<script type="text/javascript">
    var onloadCallback = function () {
        grecaptcha.render('example3', {
            'sitekey': '6LdguzIUAAAAAK4KwoJLQ4IKEBVYryegP6XpLglo',
            'callback': verifyCallback,
            'theme': 'dark'
        });

    alert("grecaptcha is ready!");
  };
    var verifyCallback = function () {
        alert('captcha success');
    }
</script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&oncallback=onSuccessCallback"
        async defer>
</script>
}

<!-- Site Banner -->
<section id="banner" class="site-banner">
	<div class="banner-image">
		<img src='@Url.Content("~/images/contact-banner.jpg")' alt="Contact Us">
	</div>
	<div class="slider-caption">
		<div class="inner-slider-caption">
			<h1>Contact Us</h1>
		</div>
	</div>
</section>
<!-- Site Banner -->


<!-- Fia Section -->
<section id="page-section" class="page-section page-contactus">
	<div class="container">
		<div class="contactus-content-wrap">
			<div class="contact-details-block clearfix">
				<div class="details-left">
					<p>
						The Fujairah International Airport,<br>
						Department of Civil Aviation,<br>
						Goverment of Fujairah,<br>
						P. O. Box 977 - Fujairah,<br>
						United Arab Emirates.<br>
					</p>
				</div>
				<div class="details-right">
					<ul>
						<li><span>Telephone : </span>+971 9 2226222</li>
						<li><span>Fax : </span>+971 9 2241414</li>
						<li><span>Email : </span><a href="javascript:void(0);">
						info@fujairah-airport.com</a></li>
					</ul>
				</div>
			</div>
			<div class="custom-tabs">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#getouch" aria-controls="getouch" role="tab" data-toggle="tab">
						<span>Get in Touch</span>
					</a>
					</li>
					<li role="presentation"><a href="#driving" aria-controls="driving" role="tab" data-toggle="tab">
						<span>Driving Direction</span>
					</a>
					</li>
					<li role="presentation"><a href="#p-services" aria-controls="p-services" role="tab" data-toggle="tab">
						<span>Passenger Services</span>
					</a>
					</li>
					<li role="presentation"><a href="#corporate" aria-controls="corporate" role="tab" data-toggle="tab">
						<span>Corporate Services</span>
					</a>
					</li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="getouch">
						<div class="tab-inner-content">
							<h2 class="page-title">
								Get in Touch
							</h2>
							<form class="form select-entry getouch-form">
								<div class="select-touch-wrap">
									<div class="radio">
										<label>
											<input type="radio" name="radio">
											<span>Suggestion</span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="radio">
											<span>Complaints</span>
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="radio">
											<span>Lost and Found</span>
										</label>
									</div>
								</div>
								<div class="form-group clearfix">
									<label>First Name</label>
									<input type="text" class="form-control" name="f-name">
								</div>
								<div class="form-group clearfix">
									<label>Last Name</label>
									<input type="text" class="form-control" name="l-name">
								</div>
								<div class="form-group clearfix">
									<label>Email</label>
									<input type="text" class="form-control" name="email">
								</div>
								<div class="form-group clearfix">
									<label>Nationality</label>
									<select class="form-control selectpicker ">
							          <option disabled="disabled">Nationality</option>
							          <option>Nepalese</option>
							          <option>Chinese</option>
							          <option>American</option>
							          <option>Pakistani</option>
							        </select>
								</div>
								<div class="select-service">
									<h4>Select the service you want us to improve</h4>
									<div class="select-check-wrap clearfix">
										<div class="select-check-left">
											<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Airline Check-in
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Baggage Delivery
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Customs
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Duty Free
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Immigration
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Lounge Others
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Meeting Service
		                                            </span>
		                                        </label>
	                                    	</div>
                                    	</div>
                                    	<div class="select-check-right">
											<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Restaurant
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                               Security
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Transit
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Transport
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Visa Desk
		                                            </span>
		                                        </label>
	                                    	</div>
	                                    	<div class="checkbox">
		                                        <label>
		                                            <input type="checkbox">
		                                            <span>
		                                                Others
		                                            </span>
		                                        </label>
	                                    	</div>
										</div>
										<input type="text" class="form-control select-oth" name="">
									</div>
								</div>
								<div class="form-group has-textarea clearfix">
									<label>Message</label>
									<textarea class="form-control" name="msg" rows="8"></textarea>
								</div>
								<div class="form-group clearfix">
                                    <div class="g-recaptcha" data-sitekey="6LdguzIUAAAAAK4KwoJLQ4IKEBVYryegP6XpLglo"></div>
								</div>
								<div class="form-group">
									<label></label>
									<button class="btn site-btn btn-submit">Submit</button>
								</div>
							</form>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="driving">
						<div class="tab-inner-content">
							
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="p-services">
						<div class="tab-inner-content">
							
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="corporate">
						<div class="tab-inner-content">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Fia Section -->
@* the fun starts here *@

