﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

@* the fun starts here *@

<!-- Site Banner -->

<section id="banner" class="site-banner">
    <div class="banner-image">
        <img src="/images/slider4.jpg" alt="Airport">
    </div>
    <div class="slider-caption">
        <div class="inner-slider-caption">
            <h1>FIA <br>is connected<br> to you</h1>
        </div>
    </div>
</section>

<!-- Site Banner -->
<!-- Why FIA -->
<section id="page-section" class="page-section landing-page">
    <div class="container">
        <div class="whyfia-desc">
            <h2 class="page-title text-left">Why Connect to FIA</h2>
            <h5 class="page-desc">
                @CurrentPage.whyConnectToFIADescription
                </h5>
        </div>
        <div class="fia-advantages">
           @CurrentPage.fIAAdvantages
        </div>
        <h5 class="short-desc">
        @CurrentPage.whyConnectToFIABottomDescription    
            
            </h5>
    </div>
</section>
<!-- Why FIA -->
<!-- Airport Services -->
<section id="airport-services" class="airport-services">
    <div class="container">
        <h2 class="page-title">Airport Services</h2>
        <h5 class="page-desc">
            @CurrentPage.airportServicesInformation
            </h5>
        <div class="services-img-column clearfix">
            <div class="col-md-6 col-sm-6">
                <div class="services-img">
                    <img src="/images/fia-service-1.jpg">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="services-img">
                    <img src="/images/fia-service-2.jpg">
                </div>
            </div>
        </div>
        <div class="services-list-collapsible">

            <div class="panel-group services-panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Moving your Cargo
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="services-collapse-content">
                                <p>
                                    @CurrentPage.movingYourCargo
                                </p>
                            </div>
                            <div class="services-collapse-img">
                                <img src="/images/ser-collapse-img1.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                MRO - Maintenance, Repair and Operations
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            @CurrentPage.mRODescription
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                FBO - VIP Services
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            @CurrentPage.fboDescription
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                Air Line Catering
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                        <div class="panel-body">
                            @CurrentPage.airlineCatering
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                AIP - Operational & Runway Info
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                        <div class="panel-body">
                            @CurrentPage.aipDescription
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingsix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                Fueling
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                        <div class="panel-body">
                            @CurrentPage.fuelingInfo
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingseven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                Open Spaces & Leasing
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
                        <div class="panel-body">
                            @CurrentPage.openSpacesDescription
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingeight">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                                Rescure & Fire Fighting Services
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
                        <div class="panel-body">
                            @CurrentPage.fireFightingDescription
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Airport Services -->
<!-- FIA TWO COLUMN SECTION -->
<section id="page-section" class="page-section landing-page-corp">
    <div class="container">
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src="/images/corporate-image.png" alt="corporate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2 class="page-title">Connect Your Business</h2>
                        <p class="page-desc">
                            @CurrentPage.connectYourBusinessDescription
                            </p>
                        <ul class="column-list">
                            <li><a href="javascript:void(0);">Logistic Hub</a></li>
                            <li><a href="javascript:void(0);">Warehousing</a></li>
                            <li><a href="javascript:void(0);">Aircraft Maintenance</a></li>
                            <li><a href="javascript:void(0);">Special Cargo Handling (Live Animal/DG, etc)</a></li>
                            <li><a href="javascript:void(0);">Promoting your Business- Advertising Space</a></li>
                            <li><a href="javascript:void(0);">Airline/Commercial Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src="/images/landing-image1.jpg" alt="business">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2 class="page-title">Landing Permission</h2>
                        <p class="page-desc has-break">
                            FIA has an open sky policy. To apply for landing permissions, connect here on instructions and contact information.</p>
                        <a href="" class="btn site-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src="/images/aeroplane.jpg" alt="aeroplane">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2 class="page-title">About FIA</h2>
                        <p class="page-desc">
                            We believe every individual plays a vital role in our airport. Our philosophy is that everyone has outstanding capabilities and unique perspectives with which they contribute towards the airport development.</p>
                        <ul class="column-list">
                            <li><a href="javascript:void(0);">Introduction</a></li>
                            <li><a href="javascript:void(0);">DCA Chairman Message</a></li>
                            <li><a href="javascript:void(0);">Social Responsibility</a></li>
                            <li><a href="javascript:void(0);">Team Connection</a></li>
                            <li><a href="javascript:void(0);">Be a Part of FIA</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src="/images/entry-pass.jpg" alt="entry-pass">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2 class="page-title">Entry Pass</h2>
                        <p class="page-desc">Fujairah is a great destination to unwind and relax. With our beautiful shorelines, you can watch the sunrise while sipping your coffee. If you are out for an evening stroll on the Corniche, stop by at the food trucks for the different international flavors.</p>
                        <ul class="column-list">
                            <li><a href="javascript:void(0);">Vehicle Entry Pass</a></li>
                            <li><a href="javascript:void(0);">Individual Entry Pass</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src="/images/media.jpg" alt="media">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2 class="page-title">Media</h2>
                        <p class="page-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                        <ul class="column-list">
                            <li><a href="javascript:void(0);">News and Press Release</a></li>
                            <li><a href="javascript:void(0);">Gallery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIA TWO COLUMN SECTION -->