﻿@using System.Globalization
@using System.Threading
@using Microsoft.AspNet.Identity
@using Archetype.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_MainLayout.cshtml";
    var currCulture = Thread.CurrentThread.CurrentCulture;
    var urlSuffix = currCulture.ToString().Equals("en-US") ? "/en" : "/ar";
}
<style>
    .page-dashboard .custom-tabs .nav-tabs a {
        transform: none;
    }

    .error {
        color: #e11e24;
    }
</style>
<section id="page-section" class="page-section page-dashboard">
    <div class="container">
        @using (Html.BeginUmbracoForm("logout", "Manage", FormMethod.Post, new { @id = "logout", @class = "form" }))
        {

        }
        <div class="dashboard-page-content">
            <h2 class="page-title">
                @CurrentPage.title
            </h2>

            <div class="custom-tabs">
                <div class="col-md-3">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-stacked" role="tablist">
                        <li role="presentation" class="active"><a href="#myjobs" aria-controls="myjobs" role="tab" data-toggle="tab">My Jobs Update</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">User Profile</a></li>
                        <li role="presentation"><a href="#jobopening" aria-controls="jobopening" role="tab" data-toggle="tab">Job Openings</a></li>
                        <li role="presentation">
                            <a href='javascript:void(0)' id="logoutSubmit" aria-controls="logout" role="tab" data-toggle="tab">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="myjobs">
                            @{ Html.RenderAction("GetMyJob", "Job"); }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile"> @{ Html.RenderAction("GetManageProfile", "Manage"); }</div>
                        <div role="tabpanel" class="tab-pane" id="jobopening">
                            @{
                                var selection = Umbraco.Content(1295);
                            }
                            <div class="page-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="job-id">@Umbraco.Field("#Career.Job ID")</th>
                                            <th class="post-title">@Umbraco.Field("#Career.Position Title")</th>
                                            <th class="post-date">@Umbraco.Field("#Career.Job Posting Date")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in selection.Children.Where("Visible").OrderBy("CreateDate desc"))
                                        {
                                        <tr>
                                            <td>@item.JobId</td>
                                            <td><a href="@item.Url">@item.positionTitle</a></td>
                                            <td>@item.PostingDate.ToString("dd-MMM-yyyy")</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fia Section -->
<script>
    $(function () {
        $.get('@Url.Action("IsAuthenticated","Manage")', function (response) {
            if (response !== true) {
                window.location = '/en/corporate/careers/';
            }
        });
    });
    $("#logoutSubmit").on("click", function () {
        $("#logout").submit();
    })
</script>