﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_MainLayout.cshtml";
}

@* the fun starts here *@

@{
    Html.RenderAction("RenderHomePageSlider", "Home");
    var minorDescription = CurrentPage.minorDescription;
    var footerDescription = CurrentPage.footerDescription;
}
<section id="page-section" class="page-section">
    <div class="container">
        <div class="menu-page-content">
            <div class="fia-column-block">
                <div class="row">
                    <div class="column-desc">
                        @minorDescription
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        @{
            Html.RenderAction("RenderArcheTypeContent", "DefaultContent");
        }
        @if(footerDescription != null){
        
        <span class="page-desc has-init-margin">
	        @footerDescription
		</span>
		}	
			
    </div>
</section>