﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

@* the fun starts here *@


<!-- Site Banner -->
<section id="banner" class="site-banner">
	<div class="banner-image">
		<img src='@Url.Content("~/images/department.jpg")' alt="Department">
	</div>
	<div class="slider-caption">
		<div class="inner-slider-caption">
			<h1>Department of Civil Aviation</h1>
		</div>
	</div>
</section>
<!-- Site Banner -->


<!-- Fia Section -->
<section id="page-section" class="page-section page-department">
	<div class="container">
		<div class="department-inner-content">
			<p class="page-desc">
				The Fujairah International Airport is overseen by the Department of Civil Aviation. This connection joins the airport business functions to the UAE General Civil Aviation Authority (GCAA). The DCA provides direction to the growth of the airport to ensure continued compliance with International and GCAA directives and regulations.
			</p>
			<div class="dep-content-block">
				<div class="row">
					<div class="col-md-5 col-sm-5">
						<figure class="thumbnail-img">
							<img src='@Url.Content("~/images/user-img.png")'>
						</figure>
					</div>
					<div class="col-md-7 col-sm-7">
						<div class="dep-content">
							<div class="user-details">
								<h3 class="inner-page-title">
									<i class="fa fa-caret-right"></i>Mohamed Abdulla Sultan Al Salami
								</h3>
								<p class="desg">Chairman, Department of Civil Aviation <br>
								Government of Fujairah</p>
							</div>
							<p class="welcome-title">
								Welcome to Fujairah International Airport
							</p>
							<p class="page-desc">
								Department of civil aviation is committed to operating and developing Fujairah International Airport to international standards in order to contribute to the economic and social development of Fujairah. Fujairah is growing and Fujairah International Airport grows alongside as a logistical and tourism Hub.
							</p>
							<p class="page-desc">
								In expanding Fujairah International Airport we have remained focused on upholding high service standards and operational excellence while maintaining on responsibilities to our people, community and environment.
							</p>
							<p class="page-desc">
								As the geographical location on the east coast of the UAE an ideal gateway for developing business and the demand for air traffic continue to raise, we must ensure our airport supports the long term development of the air transport industry in the UAE and region. The construction of parallel runway, runway expansion, taxi ways and new iconic control tower reaffirms the continuous growth of Fujairah and permits us to explore more connections to the region and the world.
							</p>
							<p class="page-desc">
								Apart from building the necessary infrastructure , Fujairah international airport is sparing no effort to attract and retain talent to meet our evolving business needs by recruiting staff locally and from around the world who are qualified and experienced in providing quality services .
							</p>
							<p class="page-desc">
								Being committed to quality and service Fujairah international airport has achieved its accreditations through ISO 9001, 14001 and OHSAS 18001 along with ISAGO certifications for its ground operations.   We are proud for these achievements and we endeavor to continue our progress to higher standards.
								Fujairah international Airport engages to listen to our customers and explore the many opportunities to improve and develop in a rapidly changing world.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Fia Section -->
