﻿@using Archetype.Models
@using FIA.CMS.Helper
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_MainLayout.cshtml";
}

@{
    Html.RenderAction("RenderHomePageSlider", "Home");
    var selection = CurrentPage.Children.Skip(1).Where("Visible").OrderBy("SortOrder");
}

<!-- Fia Section -->
<section id="page-section" class="page-section discover-fujairah-page">
    <div class="container">
        <div class="discover-inner-wrap">
            @CurrentPage.GetGridHtml("topDescription", "Bootstrap3")
        </div>
        <div class="custom-tabs discover-tabs">
            <ul class="nav nav-tabs" role="tablist">
                @{
                    var i = 1;
                    foreach (var item in selection)
                    {
                        <li role="presentation" class="@(i == 1 ? "active" : "")">
                            <a href="#discover-fujairah-@i" aria-controls="discover-fujairah" role="tab" data-toggle="tab">
                                <span>@item.name</span>
                            </a>
                        </li>
                        i++;
                    }
                }
            </ul>
            <div class="tab-content">
                @{
                    var j = 1;
                    foreach (var item in selection)
                    {
                        <div role="tabpanel" class="tab-pane @(j == 1 ? "active" : "")" id="discover-fujairah-@j">
                            <div class="tab-inner-content">

                                @if (j == 1)
                                {
                                    <p class="page-desc">
                                        @Umbraco.Field("#Travellers.DiscoverFujairah.Activities.Para")
                                    </p>
                                    Html.RenderAction("RenderArcheTypeContentByArcheType", "DefaultContent", new {@archeTypeEnum = ArcheTypeEnum.TwoInARow, @pageId = item.id});
                                }
                                else
                                {
                                    Html.RenderAction("RenderArcheTypeContentByArcheType", "DefaultContent", new {@archeTypeEnum = ArcheTypeEnum.Normal, @pageId = item.id});
                                }

                            </div>
                        </div>
                        j++;
                    }
                }
            </div>

        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function() {
         activateTab(window.location.hash.substr(1));
    });
    
    function activateTab(tab){
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>

