﻿@using umbraco.cms.businesslogic.web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_MainLayout.cshtml";
}

@{
    Html.RenderAction("RenderHomePageSlider", "Home");
}
<!-- Fia Section -->
<section id="page-section" class="page-section landing-page-section">
    <div class="container">
        <div class="entry-pass-content">
            <div class="provide-details">
                
                @CurrentPage.GetGridHtml("description", "Bootstrap3")

                @if (Model.Content.HasValue("entryPassType"))
                {
                    var preValue = Umbraco.GetPreValueAsString(Model.Content.GetPropertyValue<int>("entryPassType"));
                    if(@preValue == "Vehicle"){
                        Html.RenderAction("RenderForm", "EntryPass",new {entryPassType = "Vehicle"});
                    }
                    else{
                        Html.RenderAction("RenderForm", "EntryPass", new { entryPassType= "Individual"});
                    }
                }
               
            </div>
        </div>
    </div>
    
</section>