﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Webbase.cshtml";
}
<section id="page-section" class="page-section page-search">
    <div class="container">
        <div class="search-content-wrap">
<h2>@Umbraco.Field("pageName")</h2>

@Umbraco.RenderMacro("ezSearch", new {rootContentNodeId="1056,1393", rootMediaNodeId="", indexType="CONTENT", searchFields="contentGrid,sliderInnerContent,accordion", previewFields="contentGrid,sliderInnerContent,accordion", previewLength="", pageSize="3", hideFromSearchField="", searchFormLocation="top"})

</div>
</div>
</section>