﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Threading
@{
	Layout = "_MainLayout.cshtml";
	 var currCulture = Thread.CurrentThread.CurrentCulture;
}

@* the fun starts here *@

@{
Html.RenderAction("RenderHomePageSlider", "Home");
}
<section id="page-section" class="page-section">
	<div class="container">
	    <div class="menu-page-content">
	        <div class="custom-tabs">
<ul class="nav nav-tabs">
<li class=" active"><a href="#flight" data-toggle="tab"> <span>Flight Operations</span> </a></li>
<li class=""><a href="#metar" data-toggle="tab"> <span>Met data</span> </a></li>
</ul>
<div class="tab-content">
<div id="flight" class="tab-pane active">
<div class="tab-inner-content">
            @CurrentPage.GetGridHtml("contentGrid", "Bootstrap3")
        </div>
         </div>
         <div id="metar" class="tab-pane">
<div class="tab-inner-content">
    @{
    var id = 0;
     if(currCulture.Name =="en-US"){
     id=1896;
     }else{
     id=1897;
     }
 
     var data = Umbraco.Content(id); //CurrentPage.Children.Where("Id" == "1896");
    }
    <div class="divider">
        <p class="page-desc">@Umbraco.Field("#MetarData.FirstPara")</p>
      @data.GetGridHtml("metarDescription", "Bootstrap3")
    </div>
     
    <div class="divider">
       <p class="page-desc">@Umbraco.Field("#MetarData.SecondPara")</p>
        @data.GetGridHtml("tAFDescription", "Bootstrap3")
    </div>  
    
    <div class="divider"> 
        <p>@Umbraco.Field("#MetarData.InformationAvailable")</p>
        <p>@Umbraco.Field("#Email") : <a href="mailto:met@fujairah-airport.com">met@fujairah-airport.com</a></p>
        <p>@Umbraco.Field("#Tel") : @Umbraco.Field("#+971 9 2055507")</p>
        <p>@Umbraco.Field("#Fax") : @Umbraco.Field("#+971 9 2223149")</p>
     </div>
    </div>
    </div>
    </div>
</section>@* the fun starts here *@

<script type="text/javascript">
    $(document).ready(function() {
         activateTab(window.location.hash.substr(1));
    });
    
    function activateTab(tab){
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>
