﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

@* the fun starts here *@



<!-- Homepage Slider -->
<section id="main-slider" class="main-slider">
    <div class="bxslider">
        <div class="slider-item">
            <img src='@Url.Content("~/images/slider1.jpg")' alt="Airport">
        </div>
        <div class="slider-item">
            <img src='@Url.Content("~/images/slider2.jpg")' alt="Airport">
        </div>
        <div class="slider-item">
            <img src='@Url.Content("~/images/slider3.jpg")' alt="Airport">
        </div>
        <div class="slider-item">
            <img src='@Url.Content("~/images/slider4.jpg")' alt="Airport">
        </div>
    </div>

    <div class="slider-caption">
        <div class="inner-slider-caption">
            <h1>FIA <br>Your connection<br> from the sky</h1>
            <p>Discover the 360 view of <br>Fujairah Intl. Airport</p>
            <a href=""><img src='@Url.Content("~/images/play.png")'></a>
        </div>
    </div>
</section>
<!-- Homepage Slider -->
<!-- Why FIA -->
<section id="whyfia" class="whyfia clearfix">
    <div class="whyfia-desc">
        <h2 class="page-title">Why Connect to FIA</h2>
        <h5 class="page-desc">At Fujairah International Airport, we take pride in our teamwork to assist you in meeting your travel and business needs. Our great location in the United Arab Emirates makes us an ideal hub.</h5>
    </div>
    <div class="whyfia-three-column">
        <div class="col-md-4">
            <a href="javascript:void(0)" class="column-overlay">
                <div class="fia-column-box">
                    <img src='@Url.Content("~/images/whyfia-sec-1.png")'>
                </div>
                <div class="fia-column-content">
                    <h3>Moving your Cargo</h3>
                    <p>
                        If this is your first time flying into Fujairah International Airport, or you are seasoned crew, we are providing your with the latest airport information to plan your flight.
                    </p>
                </div>
                <div class="bg-overlay"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="javascript:void(0)" class="column-overlay">
                <div class="fia-column-box">
                    <img src='@Url.Content("~/images/whyfia-sec-2.png")'>
                </div>
                <div class="fia-column-content">
                    <h3>MRO - Maintenance, Repair & Operations</h3>
                    <p>
                        If this is your first time flying into Fujairah International Airport, or you are seasoned crew, we are providing your with the latest airport information to plan your flight.
                    </p>
                </div>
                <div class="bg-overlay"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="javascript:void(0)" class="column-overlay">
                <div class="fia-column-box">
                    <img src='@Url.Content("~/images/whyfia-sec-2.png")'>
                </div>
                <div class="fia-column-content">
                    <h3>Aeronautical Information</h3>
                    <p>
                        If this is your first time flying into Fujairah International Airport, or you are seasoned crew, we are providing your with the latest airport information to plan your flight.
                    </p>
                    <button class="btn arrow-btn">
                        <img src='@Url.Content("~/images/overlay-arrow.png")'>
                    </button>
                </div>
                <div class="bg-overlay"></div>
            </a>
        </div>
    </div>
</section>
<!-- Why FIA -->
<!-- FIA TWO COLUMN SECTION -->
<section id="page-section" class="page-section clearfix">
    <div class="container">
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src='@Url.Content("~/images/corporate-image.png")' alt="corporate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2>Corporate eServices</h2>
                        <p class="page-desc has-break">As we transition from the old to the new, we make connecting with us easier. From permits to Visas, come see the services we can connect you with. </p>
                        <a href="" class="btn site-btn">Register for eServices</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src='@Url.Content("~/images/landing-image.png")' alt="corporate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2>Landing Permission</h2>
                        <p class="page-desc has-break">FIA has an open sky policy. To apply for landing permissions, connect here on instructions and contact information.</p>
                        <a href="" class="btn site-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src='@Url.Content("~/images/whatsky.png")' alt="corporate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2>What’s on our Sky?</h2>
                        <p class="page-desc has-break">See what is flying overhead through a 24-hour radar. </p>
                        <a href="" class="btn site-btn">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-dine clearfix">
            <div class="row">
                <div class="col-md-6">
                    <a href="javascript:void(0)" class="column-overlay has-ul-overlay">
                        <div class="column-image">
                            <img src='@Url.Content("~/images/shop-dine.png")' alt="shop-dine">
                        </div>
                        <div class="fia-column-content">
                            <h3>Getting around the Airport</h3>
                            <ul>
                                <li>
                                    Driving Direction
                                </li>
                                <li>
                                    Where to Park
                                </li>
                                <li>
                                    Checking In
                                </li>
                                <li>
                                    Luggage Guideline
                                </li>
                                <li>
                                    Relaxing Inside
                                </li>
                            </ul>
                        </div>
                        <div class="bg-overlay"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="javascript:void(0)" class="column-overlay">
                        <div class="column-image">
                            <img src='@Url.Content("~/images/shop-dine.png")' alt="shop-dine">
                        </div>
                        <div class="fia-column-content">
                            <h3>Shop and Dine</h3>
                            <p>
                                If you are in the airport or in the city, Fujairah offers a great dining and shopping experience. With numerous restaurants catering to almost every taste, and multiple malls and boutiques, you will always be satisfied.
                            </p>
                            <button class="btn arrow-btn">
                                <img src='@Url.Content("~/images/overlay-arrow.png")'>
                            </button>
                        </div>
                        <div class="bg-overlay"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIA TWO COLUMN SECTION -->