﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    @using FIA.CMS.Model;
@{
	Layout = "_MainLayout.cshtml";
}


@{
    Html.RenderAction("RenderHomePageSlider", "Home");
    var minorDescription = CurrentPage.minorDescription;
    var list = new List<LandingPermissionDocumentAttachment>();
    list.Add(new LandingPermissionDocumentAttachment() { Document = "AIR OPERATOR CERTIFICATE" });
    list.Add(new LandingPermissionDocumentAttachment() { Document = "OPERATIONS SPECIFICATION" });
    list.Add(new LandingPermissionDocumentAttachment() { Document = "REGISTRATION CERTIFICATE" });
    list.Add(new LandingPermissionDocumentAttachment() { Document = "AIRWORTHINESS CERTIFICATE" });
    list.Add(new LandingPermissionDocumentAttachment() { Document = "INSURANCE CERTIFICATE (UAE GCAA COMPLIANT)" });
    list.Add(new LandingPermissionDocumentAttachment() { Document = "NOISE CERTIFICATE" });
    list.Add(new LandingPermissionDocumentAttachment() { Document = "RADIO STATION LICENSE" });
    list.Add(new LandingPermissionDocumentAttachment() { Document = "Others" });
    var model = new LandingPermissionModel {Attachments = list};


}
<section id="page-section" class="page-section">
    <div class="container">
        <div class="menu-page-content">
            <div class="fia-column-block">
                <div class="row">

                    <div class="column-desc">
                            @minorDescription
                        
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
     @Html.Partial("~/Views/Partials/Home/_LandingPermission.cshtml",model)
			
    </div>
</section>