﻿@using Archetype.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_MainLayout.cshtml";

    var selection = CurrentPage.Children.Where("Visible");
   @*var news =  Umbraco.Content(1551);
    var gallery = Umbraco.Content(1558);*@
}

@* the fun starts here *@
@{
Html.RenderAction("RenderHomePageSlider", "Home");
}
<style>
    .pagination-sm li a {
        font-style: normal;
        transform: none;
    }
</style>
<section id="page-section" class="page-section">
    <div class="container">
        <div class="news-content-wrap">
            <div class="custom-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    @{
                    var i = 1;
                    foreach (var item in selection)
                    {

                    <li role="presentation" class="@(i==1 ?" active":"")">
                        <a href="#media-@i" aria-controls="media-@i" role="tab" data-toggle="tab">
                            <span>@Umbraco.Field("#"+@item.name)</span>
                        </a>
                    </li>
                    i += 1;
                    }
                    }



                </ul>
                <div class="tab-content">
                    @foreach (var item in selection)
                    {
                    if (item.SortOrder == 0)
                    {
                    var news = Umbraco.Content(item.id);
                    <div role="tabpanel" class="tab-pane active" id="media-1">
                        <div class="tab-inner-content">
                            <div class="news-block-wrap" id="news-result">

                                @foreach (var data in news.Children.Where("Visible").OrderBy("CreateDate desc"))
                                {

                                <div class="news-block">
                                    <div class="news-title-wrap">
                                        <h3>@data.title</h3>
                                        <p>@data.date.ToString("dd-MMM-yyyy")</p>
                                    </div>
                                    <p class="news-content">
                                        @data.subDescription
                                    </p>
                                    <a href="@data.Url" class="readmore">@Umbraco.Field("#Read More")</a>
                                </div>

                                }

                            </div>
                            <ul id="news" class="pagination-sm"></ul>
                        </div>
                    </div>
                    }
                    
                   
                    
                    if (item.SortOrder == 2)
                    {
                    var gallery = Umbraco.Content(item.id);
                    <div role="tabpanel" class="tab-pane" id="media-2">
                        <div class="tab-inner-content">
                            <div class="gallery-inner-block-wrap" >

                                @{

                                ArchetypeModel contentItems = gallery.GetPropertyValue<ArchetypeModel>
                                    ("gallery");

                                    foreach (ArchetypeFieldsetModel fieldSet in contentItems.Fieldsets)
                                    {
                                    var image = fieldSet.GetValue<IPublishedContent>
                                        ("image");
                                        var title =  fieldSet.GetValue("title");

                                        <div class="gallery-block">
                                            <figure class="thumbnail-img">
                                                <img src="@image.Url" />
                                            </figure>
                                            <h4 class="gallery-title">
                                                <a href="javascript:void(0);">@title</a>
                                            </h4>
                                        </div>
                                        }
                                        }

                            </div>
                        </div>
                    </div>
                    }

                    }




                </div>
            </div>
        </div>
    </div>
</section>



<script type="text/javascript">
    $(document).ready(function ()
    {
        var itemsPerPage = 3;
        // work out how many pages there are
        var totalPages = Math.ceil($("#news-result").children('div.news-block').length / itemsPerPage);

        $('#news').twbsPagination({
            totalPages: totalPages,
             next: '@Umbraco.Field("#Next")',
            prev: '@Umbraco.Field("#Prev")',
            first: '@Umbraco.Field("#First")',
            last: '@Umbraco.Field("#Last")',
            onPageClick: function (event, page)
            {
                var num = page - 1;
                // this selector basically finds the records and "slices" the divs underneath the container div 
                $("#news-result").children('div.news-block').hide();
                $("#news-result").children('div.news-block').slice(num * itemsPerPage, num * itemsPerPage + itemsPerPage).show();
            }
        });
        
        activateTab(window.location.hash.substr(1));
    });
    
    function activateTab(tab){
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };

</script>