﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
		Layout = "_MainLayout.cshtml";
}


<section id="page-section" class="page-section inner-careers-page">
	<div class="container">
		<div class="careers-inner-content">
			<h2 class="page-title">
				@CurrentPage.Title
			</h2>
			<div class="careers-block job-details">
			<p>Date: <span>@CurrentPage.Date.ToString("dd-MMM-yyyy")</span></p>
			</div>
		
		    <div class="careers-block">
		        @CurrentPage.Description
		    </div>
		   
		</div>
	</div>
</section>
