﻿@using System.Globalization
@using System.Threading
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@{
	Layout = "_MainLayout.cshtml";
	var currCulture = Thread.CurrentThread.CurrentCulture;
    var urlSuffix = currCulture.ToString().Equals("en-US") ? "/en" : "/ar";
}

@* the fun starts here *@
<style>
    .pagination-sm li a {
        font-style: normal;
        transform: none;
    }
</style>
@{
Html.RenderAction("RenderHomePageSlider", "Home");
}
<section id="page-section" class="page-section">
	<div class="container">
	    <div class="menu-page-content">

	        <div class="news-block-wrap" id="news-result">

	            @{
	                var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc");

	                foreach (var item in selection)
	                {

	                    <div class="news-block">
	                        <div class="news-title-wrap">
	                            <h3>@item.title</h3>
	                            <p>@item.date.ToString("dd-MMM-yyyy")</p>
	                        </div>
	                        <p class="news-content">
	                            @item.subDescription
	                        </p>
	                        <a href="@item.Url" class="readmore">@Umbraco.Field("#Read More")</a>
	                    </div>

	                }

	            }


	        </div>
                <ul id="news" class="pagination-sm"></ul>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function ()
    {
        var itemsPerPage = 4;
        // work out how many pages there are
        var totalPages = Math.ceil($("#news-result").children('div.news-block').length / itemsPerPage);

        $('#news').twbsPagination({
            totalPages: totalPages,
               next: '@Umbraco.Field("#Next")',
            prev: '@Umbraco.Field("#Prev")',
            first: '@Umbraco.Field("#First")',
            last: '@Umbraco.Field("#Last")',
            onPageClick: function (event, page)
            {
                var num = page - 1;
                // this selector basically finds the records and "slices" the divs underneath the container div 
                $("#news-result").children('div.news-block').hide();
                $("#news-result").children('div.news-block').slice(num * itemsPerPage, num * itemsPerPage + itemsPerPage).show();
            }
        });
    });

</script>