﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src="@CurrentPage.image" alt="@CurrentPage.imageAlt">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2 class="page-title">@CurrentPage.title</h2>
                        <p class="page-desc">
                            @CurrentPage.description
                        </p>
                        @CurrentPage.bottomContent
                    </div>
                </div>
            </div>
        </div>