﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

<!-- Site Banner -->
<section id="banner" class="site-banner">
	<div class="banner-image">
		<img src='@Url.Content("~/images/passenger-services.jpg")' alt="Passenger Services">
	</div>
	<div class="slider-caption">
		<div class="inner-slider-caption">
			<h1>Security<br>and Customs</h1>
		</div>
	</div>
</section>
<!-- Site Banner -->


<!-- Fia Section -->
<section id="page-section" class="page-section security-cust-page">
	<div class="container">
		<p class="page-desc">
			The security check is an every day part of modern air travel. To help ensure your safety and that of other passengers, here are some tips that you should use prior to visiting us.
		</p>
		<div class="security-tips">
			<h3 class="inner-page-title">
				Security tips
			</h3>
			<ul class="column-list">
				<li>
					Put ‘loose’ items – mobile phone, wallet, watch, keys etc – in your hand baggage.
				</li>
				<li>
					Keep a laptop where it can be easily reached: you’ll need to place it in a separate security tray at the scan.
				</li>
				<li>
					If your belt has a metal buckle, or your shoes have heels, take them off and put them in a security tray.
				</li>
				<li>
					Place liquid containers in a clear, resealable plastic bag, within your hand baggage.
				</li>
				<li>
					Remember each liquid can’t be more than 100ml.
				</li>
			</ul>
		</div>
		<div class="customs">
			<h3 class="inner-page-title">
				Customs
			</h3>
			<p class="page-desc">
				Here are some rules about what you can and can’t bring with you. Everyone who connects in FIA must pass through Customs. Take a look at a list of the items you can and cannot bring to Fujairah. Some items can result in fines or, in cases such as narcotic drugs, imprisonment.
			</p>
			<p class="page-desc">
				If you are unsure about anything, please declare your goods when you arrive.
			</p>
		</div>
		<div class="personal-allowances">
			<h3 class="inner-page-title">
				Personal allowances
			</h3>
			<ul class="column-list">
				<li>Gifts not exceeding AED 3,000.</li>
				<li>Cash above AED 100,000 must be declared.</li>
				<li>Maximum of 400 cigarettes, 50 cigars, 500 grams of tobacco.</li>
				<li>Maximum of 4 litres alcohol, 48 cans of beer.</li>
				<li>Medication: A maximum three-months supply of medication for your personal use.</li>
			</ul>
			<p class="page-desc">
				Please include an original prescription from a registered medical practitioner. Allmedications should be in original packaging, and not expired. No psychotropicmedicines are allowed (even for personal use, in small quantity and/or with prescription) without prior approval from the Ministry of Health.
			</p>
		</div>
		<div class="items-cannot-bring">
			<h3 class="inner-page-title">
				Items you cannot bring into the UAE
			</h3>
			<ul class="column-list">
				<li>All narcotic drugs.</li>
				<li>Gambling tools, machines.</li>
				<li>Ivory and rhinoceros horn.</li>
				<li>Trammel (fishing net with three layers).</li>
				<li>Forged or duplicate currency.</li>
				<li>Any printed material that contradicts Islamic teachings and/or decency, or that deliberately implies immorality or turmoil.</li>
				<li>Cooked and homemade foods.</li>
				<li>Radios, self-defence equipment, sharp-edged knives and swords.</li>
				<li>Weapons, ammunition and military equipment.</li>
				<li>Fireworks and explosives.</li>
				<li>Trees, plants and soil.</li>
			</ul>
			<p class="page-desc">
				Requirements are subject to change. Please consult <a href="javascript:void(0);"> Fujairah Customs - Cargo </a>  or <a href="javascript:void(0);"> Fujairah Customs - Passengers</a> for additional details on entry requirements.
			</p>
		</div>
	</div>
</section>
<!-- Fia Section -->


@* the fun starts here *@

