﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

@* the fun starts here *@


<!-- Site Banner -->
<section id="banner" class="site-banner">
	<div class="banner-image">
		<img src='@Url.Content("~/images/shop-dine-banner.jpg")' alt="Getting Airport">
	</div>
	<div class="slider-caption">
		<div class="inner-slider-caption">
			<h1>Shop and Dine</h1> 
		</div>
	</div>
</section>

<!-- Site Banner -->


<!-- FIA TWO COLUMN SECTION -->
<section id="page-section" class="page-section">
	<div class="container">
		<div class="fia-column-block">
			<div class="row">
				<div class="col-md-6">
					<div class="column-image">
						<img src='@Url.Content("~/images/fia-dining-exp.jpg")' alt="Airport Way">
					</div>
				</div>
				<div class="col-md-6">
					<div class="column-desc">
						<h2>FIA Dining Experience</h2>
						<p>
							Feeling hungry before your flight? Need a cappuccino with friends before checking-in? There are several restaurants that
							can cater to your taste. The Pilots Café located in the Airline Offices Building across from the Terminal offers sandwiches
							and pastries that will put a smile on your face. In the main Terminal on the 1 st floor, there is a restaurant that serves
							great snacks and beverages to please your taste buds.
						</p>
						<p>
							Inside the Departure Lounge on the 1 st floor, there is a small café where you can sit and relax watching the activities on
							the ramp. Watch your plane being serviced getting it ready to connect you to your next destination.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fia-column-block">
			<div class="row">
				<div class="col-md-6">
					<div class="column-image">
						<img src='@Url.Content("~/images/restaurant-name.jpg")' alt="Restaurant Name">
					</div>
				</div>
				<div class="col-md-6">
					<div class="column-desc">
						<h2>Restaurant Name 1</h2>
						<p>
							Parking areas are normally a longer walk at the larger airports. At FUJAIRAH INTERNATIONAL AIRPORT, we have an open parking area as it is conveniently located next to the terminal entrance. With plenty of open parking, you never have to worry about space. Our front door curb service gets you into the terminal faster on the really hot days.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fia-column-block">
			<div class="row">
				<div class="col-md-6">
					<div class="column-image">
						<img src='@Url.Content("~/images/restaurant-name1.jpg")' alt="Time to Leave">
					</div>
				</div>
				<div class="col-md-6">
					<div class="column-desc">
						<h2>Restaurant Name 2</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fia-column-block">
			<div class="row">
				<div class="col-md-6">
					<div class="column-image">
						<img src='@Url.Content("~/images/restaurant-name2.jpg")' alt="Short Temp">
					</div>
				</div>
				<div class="col-md-6">
					<div class="column-desc">
						<h2>Restaurant Name 3</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fia-column-block">
			<div class="row">
				<div class="col-md-6">
					<div class="column-image">
						<img src='@Url.Content("~/images/visa-info.jpg")' alt="Terminal Maps">
					</div>
				</div>
				<div class="col-md-6">
					<div class="column-desc">
						<h2>Duty Free Shopping</h2>
						<p>
							What better way to connect with your loved ones by giving them the perfect gift. Whether you are arriving or departing,
							our Duty Free Shops are open for your last minute purchases. We have excellent pricing on many items. If you are looking for the unique Oud cologne or fluffy toy for the young ones, we have it for you. If you are purchasing smoking items or alcoholic products, keep in mind the Custom regulations and the amounts you can carry through. Come and shop to your hearts content.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- FIA TWO COLUMN SECTION -->

