﻿@model dynamic

@{
    ViewBag.Title = "File Upload Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>File Upload Test</h2>
<link href="~/Content/fileupload/fileinput.css" rel="stylesheet"/>
@section Scripts{

    <script src="~/Scripts/fileupload/fileinput.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#kv-explorer").fileinput({
                'theme': 'explorer',
                'uploadUrl': '/FileUploadTest/upload/',
                overwriteInitial: false,
          
            });
        })
    </script>
}
<form enctype="multipart/form-data" action="/Upload/" method="POST">
    <input id="kv-explorer" type="file" name="fila" multiple>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
</form>