﻿@model EService.Web.Models.ExitOfAircraftSparePartsRequestViewModel
@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}
@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })
<div id="createContent" data-bind="template:{name:'createContentTemplate',afterRender: AddNewModel.RevalidateForm }"></div>
<script type="text/html" id="createContentTemplate">
    <div class="row">
        <span class="pull-right text-right">
            <b>     <span style="font-size: xx-large;">Exit Spare Parts Request</span></b>
            <br />
            <button class="btn btn-info" data-bind="click: SetUserInfo">Set User Information</button>
        </span>
    </div>
    <hr />
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmExitOfSparePartsRequest" }))
    {
        <div class="form-horizontal" data-bind="">
            <!--ko with: AddNewModel-->
            <fieldset>
                <legend>
                    Applicant Information
                </legend>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfApplication, htmlAttributes: new { @class = "" })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfApplication, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: DateOfApplication" } })
                        @Html.ValidationMessageFor(model => model.DateOfApplication, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantCompany, htmlAttributes: new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.ApplicantCompany, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantCompany" } })
                        @Html.ValidationMessageFor(model => model.ApplicantCompany, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantMailIdOrContactDetails, htmlAttributes: new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.ApplicantMailIdOrContactDetails, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantMailIdOrContactDetails" } })
                        @Html.ValidationMessageFor(model => model.ApplicantMailIdOrContactDetails, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Project Information</legend>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.AircraftType, htmlAttributes: new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.AircraftType, new { htmlAttributes = new { @class = "form-control", data_bind = "value: AircraftType" } })
                        @Html.ValidationMessageFor(model => model.AircraftType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.AircraftRegistrationNumber, htmlAttributes: new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.AircraftRegistrationNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: AircraftRegistrationNumber" } })
                        @Html.ValidationMessageFor(model => model.AircraftRegistrationNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerOfAircraft, htmlAttributes: new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.OwnerOfAircraft, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerOfAircraft" } })
                        @Html.ValidationMessageFor(model => model.OwnerOfAircraft, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.HasNoObjectionLetter, htmlAttributes: new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        <ul style="list-style: none">
                            <li>
                                <label>
                                    <input type="radio" id="HasNoObjectionLetter" name="HasNoObjectionLetter" data-bind="checked: HasNoObjectionLetter, checkedValue: true" value="true">
                                    <span>Yes</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" id="HasNoObjectionLetter" name="HasNoObjectionLetter" data-bind="checked: HasNoObjectionLetter, checkedValue: false" value="false">
                                    <span>No</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--ko if: HasNoObjectionLetter() === false-->
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.NoObjectionLetterOfTheOwner, htmlAttributes: new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.NoObjectionLetterOfTheOwner, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NoObjectionLetterOfTheOwner" } })
                        @Html.ValidationMessageFor(model => model.NoObjectionLetterOfTheOwner, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!--/ko-->

                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo, htmlAttributes: new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        <ul style="list-style: none">
                            <li>
                                <label>
                                    <input type="radio" id="AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo" name="AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo" data-bind="checked: AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo, checkedValue: true" value="true">
                                    <span>Yes</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" id="AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo" name="AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo" data-bind="checked: AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo, checkedValue: false" value="false">
                                    <span>No</span>
                                </label>
                            </li>
                        </ul>
                        @Html.ValidationMessageFor(model => model.AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo, "", new { @class = "text-danger" })
                    </div>
                </div>



                <input type="button" class="btn btn-primary" value="Add Checklist" data-bind="click: AddCheckListClick" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Description</th>
                            <th>Part Number</th>
                            <th>No of Pieces</th>
                            <th>Origin</th>
                            <th>Exit to where</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: AddedChecklist">
                        <tr data-bind="template:{ name: 'AddChecklistTemplate', data: $data,afterRender: $parent.RevalidateForm }"></tr>
                    </tbody>
                </table>
            </fieldset>
            <!--/ko-->
            <h4>File Uploads</h4>
            <ul>
                <li>NOC Objection letter of the owner, CAR 145/AMO approval certificate ( Not applicable for GCAA Authorised maintananace organizations)</li>
            </ul>
            @Html.Partial("_FileUploader")
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" data-role="save" data-style="expand-left" value="@GlobalResource.Submit" class="btn btn-primary ladda-button" data-bind="click: $root.SaveRequest">@GlobalResource.Submit</button>
                    <button type="button" data-role="draft" data-style="expand-left" value="@GlobalResource.SubmitDraft" class="btn btn-primary ladda-button" data-bind="click: $root.SaveDraftRequest">@GlobalResource.SubmitDraft</button>
                    <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId = (int) ServiceEnum.ExitOfAircraftSparePartsRequest})">@GlobalResource.Cancel</a>
                </div>
            </div>
        </div>

    }
</script>

<script type="text/html" id="AddChecklistTemplate">
    <td><span data-bind="text: $index() + 1"></span></td>
    <td>
        <input class="form-control" data-rule-required="true" data-val="true" type="text" data-bind="value: Description , attr:{ name: 'Description_' + $index(), id: 'Description_' + $index()}" />
        <p class="text-danger field-validation-valid" data-bind="attr:{ 'data-valmsg-for' : 'Description_' + $index()}" data-valmsg-replace="true"></p>
    </td>
    <td>
        <input class="form-control" type="text" data-bind="value: PartNumber" />
    </td>
    <td>
        <input class="form-control" type="text" data-rule-number="true" data-bind="value: NumberOfPieces, attr:{ name: 'NumberOfPieces_' + $index(),id: 'NumberOfPieces_' + $index()}" />
        <p class="text-danger field-validation-valid" data-bind="attr:{ 'data-valmsg-for' : 'NumberOfPieces_' + $index()}" data-valmsg-replace="true"></p>
    </td>
    <td>
        <input class="form-control" type="text" data-bind="value: Origin" />
    </td>
    <td>
        <input class="form-control" type="text" data-bind="value: ExitToWhere" />
    </td>
    <td>
        <a href="javascript:void(0)" data-bind="click: $root.AddNewModel.RemoveCheckListClick">Remove</a>
    </td>
</script>
@section scripts{
    <script src="~/Scripts/fia/fia.exitspareparts.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.exitspareparts.InitializeCreate();
        })
    </script>
}
