﻿@model EService.Web.Models.ExitOfAircraftSparePartsRequestViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserServiceRequestMasterId = Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}

@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })

<h2>Detail</h2>
<div id="exitSparePartsDetailsDiv">
    <h4>Exit Of Aircraft Spare Parts Request</h4>
    <table class="table borderless" data-bind="with: Details">
        <tr>
            <td>
                @Html.LabelFor(model => model.DateOfApplication)
            </td>

            <td data-bind="text:moment(DateOfApplication()).isValid() ? moment(DateOfApplication()).format('DD/MM/YY') : null">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantCompany)
            </td>

            <td data-bind="text:ApplicantCompany">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AircraftType)
            </td>

            <td data-bind="text:AircraftType">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AircraftRegistrationNumber)
            </td>

            <td data-bind="text:AircraftRegistrationNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.OwnerOfAircraft)
            </td>

            <td data-bind="text:OwnerOfAircraft">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.NoObjectionLetterOfTheOwner)
            </td>

            <td data-bind="text:NoObjectionLetterOfTheOwner">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo)
            </td>

            <td data-bind="text:AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo() == null? '': AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo()?'Yes':'No' ">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantMailIdOrContactDetails)
            </td>

            <td data-bind="text:ApplicantMailIdOrContactDetails">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Description</th>
                        <th>Part Number</th>
                        <th>No of Pieces</th>
                        <th>Origin</th>
                        <th>Exit to where</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: ExitAndReturnPassChecklists">
                    <tr data-bind="template:{ name: 'ViewChecklistTemplate', data: $data }"></tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
<script type="text/html" id="ViewChecklistTemplate">
    <td><span data-bind="text: $index() + 1"></span></td>
    <td data-bind="text: Description"></td>
    <td data-bind="text: PartNumber"></td>
    <td data-bind="text: NumberOfPieces"></td>
    <td data-bind="text: Origin"></td>
    <td data-bind="text: ExitToWhere"></td>

</script>
@Html.Partial("_FileUploadedList")
<p>
    @Html.ActionLink("Edit", "Edit", new{ id = UserServiceRequestMasterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>



@section scripts{
<script src="~/Scripts/fia/fia.exitspareparts.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.exitspareparts.InitializeDetail();
        })
    </script>
}
