﻿@model EService.Service.Model.PaymentResponseServiceViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{

    <script src="~/Scripts/fia/fia.payment.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.payment.Initialize();
        })
    </script>
}
<div id="mainContent">
    <fieldset>
        <legend>Payment Information </legend>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="control-label col-sm-4">
                    <h4>All the amount are in AED</h4>
                </div>
                <div class="col-sm-8">
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    Service Name:
                </div>
                <div class="col-sm-8">
                    @Model.ServiceName
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    NOC Req Ref No:
                </div>
                <div class="col-sm-8">
                    @Model.RegistrationNo
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    Service Request Date Time:
                </div>
                <div class="col-sm-8">
                    @Model.RequestDateTime.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    Service Charged Amount:
                </div>
                <div class="col-sm-8">
                    @Model.ChargedAmount
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    Admin Fee:
                </div>
                <div class="col-sm-8">
                    @Model.AdminFee
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    Social Development Fee:
                </div>
                <div class="col-sm-8">
                    @Model.SocialDevelopmentFee
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    VAT:
                </div>
                <div class="col-sm-8">
                    @Model.VAT
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    Total:
                </div>
                <div class="col-sm-8">
                    @(Model.Total)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                <label>Payment Mode</label>
            </div>
            <div class="col-sm-8">
                <label><input type="radio" data-bind="checked:PaymentMode, checkedValue:1" />Cash</label>
                <label><input type="radio" data-bind="checked:PaymentMode, checkedValue:2" />Online</label>
            </div>
        </div>
        <!--ko if: PaymentMode() == 1-->
        <div class="form-group">
            <div class="col-xs-12">
                <p class="alert alert-info">
                    Even after you set your payment mode to Manual/Cash, you can still proceed to Online Payment. But you need to set this mode specifically if you want to proceed with cash payment.
                </p>
            </div>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-warning" data-bind="click:SetPaymentMode"><i class="fa fa-cash"></i>&nbsp; Set Cash Payment</button>
        </div>
        <!--/ko-->
        <!--ko if: PaymentMode() == 2-->
        <div class="form-group">
            <button type="button" class="btn btn-warning" data-bind="click:ConfirmPayment"><i class="fa fa-cash"></i>&nbsp; Proceed to Payment</button>
        </div>
        <!--/ko-->
    </fieldset>
</div>
<form id="paymentPostForm" name="paymentPostForm" method="post">
    <input type="hidden" name="requestParameter" id="requestParameter" value="" />
</form>