﻿@using EService.Web.App_GlobalResources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>

@section scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.resetPassword.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.resetPassword.Initialize();
        })
    </script>

}

<div id="mainContent" data-bind="template:{name: 'mainContentTemplate'}"></div>

<script type="text/html" id="mainContentTemplate">
    <div class="col-xs-12">
        <form class="form-horizontal" id="frmResetPassword">
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label for="UserId">User</label>
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    <select id="UserId" name="UserId" class="form-control" data-bind="options: Users, value: UserId, optionsText:'UserName', optionsValue:'UserId',optionsCaption:'Select User' "></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label for="">Password</label>
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    <label data-bind="text: Password"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" data-role="save" data-style="expand-left" value="@GlobalResource.Submit" class="btn btn-primary ladda-button" data-bind="click: ResetPasswordClick">@GlobalResource.Submit</button>
                </div>
            </div>
        </form>
    </div>
</script>