﻿@model  EService.Web.Models.UserServiceRequestPaymentResponseViewModel
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(function () {

        })
    </script>
}
<fieldset>
    <legend>Failed</legend>
    <h5>Payment process for @Model.OrderNumber failed</h5>
    <h6>Payment Amount was @Model.Amount</h6>
    Please try again.
</fieldset>
