﻿@model  EService.Web.Models.UserServiceRequestPaymentResponseViewModel
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                window.location = '/Dashboard/Index';
            }, 5000)
        })
    </script>
}
<fieldset>
    <legend>Success</legend>
    <h5>Payment process has been successfully completed for @Model.OrderNumber</h5>
    <h6>Paid Amount is @Model.Amount</h6>
    Redirecting you to dashboard...
</fieldset>
