﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.AircraftDismantlingRequestServiceModal

<div class="form-horizontal">
    <fieldset>
        <legend>Applicant Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, Register.UserName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.UserName
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NameOfApplicant, AircraftMaintenanceRequestResource.NameOfApplicant, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.NameOfApplicant
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, AircraftMaintenanceRequestResource.AddressOfMaintenanceCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.Address
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, AircraftMaintenanceRequestResource.PhoneNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.PhoneNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, AircraftMaintenanceRequestResource.EmailId, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.Email
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantCompanyName, AircraftDismantlingRequestResource.ApplicantCompanyName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantCompanyName
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Project Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftTypeAndModelToDismantle, AircraftDismantlingRequestResource.AircraftTypeAndModelToDismantle, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.AircraftTypeAndModelToDismantle
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftMSNAndRegistrationNumber, AircraftDismantlingRequestResource.AircraftMSNAndRegistrationNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.AircraftMSNAndRegistrationNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OldRegistrationNo, AircraftDismantlingRequestResource.OldRegistrationNo, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.OldRegistrationNo
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PreviousOwnerOfAircraft, AircraftDismantlingRequestResource.PreviousOwnerOfAircraft, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.PreviousOwnerOfAircraft
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentOwnerOfAircraft, AircraftDismantlingRequestResource.CurrentOwnerOfAircraft, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.CurrentOwnerOfAircraft
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperatorOrAgentWhoBroughtTheAircraft, AircraftDismantlingRequestResource.OperatorOrAgentWhoBroughtTheAircraft, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.OperatorOrAgentWhoBroughtTheAircraft
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WithNoObjectionFromTheAircraftOwner, AircraftDismantlingRequestResource.WithNoObjectionFromTheAircraftOwner, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.WithNoObjectionFromTheAircraftOwner
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HasGCAAApproval, AircraftDismantlingRequestResource.HasGCAAApproval, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.HasGCAAApproval
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GCAAApprovalRefNumber, AircraftDismantlingRequestResource.GCAAApprovalRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.GCAAApprovalRefNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CertificateOfDeRegistrationRefNumber, AircraftDismantlingRequestResource.CertificateOfDeRegistrationRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.CertificateOfDeRegistrationRefNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TradeLicenseRefNumber, AircraftDismantlingRequestResource.TradeLicenseRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.TradeLicenseRefNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfIssueOfTradeLicense, AircraftDismantlingRequestResource.DateOfIssueOfTradeLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.DateOfIssueOfTradeLicense != null ? Model.DateOfIssueOfTradeLicense.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfExpiryOfTradeLicense, AircraftDismantlingRequestResource.DateOfExpiryOfTradeLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.DateOfExpiryOfTradeLicense != null ? Model.DateOfExpiryOfTradeLicense.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FANRLicenseRefNumber, AircraftDismantlingRequestResource.FANRLicenseRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.FANRLicenseRefNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfIssueOfFANRLicense, AircraftDismantlingRequestResource.DateOfIssueOfFANRLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.DateOfIssueOfFANRLicense != null ? Model.DateOfIssueOfFANRLicense.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfExpiryOfFANRLicense, AircraftDismantlingRequestResource.DateOfExpiryOfFANRLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.DateOfExpiryOfFANRLicense != null ? Model.DateOfExpiryOfFANRLicense.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FujairahEPDLicenseRefNumber, AircraftDismantlingRequestResource.FujairahEPDLicenseRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.FujairahEPDLicenseRefNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfIssueOfFujairahEPDLicense, AircraftDismantlingRequestResource.DateOfIssueOfFujairahEPDLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.DateOfIssueOfFujairahEPDLicense != null ? Model.DateOfIssueOfFujairahEPDLicense.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfExpiryOfFujairahEPDLicense, AircraftDismantlingRequestResource.DateOfExpiryOfFujairahEPDLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.DateOfExpiryOfFujairahEPDLicense != null ? Model.DateOfExpiryOfFujairahEPDLicense.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfDismantlingAndDestruction, AircraftDismantlingRequestResource.MethodOfDismantlingAndDestruction, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.MethodOfDismantlingAndDestruction
            </div>
        </div>
    </fieldset>

</div>