﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.AircraftMaintenanceRequestServiceModal

<div class="form-horizontal">

    <fieldset>
        <legend>
            Applicant Info
        </legend>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, Register.UserName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.UserName
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NameOfApplicant, AircraftMaintenanceRequestResource.NameOfApplicant, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.NameOfApplicant
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Designation, AircraftMaintenanceRequestResource.Designation, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.Designation
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, AircraftMaintenanceRequestResource.PhoneNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.PhoneNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, AircraftMaintenanceRequestResource.EmailId, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.EmailId
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Project Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantRegisteredMaintenanceCompany, AircraftMaintenanceRequestResource.ApplicantRegisteredMaintenanceCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantRegisteredMaintenanceCompany
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AddressOfMaintenanceCompany, AircraftMaintenanceRequestResource.AddressOfMaintenanceCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.AddressOfMaintenanceCompany
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumberOfRefisteredmaintenanceCompany, AircraftMaintenanceRequestResource.PhoneNumberOfRefisteredmaintenanceCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.PhoneNumberOfRefisteredmaintenanceCompany
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaintenanceCompanyTradeLicenseNumber, AircraftMaintenanceRequestResource.MaintenanceCompanyTradeLicenseNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.MaintenanceCompanyTradeLicenseNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaintenanceCompanyTradeLicenseExpiryDate, AircraftMaintenanceRequestResource.MaintenanceCompanyTradeLicenseExpiryDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.MaintenanceCompanyTradeLicenseExpiryDate != null ? Model.MaintenanceCompanyTradeLicenseExpiryDate.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part145RegistrationNumber, AircraftMaintenanceRequestResource.Part145RegistrationNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.Part145RegistrationNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Part145RegistrationExpiryDate, AircraftMaintenanceRequestResource.Part145RegistrationExpiryDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.Part145RegistrationExpiryDate != null ? Model.Part145RegistrationExpiryDate.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftType, AircraftMaintenanceRequestResource.AircraftType, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.AircraftType
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftRegistrationNumber, AircraftMaintenanceRequestResource.AircraftRegistrationNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.AircraftRegistrationNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfMaintenance, AircraftMaintenanceRequestResource.TypeOfMaintenance, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.TypeOfMaintenance
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DetailsOfMaintenance, AircraftMaintenanceRequestResource.DetailsOfMaintenance, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.DetailsOfMaintenance
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleDateOfAircraftArrival, AircraftMaintenanceRequestResource.ScheduleDateOfAircraftArrival, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.ScheduleDateOfAircraftArrival != null ? Model.ScheduleDateOfAircraftArrival.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleDateOfAircraftDeparture, AircraftMaintenanceRequestResource.ScheduleDateOfAircraftDeparture, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.ScheduleDateOfAircraftDeparture != null ? Model.ScheduleDateOfAircraftDeparture.Value.ToString("MM/dd/yy") : "")
            </div>
        </div>
    </fieldset>


</div>
