﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.AircraftWarningLightServiceModel
<div id="mainContent">
    <div class="form-horizontal">
        <h4><u>@Model.ServiceName</u></h4>
        <div class="col-xs-12">
            <div class="col-lg-6 col-md-12">
                <fieldset>
                    <legend>Applicant Info</legend>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantName, AircraftWarningLightRequestResource.ApplicantName)
                        </div>
                        <div class="col-sm-8">
                            <span>@Model.ApplicantName</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantJobTitle, AircraftWarningLightRequestResource.ApplicantJobTitle)
                        </div>
                        <div class="col-sm-8">
                            <span>@Model.ApplicantJobTitle</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantCompanyName, AircraftWarningLightRequestResource.ApplicantCompanyName)
                        </div>
                        <div class="col-sm-8">
                            <span>@Model.ApplicantCompanyName</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantAddress, AircraftWarningLightRequestResource.ApplicantAddress)
                        </div>
                        <div class="col-sm-8">
                            <span>@Model.ApplicantAddress</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantContactInfo, AircraftWarningLightRequestResource.ApplicantContactInfo)
                        </div>
                        <div class="col-sm-8">
                            <span>@Model.ApplicantContactInfo</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantCellNo, AircraftWarningLightRequestResource.ApplicantCellNo)
                        </div>
                        <div class="col-sm-8">
                            @Model.ApplicantCellNo
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantTelNo, AircraftWarningLightRequestResource.ApplicantTelNo)
                        </div>
                        <div class="col-sm-8">
                            @Model.ApplicantTelNo
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantEmail, AircraftWarningLightRequestResource.ApplicantEmail)
                        </div>
                        <div class="col-sm-8">
                            @Model.ApplicantEmail
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantWebsite, AircraftWarningLightRequestResource.ApplicantWebsite)
                        </div>
                        <div class="col-sm-8">
                            @Model.ApplicantWebsite
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6 col-md-12">
                <fieldset>
                    <legend>Owner Info</legend>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerName, AircraftWarningLightRequestResource.OwnerName)
                        </div>
                        <div class="col-sm-8">
                            @Model.OwnerName
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerCompanyName, AircraftWarningLightRequestResource.OwnerCompanyName)
                        </div>
                        <div class="col-sm-8">
                            @Model.OwnerCompanyName
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerAddress, AircraftWarningLightRequestResource.OwnerAddress)
                        </div>
                        <div class="col-sm-8">
                            @Model.OwnerAddress
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerContactInfo, AircraftWarningLightRequestResource.OwnerContactInfo)
                        </div>
                        <div class="col-sm-8">
                            @Model.OwnerContactInfo
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerCellNo, AircraftWarningLightRequestResource.OwnerCellNo)
                        </div>
                        <div class="col-sm-8">
                            @Model.OwnerCellNo
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerTelNo, AircraftWarningLightRequestResource.OwnerTelNo)
                        </div>
                        <div class="col-sm-8">
                            @Model.OwnerTelNo
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerEmail, AircraftWarningLightRequestResource.OwnerEmail)
                        </div>
                        <div class="col-sm-8">
                            @Model.OwnerEmail
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerWebsite, AircraftWarningLightRequestResource.OwnerWebsite)
                        </div>
                        <div class="col-sm-8">
                            @Model.OwnerWebsite
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset>
            <legend>Project Information</legend>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicationDate, AircraftWarningLightRequestResource.ApplicationDate)
                </div>
                <div class="col-sm-8">
                    @Model.ApplicationDate.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectName, AircraftWarningLightRequestResource.ProjectName)
                </div>
                <div class="col-sm-8">
                    @Model.ProjectName
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectLocation, AircraftWarningLightRequestResource.ProjectLocation)
                </div>
                <div class="col-sm-8">
                    @Model.ProjectLocation
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectDescription, AircraftWarningLightRequestResource.ProjectDescription)
                </div>
                <div class="col-sm-8">
                    @Model.ProjectDescription
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicantOwnerRelationShipId, AircraftWarningLightRequestResource.ApplicantOwnerRelations)
                </div>
                <div class="col-sm-8">
                    <label>@Model.ApplicantOwnerRelationshipName</label>
                    @if (Model.ApplicantOwnerRelationshipName.ToLower() == "other")
                    {
                        <span>@Model.ApplicantOwnerRelationshipOtherName</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectTypeId, AircraftWarningLightRequestResource.ProjectTypes)
                </div>
                <div class="col-sm-8">
                    <label>@Model.ProjectTypeName</label>
                    @if (Model.ProjectTypeName.ToLower() == "other")
                    {
                        <span>@Model.ProjectTypeOtherName</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.NoOfStructures, AircraftWarningLightRequestResource.NoOfStructures)
                </div>
                <div class="col-sm-8">
                    @Model.NoOfStructures
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.NoOfObstacleLights, AircraftWarningLightRequestResource.NoOfObstacleLights)
                </div>
                <div class="col-sm-8">
                    @Model.NoOfObstacleLights
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.TypesOfObstacleLights, AircraftWarningLightRequestResource.TypesOfObstacleLights)
                </div>
                <div class="col-sm-8">
                    @Model.TypesOfObstacleLights
                </div>
            </div>
        </fieldset>
    </div>
</div>