﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model  EService.Service.Model.BuildingHeightRequestServiceModel
<div class="form-horizontal" id="mainContent" data-bind="with: AddNewModel">
    <h4>Building Height Request</h4>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <legend>Applicant's Information</legend>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantName, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicantName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantName" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantJobTitle, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicantJobTitle, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantJobTitle" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantCompanyName, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicantCompanyName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantCompanyName" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantAddress, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicantAddress, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantAddress" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantCell, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicantCell, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantCell" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantTel, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicantTel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantTel" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantEmail, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicantEmail, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantEmail" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantWebsite, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicantWebsite, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantWebsite" } })
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <legend>Owner Information</legend>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerName" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerCompanyName, htmlAttributes: new { @class = "" })

                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.OwnerCompanyName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerCompanyName" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerAddress, htmlAttributes: new { @class = "" })

                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.OwnerAddress, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerAddress" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerCell, htmlAttributes: new { @class = "" })

                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.OwnerCell, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerCell" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerTel, htmlAttributes: new { @class = "" })

                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.OwnerTel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerTel" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerEmail, htmlAttributes: new { @class = "" })

                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.OwnerEmail, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerEmail" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerWebsite, htmlAttributes: new { @class = "" })

                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.OwnerWebsite, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerWebsite" } })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <fieldset>
            <legend>SECTION 1: GENERAL PROJECT INFORMATION</legend>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "" })

                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ProjectName" } })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { @class = "" })

                </div>
                <div class="col-sm-8">
                    @(Model.ApplicationDate != null ? Model.ApplicationDate.Value.ToString("dd/MM/yy") : "")
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ExpectedConstructionStartDate, htmlAttributes: new { @class = "" })

                </div>
                <div class="col-sm-8">
                    @(Model.ExpectedConstructionStartDate != null ? Model.ExpectedConstructionStartDate.Value.ToString("dd/MM/yy") : "")
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ExpectedConstructionEndDate, htmlAttributes: new { @class = "" })

                </div>
                <div class="col-sm-8">
                    @(Model.ExpectedConstructionEndDate != null ? Model.ExpectedConstructionEndDate.Value.ToString("dd/MM/yy") : "")
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", data_bind = "value: Location" } })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.ProjectDescription, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ProjectDescription" } })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    <label>Applicant's relationship to project owner </label>
                </div>
                <div class="col-sm-8">
                    <span>@Model.ApplicantOwnerRelationshipName</span>
                    @if (!String.IsNullOrEmpty(Model.ApplicantOwnerRelationshipName) && Model.ApplicantOwnerRelationshipName.ToLower() == "other")
                    {
                        <span>@Model.ApplicantOwnerRelationshipOtherName</span>
                    }
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Project Type</label>
                <div class="col-sm-8">
                    @Model.SelectedProjectDescription
                    @Model.OtherProjectTypeDescription
                </div>
            </div>
        </fieldset>
    </div>
    @if (Model.ProjectTypeId == 1 || Model.ProjectTypeId == 3)
    {
        <div class="row">
            <fieldset>
                <legend>SECTION 2: BUILDING(S) DETAILS ONLY</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.BuildingType, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @if (Model.BuildingType == true)
                        {
                            <span>Singular Building</span>
                        }
                        else
                        {
                            <span>Multiple Building</span>
                        }

                    </div>
                </div>
                <div class="form-group" data-bind="visible: BuildingType() == false">
                    @Html.LabelFor(model => model.NumberOfBuildings, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.NumberOfBuildings, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NumberOfBuildings" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfFloors, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.NumberOfFloors, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NumberOfFloors" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TallestHeight, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.TallestHeight, new { htmlAttributes = new { @class = "form-control", data_bind = "value: TallestHeight", data_rule_number = "true" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.HasObstacleLight, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Model.HasObstacleLight
                    </div>
                </div>
                <div class="form-group" data-bind="visible: HasObstacleLight() == true">
                    @Html.LabelFor(model => model.DetailsOfLightinDrawing, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.DetailsOfLightinDrawing, new { htmlAttributes = new { @class = "form-control", data_bind = "value: DetailsOfLightinDrawing" } })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>SECTION 2: Building Coordinates & Heights (4 corners & 3 tallest heights required)</legend>
                <table class="table">
                    <tr>
                        <th>Building Corners Points</th>
                        <th>Easting</th>
                        <th>Northing</th>
                        <th>Ground Height</th>
                        <th>Structure Height</th>
                    </tr>
                    <tbody data-bind="foreach: BuildingCoordinateAndHeights">
                        @foreach (var item in Model.BuildingCoordinateAndHeights)
                        {
                            <tr>
                                <td data-bind="text: BuildingCoordinateAndHeightLookUpDescription">@item.BuildingCoordinateAndHeightLookUpDescription</td>
                                <td><span data-bind="value: Easting" />@item.Easting</td>
                                <td><span data-bind="value: Northing" />@item.Northing</td>
                                <td><span data-rule-number="true" data-bind="value: GroundHeight" />@item.GroundHeight</td>
                                <td><span data-rule-number="true" data-bind="value: StructureHeight" />@item.StructureHeight</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="form-group">
                    <label class="control-label col-sm-4">Additional Items for Building/Other Submittal</label>

                    <div class="col-sm-8" data-bind="foreach: AdditionalItemsForBuildingSubmittals">
                        <ul>
                            @foreach (var item in Model.AdditionalItemsForBuildingSubmittals.Where(o => o.IsSelected))
                            {
                                <li>
                                    <span data-bind="text: AdditionalItemsForBuildingSubmittalLookUpDescription">@item.AdditionalItemsForBuildingSubmittalLookUpDescription</span>
                                    @if (item.IsOther)
                                    {
                                        <span>@item.OtherDescription</span>
                                    }
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </fieldset>
        </div>
    }
    @if (Model.ProjectTypeId == 2)
    {
        <div class="row">
            <fieldset>
                <legend>SECTION 3: OHL/COMMUNICATIONS TOWER PROJECT DETAILS ONLY</legend>

                <div class="form-group">
                    @Html.LabelFor(model => model.OHLOrCommunicationType, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @(Model.OHLOrCommunicationType == true ? "OHL" : "Comm.Tower")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfStructure, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.NumberOfStructure, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NumberOfStructure" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TypeOfOHLCommTower, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.TypeOfOHLCommTower, new { htmlAttributes = new { @class = "form-control", data_bind = "value: TypeOfOHLCommTower" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AreThereMountains, htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-8">
                        @(Model.AreThereMountains == true ? "Yes" : "No")
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">What aviation obstacle mitigation measures do you plan to use?</label>
                    <div class="col-sm-8">
                        <ul>
                            @foreach (var item in Model.AviationObstacles.Where(o => o.IsSelected))
                            {
                                <li>
                                    <span>@item.Description</span>
                                </li>

                            }
                        </ul>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th colspan="5">Structure Coordinates & Heights</th>
                    </tr>
                    <tr>
                        <th>Structure Reference No</th>
                        <th>Easting</th>
                        <th>Northing</th>
                        <th>Ground Height</th>
                        <th>Structure Height</th>
                    </tr>
                    <tbody data-bind="foreach: OHLStructureCoordinateAndHeights">
                        @foreach (var item in Model.OHLStructureCoordinateAndHeights)

                        {
                            <tr>
                                <td>@item.StructureReferenceNumber</td>
                                <td>@item.Easting</td>
                                <td>@item.Northing</td>
                                <td>@item.GroundHeight</td>
                                <td>@item.StructureHeight</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="form-group">
                    <label class="control-label col-sm-4">Additional Items for OHL/Communication Tower Submittal</label>
                    <div class="col-sm-8">
                        <ul style="list-style: none" data-bind="foreach: AdditionalItemsForOHLSubmittals">
                            <li>
                                <label>
                                    <span data-bind="text: AdditionalItemsForOHLSubmittalLookUpDescription"></span>
                                </label>
                                <span data-bind="text: OtherDescription"></span>
                            </li>

                        </ul>

                    </div>
                </div>
            </fieldset>
        </div>
    }

    <div class="row">
        <fieldset>
            <legend>APPLICABLE FEES</legend>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>Notes</th>
                    <th>Fee (AED)</th>
                    <th>Quantity</th>
                    <th>Total Fee</th>
                </tr>
                <tbody data-bind="foreach: BuildingHeightApplicableFees">
                    @foreach (var item in Model.BuildingHeightApplicableFees)
                    {
                        <tr>
                            <td></td>
                            <td data-bind="text: ApplicableFeesLookUpDescription">@item.ApplicableFeesLookUpDescription</td>
                            <td data-bind="text: Notes">@item.Notes</td>
                            <td data-bind="text: Fees">@item.Fees</td>
                            <td>@item.Quantity</td>
                            <td>
                                <span>@(item.Fee * (decimal)item.Quantity)</span>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">Total</th>
                        <th>@Model.BuildingHeightApplicableFees.Sum(o => o.TotalFee)</th>
                    </tr>
                </tfoot>
            </table>
        </fieldset>
    </div>
    @if (Model.PlanningApprovalModel != null)
    {
        <fieldset data-bind="">
            <legend>Planning User Remarks</legend>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        <label>Remarks</label>
                    </div>
                    <div class="col-sm-8">
                        @Model.PlanningApprovalModel.Remarks
                    </div>
                </div>

                <div class="col-sm-4 control-label">
                    Uploaded Files
                </div>
                <div class="col-sm-8">
                    <ul>
                        @foreach (var item in Model.PlanningApprovalModel.UploadedFiles)
                        {
                            <li>
                                <a data-bind="" href="#" target="_blank">@item.FileName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </fieldset>
    }
</div>