﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.CranePermitRequestServiceModel
<div class="form-horizontal">

    <fieldset>
        <legend>Applicant Information</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, Register.UserName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantEmail, CranePermitLocationResource.ApplicantEmail, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicantEmail, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, CranePermitLocationResource.CompanyName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CompanyName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Position, CranePermitLocationResource.Position, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Position, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactNumber, CranePermitLocationResource.ContactNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ContactNumber, new { @class = "form-control" })
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Crane Permit Request Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.IsNewApplication, CranePermitLocationResource.IsNewApplication, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span class="">
                    @if (Model.IsNewApplication)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PreviousPermitNumbers, CranePermitLocationResource.PreviousPermitNumbers, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.PreviousPermitNumbers, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CraneLocation, CranePermitLocationResource.LocationOfCrane, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CraneLocation, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NorthingsEastings, CranePermitLocationResource.NorthingsEastings, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.NorthingsEastings, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationStartDate, CranePermitLocationResource.OperationStartDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.OperationStartDate.ToString("dd/MM/yyyy")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationEndDate, CranePermitLocationResource.OperationEndDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.OperationEndDate.ToString("dd/MM/yyyy")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationStartTime, CranePermitLocationResource.OperationStartTime, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperationStartTime, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationEndTime, CranePermitLocationResource.OperationEndTime, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperationEndTime, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaxOperatingHeight, CranePermitLocationResource.MaxOperatingHeight, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.MaxOperatingHeight, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PurposeOfUser, CranePermitLocationResource.PurposeOfUser, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.PurposeOfUser, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CraneOperatingCompany, CranePermitLocationResource.CraneOperatingCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CraneOperatingCompany, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperatorName, CranePermitLocationResource.OperatorName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperatorName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperatorContactNumber, CranePermitLocationResource.OperatorContactNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperatorContactNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentIndex, CranePermitLocationResource.CurrentIndex, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CurrentIndex, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">@CranePermitLocationResource.CraneType</label>
            <div class="col-sm-8">
                <ul>
                    @foreach (var type in Model.SelectedCraneTypes.Where(o => o.IsSelected))
                    {
                        <li>
                            <span>@type.CraneTypeName</span>
                            @if (type.IsOther)
                            {
                                <span>@type.OtherCraneTypeName</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </fieldset>
    <div>
        @if (Model.IsPlanningInfoSaved && Model.PlanningModel != null)
        {
            <fieldset data-bind="">
                <legend>Planning Assessment</legend>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.HasPentrationOfSurface, "Is there a penetration of the safeguarded surfaces?")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.PlanningModel.HasPentrationOfSurface)
                        </div>
                    </div>
                    <div class="form-group" data-bind="if : HasPentrationOfSurface">
                        <div class="col-sm-4 control-label">
                            <label>Infringement</label>
                        </div>
                        <div class="col-sm-8">
                            @foreach (var item in Model.PlanningModel.InfringementTypes.Where(o => o.Active))
                            {
                                <label>@item.Description</label>
                                if (item.IsOther)
                                {
                                    <label>@item.OtherName</label>
                                }
                            }
                        </div>
                    </div>

                    <div class="form-group" data-bind="if: HasPentrationOfSurface">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.PenetrationInMeter, "Amount of Penetration (in meters)")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.PlanningModel.PenetrationInMeter, new { })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.RequireAviationLight, "Does the crane required aviation obstacle light?")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.PlanningModel.RequireAviationLight, new { })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.Comments, "Comments")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.PlanningModel.Comments, new { })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.MaxCraneOperatingHeight, "Maximum Crane Operating height (in meters)")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.PlanningModel.MaxCraneOperatingHeight, new { })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.CraneOperatingDistanceFromRunway, "Crane OPS distance from runaway centerline (in meters)")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.PlanningModel.CraneOperatingDistanceFromRunway, new { })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.Recommendations, "Recommendations")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.PlanningModel.Recommendations, new { })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.AssessedBy, "Assessed By")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.PlanningModel.AssessedBy, new { })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.PlanningModel.AssessedDate, "Assessed Date")
                        </div>
                        <div class="col-sm-8">
                            <label>@(Model.PlanningModel.AssessedDate != null ? Model.PlanningModel.AssessedDate.Value.ToString("dd/MM/yyyy") : "")</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            Uploaded Files
                        </div>
                        <div class="col-sm-8">
                            <ul>
                                @foreach (var file in Model.PlanningModel.UploadedFiles)
                                {
                                    <li>
                                        <a data-bind="" href="#" target="_blank">@file.FileName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div>
        @if (Model.IsQASafetyInfoSaved && Model.QASafetyModel != null)
        {
            <fieldset data-bind="">
                <legend>Safety QA Assessment</legend>
                <div class="form-horizontal" data-bind="">
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.QASafetyModel.HasSafetyAssessmentBeenDone, "Has Safety Assessment been done?")
                        </div>
                        <div class="col-sm-8">
                            <span>   @(Model.QASafetyModel.HasSafetyAssessmentBeenDone ? "Yes" : "No")</span>
                        </div>
                    </div>
                    @if (Model.QASafetyModel.HasSafetyAssessmentBeenDone)
                    {
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.QASafetyModel.ApprovedBy, "Approved By")
                            </div>
                            <div class="col-sm-8" data-bind="">
                                @Html.DisplayFor(model => model.QASafetyModel.ApprovedBy, new { })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.QASafetyModel.ApprovedByPosition, "Approved By Position")
                            </div>
                            <div class="col-sm-8">
                                @Html.DisplayFor(model => model.QASafetyModel.ApprovedByPosition, new { })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.QASafetyModel.ApprovedDateTime, "Approved Date Time")
                        </div>
                        <div class="col-sm-8">
                            @Model.QASafetyModel.ApprovedDateTime.Value.ToString("dd/MM/yyyy")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.QASafetyModel.OperatingRestrictions, "Operating Restrictions")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.QASafetyModel.OperatingRestrictions, new { })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            @Html.LabelFor(model => model.QASafetyModel.AdditionalComments, "Additional Comments")
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.QASafetyModel.AdditionalComments, new { })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            Uploaded Files
                        </div>
                        <div class="col-sm-8">
                            <ul>
                                @foreach (var file in Model.QASafetyModel.UploadedFiles)
                                {
                                    <li>
                                        <a data-bind="" href="#" target="_blank">@file.FileName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
