﻿@using EService.Web.App_LocalResources
@model EService.Service.Model.ExitOfAircraftSparePartsRequestModel

<div id="exitSparePartsDetailsDiv" class="form-horizontal">
    <h4><u>Exit Of Aircraft Spare Parts Request</u></h4>
    <fieldset>
        <legend>Applicant Information</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfApplication, ExitOfSparePartsResource.ApplicationDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.DateOfApplication
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantCompany, ExitOfSparePartsResource.ApplicantCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantCompany
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantMailIdOrContactDetails, ExitOfSparePartsResource.ApplicantContactDetail, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantMailIdOrContactDetails
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Project Information</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftType, ExitOfSparePartsResource.AircraftType, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.AircraftType
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftRegistrationNumber, ExitOfSparePartsResource.AircraftRegNo, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.AircraftRegistrationNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OwnerOfAircraft, ExitOfSparePartsResource.OwnerOfAircraft, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.OwnerOfAircraft
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HasNoObjectionLetter, ExitOfSparePartsResource.HasNoObjectionLetter, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.HasNoObjectionLetter
            </div>
        </div>
        @if (Model.HasNoObjectionLetter == false)
        {
        <div class="form-group">
            @Html.LabelFor(model => model.NoObjectionLetterOfTheOwner, ExitOfSparePartsResource.OwnerNOC, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.NoObjectionLetterOfTheOwner
            </div>
        </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo, ExitOfSparePartsResource.AircraftMaintenanceOrg, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo != null ? Model.AircraftMaintenanceOrganisationOrCar145GCAARegisteredCo.Value ? "Yes" : "No" : "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantMailIdOrContactDetails, ExitOfSparePartsResource.ApplicantContactDetail, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @(Model.ApplicantMailIdOrContactDetails)
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Description</th>
                    <th>Part Number</th>
                    <th>No of Pieces</th>
                    <th>Origin</th>
                    <th>Exit to where</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ExitAndReturnPassChecklists)
            {
                <tr>
                    <td></td>
                    <td>@item.Description</td>
                    <td>@item.PartNumber</td>
                    <td>@item.NumberOfPieces</td>
                    <td>@item.Origin</td>
                    <td>@item.ExitToWhere</td>
                </tr>
        }
            </tbody>
        </table>
    </fieldset>


</div>
