﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@model  EService.Service.Model.GroundHandlingRequestServiceModel

<div class="form-horizontal">
    <fieldset>
        <legend>Applicant Info</legend>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CompanyName)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CompanyName, new { @class = "form-control", data_bind = "value:CompanyName" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName, new { @class = "form-control", data_bind = "value:FirstName" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.LastName, new { @class = "form-control", data_bind = "value:LastName" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Address, new { @class = "form-control", data_bind = "value:Address" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Email, new { @class = "form-control", data_bind = "value:Email" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Phone)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Phone, new { @class = "form-control", data_bind = "value:Phone" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Fax)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Fax, new { @class = "form-control", data_bind = "value:Fax" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.SITATEX)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.SITATEX, new { @class = "form-control", data_bind = "value:SITATEX" })
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Aircraft Info</legend>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.InboundDateTimeUTC)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.InboundDateTimeUTC, new { @class = "form-control", data_bind = "dateAndTimePicker:InboundDateTimeUTC" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.From)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.From, new { @class = "form-control", data_bind = "value:From" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.ETAUTC)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ETAUTC, new { @class = "form-control", data_bind = "datePicker:ETAUTC" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.OutboundDateTimeUTC)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OutboundDateTimeUTC, new { @class = "form-control", data_bind = "dateAndTimePicker:OutboundDateTimeUTC" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.To)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.To, new { @class = "form-control", data_bind = "value:To" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.ETDUTC)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ETDUTC, new { @class = "form-control", data_bind = "datePicker:ETDUTC" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                <label>Type of Aircraft</label>
            </div>
            <div class="col-sm-8">

                <ul data-bind="foreach: GroundHandlingArcraftTypes">
                    @foreach (var item in Model.GroundHandlingArcraftTypes.Where(o => o.IsSelected))
                    {
                        <li>
                            <span>@item.Description</span>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Weight)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Weight, new { @class = "form-control", data_bind = "value:Weight", data_rule_number = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.AircraftRegistration)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.AircraftRegistration, new { @class = "form-control", data_bind = "value:AircraftRegistration" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.RequestWBCalculation)
            </div>
            <div class="col-sm-8">
                <label>
                    @(Model.RequestWBCalculation == true ? "Yes" : "No")
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.LoadingInstruction)
            </div>
            <div class="col-sm-8">
                <label>
                    @(Model.LoadingInstruction == true ? "Yes" : "No")
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.RequestWBCalculation)
            </div>
            <div class="col-sm-8">
                <label>
                    @(Model.RequestWBCalculation == true ? "Yes" : "No")
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.METOrATSDelivery)
            </div>
            <div class="col-sm-8">
                <label>
                    @(Model.METOrATSDelivery == true ? "Yes" : "No")
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.NoOfDepartingPassengers)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.NoOfDepartingPassengers, new { @class = "form-control", data_bind = "value:NoOfDepartingPassengers" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.NoOfArrivingPassengers)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.NoOfArrivingPassengers, new { @class = "form-control", data_bind = "value:NoOfArrivingPassengers" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.PermittedToAddGood)
            </div>
            <div class="col-sm-8">
                <label>
                    @(Model.PermittedToAddGood == true ? "Yes" : "No")
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.HasSpecialPermission)
            </div>
            <div class="col-sm-8">
                <label>
                    @(Model.HasSpecialPermission == true ? "Yes" : "No")
                </label>
            </div>
        </div>


    </fieldset>

    <fieldset>
        <legend>Cargo Offloading</legend>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CargoLoadingType)
            </div>
            <div class="col-sm-8">
                @(Model.CargoLoadingType == true ? "ULD" : Model.CargoLoadingType == false ? "BULK" : "[NA]")
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLNoOfULD)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CoLNoOfULD, new { @class = "form-control", data_bind = "value:CoLNoOfULD", data_rule_number = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLNoOfULD)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CoLNoOfULD, new { @class = "form-control", data_bind = "value:CoLNoOfULD", data_rule_number = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLULDWeight)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CoLULDWeight, new { @class = "form-control", data_bind = "value:CoLULDWeight", data_rule_number = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLTypeOfDG)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CoLTypeOfDG, new { @class = "form-control", data_bind = "value:CoLTypeOfDG" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLQuantityOfDG)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CoLQuantityOfDG, new { @class = "form-control", data_bind = "value:CoLQuantityOfDG", data_rule_number = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLOtherSpecialCargo)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CoLOtherSpecialCargo, new { @class = "form-control", data_bind = "value:CoLOtherSpecialCargo" })
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Cargo Loading</legend>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLTypeOfDG)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CLTypeOfDG, new { @class = "form-control", data_bind = "value:CLTypeOfDG" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLNoOfULD)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CLNoOfULD, new { @class = "form-control", data_bind = "value:CLNoOfULD", data_rule_number = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLDGWeight)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CLDGWeight, new { @class = "form-control", data_bind = "value:CLDGWeight", data_rule_number = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLQuantityDG)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CLQuantityDG, new { @class = "form-control", data_bind = "value:CLQuantityDG", data_rule_number = "true" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLOtherSpecialCargo)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CLOtherSpecialCargo, new { @class = "form-control", data_bind = "value:CLOtherSpecialCargo" })
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Aircraft Interior cleaning</legend>
        @if (Model.AircraftCleaning != null)
        {
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.FumigationRequired)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="FumigationRequired" data-bind="checked:FumigationRequired, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.WasingRequired)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="WasingRequired" data-bind="checked:WasingRequired, checkedValue: true" />
                        <span></span>
                        @(Model.AircraftCleaning.WasingRequired == true ? "Yes" : "No")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.Pushback)
                </div>
                <div class="col-sm-8">
                    <label>
                        @(Model.AircraftCleaning.Pushback == true ? "Yes" : "No")
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.PassengerStairs)
                </div>
                <div class="col-sm-8">
                    <label>
                        @(Model.AircraftCleaning.PassengerStairs == true ? "Yes" : "No")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.ToiletService)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" name="ToiletService" data-bind="checked:ToiletService, checkedValue: true" />
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.PowerType)
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.AircraftCleaning.PowerType)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.ASUHours)
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.AircraftCleaning.ASUHours)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalPlatformCRJ)
                </div>
                <div class="col-sm-8">
                    <label>
                        @(Model.AircraftCleaning.PassengerStairs == true ? "Yes" : "No")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.SecuritySurveillanceForRAmpHours)
                </div>
                <div class="col-sm-8">
                    <label>
                        @(Model.AircraftCleaning.SecuritySurveillanceForRAmpHours == true ? "Yes" : "No")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.StandbyFireFighting)
                </div>
                <div class="col-sm-8">
                    <label>
                        @(Model.AircraftCleaning.StandbyFireFighting == true ? "Yes" : "No")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.HotelBooking)
                </div>
                <div class="col-sm-8">
                    <label>
                        @(Model.AircraftCleaning.HotelBooking == true ? "Yes" : "No")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalManpower)
                </div>
                <div class="col-sm-8">
                    <label>
                        @(Model.AircraftCleaning.AdditionalManpower == true ? "Yes" : "No")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalRequirements)
                </div>
                <div class="col-sm-8">
                    @Model.AircraftCleaning.AdditionalRequirements
                </div>
            </div>
        }
        else
        {
            <h4>No Aircraft Cleaning info</h4>
        }
    </fieldset>
</div>