﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.MeteorologicalDataRequestServiceModal
@using Resource = EService.Web.App_LocalResources.MeteorologicalDataRequestResource

<div id="meteorologicalDataRequest" class="form-horizontal">
    <input type="hidden" id="UserServiceRequestId" value="@ViewBag.UserServiceRequestId" />
    <fieldset>
        <legend>
            @Resource.CustomerContactDetail
        </legend>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.RequestDateTime, Resource.ApplicationDate)
            </div>
            <div class="col-sm-8">
                @Model.RequestDateTime.ToString("MM/dd/yy")
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Email, Resource.Email)
            </div>
            <div class="col-sm-8">
                @Model.Email
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Department, Resource.Department)
            </div>
            <div class="col-sm-8">
                @Model.Department
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Phone, Resource.Phone)
            </div>
            <div class="col-sm-8">
                @Model.Phone
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Fax, Resource.Fax)
            </div>
            <div class="col-sm-8">
                @Model.Fax
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Address, Resource.Address)
            </div>
            <div class="col-sm-8">
                @Model.Address
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            @Resource.WeatherReportType
        </legend>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Resource.WeatherReportType
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                <ul style="list-style:none">
                    @foreach (var item in Model.WeatherTypes.Where(o => o.IsActive))
                    {
                        <li>
                            <label>@item.WeatherTypeDescription</label>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>@Resource.ClimatologicalInformation</legend>
        <div class="form-group">
            <div class="control-label col-sm-4"></div>
            <div class="col-sm-8">
                <ul style="list-style: none">
                    @if (Model.DataRangeDaily)
                    {
                        <li><label>@Resource.Daily</label></li>
                    }
                    @if (Model.DataRangeHourly)
                    {
                        <li><label>Hourly</label></li>
                    }
                    @if (Model.DataRangeMonthly)
                    {
                        <li><label>@Resource.Monthly</label></li>
                    }
                    @if (Model.DataRangeYearly)
                    {
                        <li><label>@Resource.Yearly</label></li>
                    }

                    <li>
                        <label>@Resource.SelectPeriod</label>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <span>@(Model.CustomRangeStartDate != null ? Model.CustomRangeStartDate.Value.ToString("MM/dd/yy") : "")</span> to
                                <span>@(Model.CustomRangeEndDate != null ? Model.CustomRangeEndDate.Value.ToString("MM/dd/yy") : "")</span>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>@Resource.RequisiteWeatherElements</legend>
        <ul style="list-style: none">
            @foreach (var item in Model.WeatherElements.Where(o => o.IsActive))
            {
                <li>
                    @item.WeatherElementDescription
                    @if (item.IsOther)
                    {
                        <span>@item.OtherName</span>
                    }
                </li>
            }
        </ul>
    </fieldset>

</div>
