﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.TradeLicenseRequestServiceModel

<div id="tradeLicenseDetailsDiv" class="form-horizontal">
    <h4>Trade License Request</h4>
    <fieldset>
        <legend>Applicant Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, Register.UserName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.UserName
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantName, TradingLicenseRequestResource.ApplicantName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantName
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantOfficeNumber, TradingLicenseRequestResource.ApplicantOfficeNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantOfficeNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantResidenceNumber, TradingLicenseRequestResource.ApplicantResidenceNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantResidenceNumber
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantMobileNumber, TradingLicenseRequestResource.ApplicantMobileNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantMobileNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantFaxNumber, TradingLicenseRequestResource.ApplicantFaxNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantFaxNumber
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantEmailNumber, TradingLicenseRequestResource.ApplicantEmailNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantEmailNumber
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantCountry, TradingLicenseRequestResource.ApplicantCountry, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicantCountry
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MailingAddress, TradingLicenseRequestResource.MailingAddress, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.MailingAddress
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationDate, TradingLicenseRequestResource.ApplicationDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ApplicationDate
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Project Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.PresentSponsorInUAE, TradingLicenseRequestResource.PresentSponsorInUAE, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.PresentSponsorInUAE
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AddressOfSponser, TradingLicenseRequestResource.AddressOfSponsor, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.AddressOfSponser
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyPreferredName, TradingLicenseRequestResource.CompanyPreferredName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.CompanyPreferredName
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyNameOption1, TradingLicenseRequestResource.CompanyNameOption1, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.CompanyNameOption1
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyNameOption2, TradingLicenseRequestResource.CompanyNameOption2, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.CompanyNameOption2
            </div>
        </div><div class="form-group">
            @Html.LabelFor(model => model.CompanyNameOption3, TradingLicenseRequestResource.CompanyNameOption3, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.CompanyNameOption3
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BusinessActivities1, TradingLicenseRequestResource.BusinessActivities1, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.BusinessActivities1
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BusinessActivities2, TradingLicenseRequestResource.BusinessActivities2, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.BusinessActivities2
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BusinessActivities3, TradingLicenseRequestResource.BusinessActivities3, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.BusinessActivities3
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, TradingLicenseRequestResource.Remarks, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.Remarks
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ExpectedAnnualBusinessTrunoverAmount, TradingLicenseRequestResource.ExpectedAnnualBusinessTrunoverAmount, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.ExpectedAnnualBusinessTrunoverAmount
                @Model.CurrencyName
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TotalStaffStrengthRequired, TradingLicenseRequestResource.TotalStaffStrengthRequired, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Model.TotalStaffStrengthRequired
                <ul>
                    @foreach (var item in Model.SelectedStaffStrengths)
                    {
                        <li>@item.StaffStrengthName</li>
                    }
                </ul>
            </div>
        </div>
    </fieldset>
</div>
