﻿@using EService.Web.App_LocalResources
@{
    ViewBag.Title = "User Service Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row col-xs-12 text-right" data-role="navigation-up" data-bind="template:{name: 'navTemplate'}">
</div>
<div class="row" id="serviceStatus" data-bind="template:{name: 'serviceStatusTemplate'}">

</div>
<div class="row" id="detailContent"></div>
<div class="row" id="uploadedFileContent" data-bind="template:{name: 'uploadedFileContentTemplate'}"></div>
<div class="row" id="historyContent" data-bind="template: {name: 'historyContentTemplate'}"></div>
<div class="row col-xs-12 text-right" data-role="navigation-down" data-bind="template:{name: 'navTemplate'}">
</div>
<script type="text/html" id="navTemplate">
    <!-- ko if: Status() != fia.ServiceFlowStateEnum.PaymentPending && Status() != fia.ServiceFlowStateEnum.PaymentCompleted-->
    <button type="button" class="btn btn-success ladda-button" data-role="approve" data-bind="click: $root.ApproveClick"><i class="fa fa-check-circle"></i>&nbsp; Approve</button>
    <!--/ko-->
    <a href="javascript:void()" class="btn btn-warning" data-bind="attr:{href:'/Admin/UserServiceRequest/Index?ServiceId='+ServiceId()}"><i class="fa fa-backward"></i>&nbsp; Back</a>
</script>
<script type="text/html" id="serviceStatusTemplate">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6 col-xs-12 control-label">
                <h4> <span data-bind="text: ServiceName"></span></h4>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-xs-12 control-label">
                <span> Service Status</span>
            </div>
            <div class="col-sm-8 col-xs-12">
                <span data-bind="text: StatusName"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-xs-12 control-label">
                <span> NOC Req Ref No </span>
            </div>
            <div class="col-sm-8 col-xs-12">
                <span data-bind="text: RegistrationNo"></span>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="uploadedFileContentTemplate">
    <fieldset>
        <legend>Uploaded Files</legend>
        <!--ko if: UploadedFiles().length >0-->
        <ul style="list-style: none" data-bind="foreach: UploadedFiles">
            <li><span data-bind="text: FileName"></span></li>
        </ul>
        <!--/ko-->
        <!--ko ifnot: UploadedFiles().length >0-->
        <span><u><b>No Files uploaded for this request.</b></u></span>
        <!--/ko-->
    </fieldset>
</script>
<script type="text/html" id="historyContentTemplate">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Stage</th>
                <th> Department</th>
                <th> Changed By User</th>
                <th> Changed Status</th>
                <th> Changed Date Time</th>
                <th> Remarks</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: History">
            <tr>
                <th data-bind="text: StageIndex"></th>
                <th data-bind="text: DepartmentName"></th>
                <th data-bind="text: DepartmentUserName"></th>
                <th data-bind="text: StatusName"></th>
                <th data-bind="text: moment(StatusChangedDateTime()).isValid() ? moment(StatusChangedDateTime()).format('DD/MM/YY hh:mm:ss a') : '' "></th>
                <th data-bind="text: Remarks "></th>
            </tr>
        </tbody>
        <tbody data-bind="if: History().length < 1">
            <tr>
                <td colspan="6">No History Yet</td>
            </tr>
        </tbody>
    </table>
</script>
@section scripts{
    <script src="~/Scripts/fia/fia.serviceRequestAdmin.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.serviceRequestAdmin.InitializeDetail();
        })
    </script>
}
