﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model  EService.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="US-en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fujairah Airport</title>

    <!-- Favicon Link -->
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon/favicon.ico")" type="image/x-icon" />
    <link rel="apple-touch-icon" href="@Url.Content("~/images/favicon/apple-touch-icon.png")" />
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/images/favicon/apple-touch-icon-57x57.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/images/favicon/apple-touch-icon-72x72.png" )" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/images/favicon/apple-touch-icon-76x76.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/images/favicon/apple-touch-icon-114x114.png")" />
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/images/favicon/apple-touch-icon-120x120.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/images/favicon/apple-touch-icon-144x144.png")" />
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/images/favicon/apple-touch-icon-152x152.png")" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/images/favicon/apple-touch-icon-180x180.png")" />

    <!-- CSS Link -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/normalize.min.css" )">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/responsive.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/toastr.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/ladda-themeless.css")" type="text/css" />
</head>
<body>
    <header id="masthead" class="site-header">
        <div class="container">
            <div class="site-logo">
                <a href="@Url.Action("Index")" class="navbar-brand">
                    <img src="@Url.Content("~/images/logo.png")" alt="logo.png">
                </a>
            </div>
        </div>
    </header><!-- /header -->

    <main id="main" class="site-main">
        <div class="container">
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <div class="login-form-wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <h1>Enter Your Login Details</h1>
                                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "frm" }))
                                {
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "User Name" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="login" value="Login" class="site-btn ladda-button" data-style="expand-left" id="btnLogin">
                                            <span class="ladda-label">@GlobalResource.Submit</span>
                                        </button>
                                    </div>
                                    <div class="form-group clearfix">
                                        <a href="@Url.Action("Index","Register", new {Area=""})">Create an Account</a>
                                        <a href="@Url.Action("Index","ForgotPassword", new {Area=""})">Forgot Password?</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="main-footer" class="site-footer">
        <div class="container">
            <div class="site-info">
                <p>
                    © Fujairah International Airport. All Rights Reserved. Site by <a href="http://www.go-gulf.com/" target="_blank">GO-Gulf</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- jQuery Link -->
    <script src="@Url.Content("~/scripts/jquery.1.11.3.min.js")"></script>
    <script src="@Url.Content("~/scripts/modernizr-2.8.3.min.js")"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment-with-locales.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/ladda.jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/spin.min.js")"></script>
    <script src="@Url.Content("~/Scripts/ladda.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom-bindingHandlers.js")"></script>
    <script src="@Url.Content("~/scripts/custom.js")"></script>
    @Scripts.Render("~/bundles/common")
    <script type="text/javascript">
        function showMessage(title, message, event, closedEventHandler) {
            if (title != null && message != null) {
                //setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000,
                    onHidden: closedEventHandler
                };
                switch (event) {
                    case 'success':
                        toastr.success(title, message);
                        break;
                    case 'error':
                        toastr.error(title, message);
                        break;
                    default:
                        toastr.info(title, message);
                        break;
                }

                //}, 1300);
            }
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $("#frm").submit(function (event) {
                event.preventDefault();
                if (!$('#frm').valid()) {
                    return false;
                }
                ajaxRequest('@Url.Action("Index")', 'POST', {
                    data: { model: $('#frm').serializeObject() },
                    enableLadda: true,
                    targetLaddaElement: '#btnLogin',
                }, function (resp) {

                    if (resp.IsSuccess) {
                        showMessage(resp.Message, 'Login', 'success', function () {
                        });
                        setTimeout(function () {
                            window.location = '@Url.Action("Index", "Dashboard")';

                        },500);
                    } else {
                        showMessage(resp.Message, 'Login', 'error', function () {
                        });
                    }
                });
                event.preventDefault();
            });

        });
    </script>
</body>
</html>
