﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources

@model EService.Web.Models.UserViewModel
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var UserViewModel = {

        }

        var initialize = function () {
            ajaxRequest('@Url.Action("Initialize")', 'GET', {}, function (resp) {
                if (resp.IsSuccess) {
                    if (!ko.dataFor($('#mainContent')[0])) {
                        UserViewModel = ko.mapping.fromJS(resp.Data);
                        UserViewModel.NewDepartmentUserModel.DisableDepartmentSelect = ko.observable(false);
                        UserViewModel.DefaultAddNewModel = ko.toJS(UserViewModel.NewDepartmentUserModel);
                        UserViewModel.AddNewDepartmentUser = function () {
                            UserViewModel.NewDepartmentUserModel.UserTypeId(null);
                            UserViewModel.NewDepartmentUserModel.DisableDepartmentSelect(false);
                            UserViewModel.NewDepartmentUserModel.DepartmentId(null);
                            $('#addDepartmentUserModal').modal('show');
                        }
                        UserViewModel.AddNewFinanceUser = function () {
                            UserViewModel.NewDepartmentUserModel.UserTypeId(4);
                            UserViewModel.NewDepartmentUserModel.DisableDepartmentSelect(true);
                            UserViewModel.NewDepartmentUserModel.DepartmentId(3);
                            $('#addDepartmentUserModal').modal('show');
                        }
                        UserViewModel.SaveDepartmentUser = function () {
                            if (!$('#departmentUserAddForm').valid()) {
                                return false;
                            }
                            var vm = ko.toJS(UserViewModel.NewDepartmentUserModel);

                            ajaxRequest('@Url.Action("SaveDepartmentUser")', 'POST', {
                                data: { model: vm },
                                enableLadda: true,
                                targetLaddaElement: '#btnSave'
                            }, function (resp) {
                                if (resp.IsSuccess) {

                                    showMessage('User', 'User Created Successfully.', 'success', function () {
                                     
                                    });
                                    ko.mapping.fromJS(resp.Data, {}, UserViewModel);
                                    $('#addDepartmentUserModal').modal('hide');
                                } else {
                                    showMessage('User', resp.Message, 'error', function () {

                                    });
                                }
                            });
                        }
                        ko.applyBindings(UserViewModel, $('#mainContent')[0]);
                    } else {
                        ko.mapping.fromJS(UserViewModel, {}, resp.Data);
                    }
                } else {
                    showMessage('User', resp.Message, 'error');
                }
            });
        }

        $(function () {
            initialize();
        });
    </script>
}
    <div id="mainContent" databind="if: UserList">
        <div class="pull-right">
            <a class="btn btn-xs btn-primary " href="javascript:void()" data-bind="click: AddNewDepartmentUser"><i class="glyphicon glyphicon-plus-sign"></i> Add New Department User</a>
            <a class="btn btn-xs btn-primary " href="javascript:void()" data-bind="click: AddNewFinanceUser"><i class="glyphicon glyphicon-plus-sign"></i> Add New Finance User</a>
        </div>
        <div class="clearfix"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User Type</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: UserList">
                <tr>
                    <td data-bind="text: UserTypeName"></td>
                    <td data-bind="text: UserName"></td>
                    <td data-bind="text: Email"></td>
                    <td data-bind="text: DepartmentName"></td>
                </tr>
            </tbody>
        </table>
        <div id="addDepartmentUserModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-ph-blue ui-draggable-handle">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Department User</h4>
                    </div>
                    <div class="modal-body" data-bind="with: NewDepartmentUserModel">
                        <form class="form-horizontal" id="departmentUserAddForm">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewDepartmentUserModel.DepartmentId, UserResource.Department, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.NewDepartmentUserModel.DepartmentId, new SelectList(Enumerable.Empty<int>()), new { @class = "form-control", data_bind = "value:DepartmentId, options: $parent.Departments, optionsText: 'Description', optionsValue: 'Id', optionsCaption: 'Select', disable: DisableDepartmentSelect " })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewDepartmentUserModel.UserName, UserResource.UserName, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.NewDepartmentUserModel.UserName, new { @class = "form-control", data_bind = "value:UserName" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewDepartmentUserModel.FirstName, UserResource.FirstName, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.NewDepartmentUserModel.FirstName, new { @class = "form-control", data_bind = "value:FirstName" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewDepartmentUserModel.LastName, UserResource.LastName, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.NewDepartmentUserModel.LastName, new { @class = "form-control", data_bind = "value:LastName" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewDepartmentUserModel.Password, UserResource.Password, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.PasswordFor(model => model.NewDepartmentUserModel.Password, new { @class = "form-control", data_bind = "value:Password" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewDepartmentUserModel.ConfirmPassword, UserResource.ConfirmPassword, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.PasswordFor(model => model.NewDepartmentUserModel.ConfirmPassword, new { @class = "form-control", data_bind = "value:ConfirmPassword" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewDepartmentUserModel.Email, UserResource.Email, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.NewDepartmentUserModel.Email, new { @class = "form-control", data_bind = "value:Email" })
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSave" data-bind="click: SaveDepartmentUser"><span class="ladda-label">@GlobalResource.Submit</span></button>
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>