﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@model EService.Web.Models.AircraftDismantlingNOCRequestViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}
@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })
<div id="createContent" data-bind="template:{name: 'createTemplate', afterRender: CreateRenderComplete}">
</div>
<script type="text/html" id="createTemplate">
    <div class="row">
        <span class="pull-right text-right">
            <b>     <span style="font-size: xx-large;">Aircraft Dismantling Request</span></b>
            <br />
            <button class="btn btn-info" data-bind="click: SetUserInfo">Set User Information</button>
        </span>
    </div>
    <hr />
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmAircraftDismantlingRequest" }))
    {
        <div class="form-horizontal" data-bind="">
            <!--ko with: AddNewModel-->
            <fieldset>
                <legend>Applicant's Detail</legend>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfApplication)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfApplication, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker:DateOfApplication" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.NameOfApplicant)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.NameOfApplicant, new { htmlAttributes = new { @class = "form-control", data_bind = "value:NameOfApplicant" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "" })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", data_bind = "value:Address" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "" })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value:PhoneNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", data_bind = "value:Email" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.ApplicantCompanyName, htmlAttributes: new { @class = "" })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.ApplicantCompanyName, new { htmlAttributes = new { @class = "form-control", data_bind = "value:ApplicantCompanyName" } })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Aircraft Dismantle Info</legend>

                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.AircraftTypeAndModelToDismantle, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.AircraftTypeAndModelToDismantle, new { htmlAttributes = new { @class = "form-control", data_bind = "value:AircraftTypeAndModelToDismantle" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.AircraftMSNAndRegistrationNumber, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.AircraftMSNAndRegistrationNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value:AircraftMSNAndRegistrationNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OldRegistrationNo, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.OldRegistrationNo, new { htmlAttributes = new { @class = "form-control", data_bind = "value:OldRegistrationNo" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.PreviousOwnerOfAircraft, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.PreviousOwnerOfAircraft, new { htmlAttributes = new { @class = "form-control", data_bind = "value:PreviousOwnerOfAircraft" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.CurrentOwnerOfAircraft, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.CurrentOwnerOfAircraft, new { htmlAttributes = new { @class = "form-control", data_bind = "value:CurrentOwnerOfAircraft" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OperatorOrAgentWhoBroughtTheAircraft, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.OperatorOrAgentWhoBroughtTheAircraft, new { htmlAttributes = new { @class = "form-control", data_bind = "value:OperatorOrAgentWhoBroughtTheAircraft" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.WithNoObjectionFromTheAircraftOwner, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">

                        <ul style="list-style: none">
                            <li>
                                <label>
                                    <input type="radio" id="WithNoObjectionFromTheAircraftOwner" name="WithNoObjectionFromTheAircraftOwner" data-bind="checked: WithNoObjectionFromTheAircraftOwner, checkedValue: true" value="true">
                                    <span>Yes</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" id="WithNoObjectionFromTheAircraftOwner" name="WithNoObjectionFromTheAircraftOwner" data-bind="checked: WithNoObjectionFromTheAircraftOwner, checkedValue: false" value="true">
                                    <span>No</span>
                                </label>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.HasGCAAApproval)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">

                        <ul style="list-style: none">
                            <li>
                                <label>
                                    <input type="radio" id="HasGCAAApproval" name="HasGCAAApproval" data-bind="checked: HasGCAAApproval, checkedValue: true" value="true">
                                    <span>Yes</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" id="HasGCAAApproval" name="HasGCAAApproval" data-bind="checked: HasGCAAApproval, checkedValue: false" value="true">
                                    <span>No</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.GCAAApprovalRefNumber, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.GCAAApprovalRefNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value:GCAAApprovalRefNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.CertificateOfDeRegistrationRefNumber, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.CertificateOfDeRegistrationRefNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value:CertificateOfDeRegistrationRefNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.TradeLicenseRefNumber, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.TradeLicenseRefNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value:TradeLicenseRefNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfIssueOfTradeLicense, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfIssueOfTradeLicense, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker:DateOfIssueOfTradeLicense" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfExpiryOfTradeLicense, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfExpiryOfTradeLicense, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker:DateOfExpiryOfTradeLicense" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.FANRLicenseRefNumber, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.FANRLicenseRefNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value:FANRLicenseRefNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfIssueOfFANRLicense, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfIssueOfFANRLicense, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker:DateOfIssueOfFANRLicense" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfExpiryOfFANRLicense, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfExpiryOfFANRLicense, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker:DateOfExpiryOfFANRLicense" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.FujairahEPDLicenseRefNumber, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.FujairahEPDLicenseRefNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value:FujairahEPDLicenseRefNumber" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfIssueOfFujairahEPDLicense, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfIssueOfFujairahEPDLicense, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker:DateOfIssueOfFujairahEPDLicense" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.DateOfExpiryOfFujairahEPDLicense, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.DateOfExpiryOfFujairahEPDLicense, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker:DateOfExpiryOfFujairahEPDLicense" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.MethodOfDismantlingAndDestruction, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.MethodOfDismantlingAndDestruction, new { htmlAttributes = new { @class = "form-control", data_bind = "value:MethodOfDismantlingAndDestruction" } })
                    </div>
                </div>
            </fieldset>
            <!--/ko-->

            @Html.Partial("_FileUploader")
            <div class="form-group">
                <div class="col-md-offset-4 col-sm-8">
                    <button type="button" data-role="save" value="@GlobalResource.Submit" data-style="expand-left" class="btn btn-primary ladda-button" data-bind="click: $root.SaveRequest">@GlobalResource.Submit</button>
                    <button type="button" data-role="draft" value="@GlobalResource.SubmitDraft" data-style="expand-left" class="btn btn-primary ladda-button" data-bind="click: $root.SaveDraftRequest">@GlobalResource.SubmitDraft</button>
                    <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId = (int) ServiceEnum.AircraftDismantlingRequest})">@GlobalResource.Cancel</a>
                </div>
            </div>
        </div>
    }
</script>

@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.aircraftdismantling.InitializeCreate();
        })
    </script>
}