﻿@model EService.Web.Models.AircraftDismantlingNOCRequestViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserServiceRequestMasterId = Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}

@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout"})

<div id="aircraftDismantleDetailsDiv">
<h4>Aircraft Dismantling NOC Request Detail</h4>
<hr/>
<table class="table borderless" data-bind="with: Details">
@*<tr>
            <td width="40%">
                @Html.LabelFor(model => model.UserServiceRequestMasterId)
            </td>

            <td data-bind="text:UserServiceRequestMasterId">
            </td>
        </tr>*@
<tr>
    <td width="40%">
        @Html.LabelFor(model => model.DateOfApplication)
    </td>

    <td data-bind="text: moment(DateOfApplication()).isValid() ? moment(DateOfApplication()).format('DD/MM/YY') : null">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.NameOfApplicant)
    </td>

    <td data-bind="text:NameOfApplicant">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.Address)
    </td>

    <td data-bind="text:Address">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.PhoneNumber)
    </td>

    <td data-bind="text:PhoneNumber">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.Email)
    </td>

    <td data-bind="text:Email">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.ApplicantCompanyName)
    </td>

    <td data-bind="text:ApplicantCompanyName">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.AircraftTypeAndModelToDismantle)
    </td>

    <td data-bind="text:AircraftTypeAndModelToDismantle">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.AircraftMSNAndRegistrationNumber)
    </td>

    <td data-bind="text:AircraftMSNAndRegistrationNumber">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.PreviousOwnerOfAircraft)
    </td>

    <td data-bind="text:PreviousOwnerOfAircraft">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.CurrentOwnerOfAircraft)
    </td>

    <td data-bind="text:CurrentOwnerOfAircraft">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.OperatorOrAgentWhoBroughtTheAircraft)
    </td>

    <td data-bind="text:OperatorOrAgentWhoBroughtTheAircraft">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.WithNoObjectionFromTheAircraftOwner)
    </td>

    <td data-bind="text:WithNoObjectionFromTheAircraftOwnerDisplay">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.HasGCAAApproval)
    </td>

    <td data-bind="text:HasGCAAApprovalDisplay">
    </td>
</tr>

<tr>

    <td>
        @Html.LabelFor(model => model.GCAAApprovalRefNumber)
    </td>

    <td data-bind="text:GCAAApprovalRefNumber">
    </td>
</tr>

<tr>
    <td>
        @Html.LabelFor(model => model.CertificateOfDeRegistrationRefNumber)
    </td>

    <td data-bind="text:CertificateOfDeRegistrationRefNumber">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.TradeLicenseRefNumber)
    </td>

    <td data-bind="text:TradeLicenseRefNumber">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.DateOfIssueOfTradeLicense)
    </td>

    <td data-bind="text: moment(DateOfIssueOfTradeLicense()).isValid() ? moment(DateOfIssueOfTradeLicense()).format('DD/MM/YY') : null">
    </td>
</tr>



<tr>
    <td>
        @Html.LabelFor(model => model.DateOfExpiryOfTradeLicense)
    </td>

    <td data-bind="text:moment(DateOfExpiryOfTradeLicense()).isValid() ? moment(DateOfExpiryOfTradeLicense()).format('DD/MM/YY') : null">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.FANRLicenseRefNumber)
    </td>

    <td data-bind="text:FANRLicenseRefNumber">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.DateOfIssueOfFANRLicense)
    </td>

    <td data-bind="text:moment(DateOfIssueOfFANRLicense()).isValid() ? moment(DateOfIssueOfFANRLicense()).format('DD/MM/YY') : null">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.DateOfExpiryOfFANRLicense)
    </td>

    <td data-bind="text:moment(DateOfExpiryOfFANRLicense()).isValid() ? moment(DateOfExpiryOfFANRLicense()).format('DD/MM/YY') : null">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.FujairahEPDLicenseRefNumber)
    </td>

    <td data-bind="text:FujairahEPDLicenseRefNumber">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.DateOfIssueOfFujairahEPDLicense)
    </td>

    <td data-bind="text:moment(DateOfIssueOfFujairahEPDLicense()).isValid() ? moment(DateOfIssueOfFujairahEPDLicense()).format('DD/MM/YY') : null">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.DateOfExpiryOfFujairahEPDLicense)
    </td>

    <td data-bind="text:moment(DateOfExpiryOfFujairahEPDLicense()).isValid() ? moment(DateOfExpiryOfFujairahEPDLicense()).format('DD/MM/YY') : null">
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.MethodOfDismantlingAndDestruction)
    </td>

    <td data-bind="text:MethodOfDismantlingAndDestruction">
    </td>
</tr>
</table>
</div>
@Html.Partial("_FileUploadedList")
<p>
    
    @*@Html.ActionLink("Edit", "Edit", new {id = UserServiceRequestMasterId}) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.aircraftdismantling.InitializeDetail();
        })
    </script>
}