﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Web.Models.CranePermitRequestViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.cranePermitRequest.js"></script>
    <script type="text/javascript">

        $(function () {
            fia.cranePermitRequest.InitializeCreate();
        });

    </script>
}
@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })
<div id="createContent" data-bind="template:{name: 'createContentTemplate', afterRender: AfterRenderComplete}">
</div>
<script type="text/html" id="createContentTemplate">
    <div class="row">
        <span class="pull-right text-right">
            <b>     <span style="font-size: xx-large;">Crane Permit Request</span></b>
            <br />
            <button class="btn btn-info" data-bind="click: SetUserInfo">Set User Information</button>
        </span>
    </div>
    <hr />
    <form id="frm" class="form-horizontal">
        <div data-bind="">
            <!-- ko with : AddNewModel-->
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.ApplicationDate, CranePermitLocationResource.ApplicationDate)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ApplicationDate, new { @class = "form-control", data_bind = "datePicker:ApplicationDate" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsNewApplication, CranePermitLocationResource.IsNewApplication, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    <label>
                        <input type="checkbox" data-bind="checked: IsNewApplication, checkedValue: true" />
                        <span data-bind="">Yes for New Application</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PreviousPermitNumbers, CranePermitLocationResource.PreviousPermitNumbers, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.PreviousPermitNumbers, new { @class = "form-control", data_bind = "value:PreviousPermitNumbers" })
                    @Html.ValidationMessageFor(model => model.PreviousPermitNumbers)
                </div>
            </div>
            <fieldset>
                <legend>Applicant Information</legend>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.ApplicantName, CranePermitLocationResource.ApplicantName)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ApplicantName, new { @class = "form-control", data_bind = "value:ApplicantName" })
                        @Html.ValidationMessageFor(model => model.ApplicantName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.CompanyName, CranePermitLocationResource.CompanyName)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", data_bind = "value:CompanyName" })
                        @Html.ValidationMessageFor(model => model.CompanyName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.Position, CranePermitLocationResource.Position)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Position, new { @class = "form-control", data_bind = "value:Position" })
                        @Html.ValidationMessageFor(model => model.Position)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.ContactNumber, CranePermitLocationResource.ContactNumber)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control", data_bind = "value:ContactNumber" })
                        @Html.ValidationMessageFor(model => model.ContactNumber)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.ApplicantEmail, CranePermitLocationResource.ApplicantEmail)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.ApplicantEmail, new { @class = "form-control", data_bind = "value:ApplicantEmail" })
                        @Html.ValidationMessageFor(model => model.ApplicantEmail)
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Project Info</legend>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.CraneLocation, CranePermitLocationResource.LocationOfCrane, new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.CraneLocation, new { @class = "form-control", data_bind = "value:CraneLocation" })
                        @Html.ValidationMessageFor(model => model.CraneLocation)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.NorthingsEastings, CranePermitLocationResource.NorthingsEastings, new { })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.NorthingsEastings, new { @class = "form-control", data_bind = "value:NorthingsEastings" })
                        @Html.ValidationMessageFor(model => model.NorthingsEastings)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.OperationStartDate, CranePermitLocationResource.OperationStartDate)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.OperationStartDate, new { @class = "form-control", data_bind = "datePicker:OperationStartDate" })
                        @Html.ValidationMessageFor(model => model.OperationStartDate)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.OperationEndDate, CranePermitLocationResource.OperationEndDate)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.OperationEndDate, new { @class = "form-control", data_bind = "datePicker:OperationEndDate" })
                        @Html.ValidationMessageFor(model => model.OperationEndDate)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.OperationStartTime, CranePermitLocationResource.OperationStartTime)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.OperationStartTime, new { @class = "form-control", data_bind = "value:OperationStartTime" })
                        @Html.ValidationMessageFor(model => model.OperationStartTime)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.OperationEndTime, CranePermitLocationResource.OperationEndTime)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.OperationEndTime, new { @class = "form-control", data_bind = "value:OperationEndTime" })
                        @Html.ValidationMessageFor(model => model.OperationEndTime)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.MaxOperatingHeight, CranePermitLocationResource.MaxOperatingHeight)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.MaxOperatingHeight, new { @class = "form-control", data_bind = "value:MaxOperatingHeight" })
                        @Html.ValidationMessageFor(model => model.MaxOperatingHeight)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PurposeOfUser, CranePermitLocationResource.PurposeOfUser, new { @class = "" })
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.PurposeOfUser, new { @class = "form-control", data_bind = "value:PurposeOfUser" })
                        @Html.ValidationMessageFor(model => model.PurposeOfUser)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.CraneOperatingCompany, CranePermitLocationResource.CraneOperatingCompany)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.CraneOperatingCompany, new { @class = "form-control", data_bind = "value:CraneOperatingCompany" })
                        @Html.ValidationMessageFor(model => model.CraneOperatingCompany)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.OperatorName, CranePermitLocationResource.OperatorName)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.OperatorName, new { @class = "form-control", data_bind = "value:OperatorName" })
                        @Html.ValidationMessageFor(model => model.OperatorName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.OperatorContactNumber, CranePermitLocationResource.OperatorContactNumber)
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.OperatorContactNumber, new { @class = "form-control", data_bind = "value:OperatorContactNumber" })
                        @Html.ValidationMessageFor(model => model.OperatorContactNumber)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@CranePermitLocationResource.CraneType    <span class="red">*</span></label>
                    <div class="col-sm-8" data-bind="foreach:CraneTypeSelectionViewModels">
                        <div class="col-xs-4 col-md-2">
                            <label><input type="checkbox" name="CraneType" data-bind="checked:IsSelected" /><span data-bind="text: CraneTypeName"></span></label>
                        </div>
                        <div data-bind="if: IsOther()===true && IsSelected() === true ">
                            <input type="text" data-bind="value:OtherCraneTypeName" class="form-control col-xs-4" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <!--/ko-->

            @Html.Partial("_FileUploader")
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" data-role="save" id="btnSave" class="btn btn-primary ladda-button" data-style="expand-left" data-bind="click: $root.Save" value="@GlobalResource.Submit">@GlobalResource.Submit</button>
                    <button type="button" data-role="draft" id="" class="btn btn-primary ladda-button" data-style="expand-left" data-bind="click: $root.SaveDraft" value="@GlobalResource.SubmitDraft">@GlobalResource.SubmitDraft</button>
                    <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId = (int) ServiceEnum.CranePermitRequest})">@GlobalResource.Cancel</a>
                </div>
            </div>
        </div>


    </form>
</script>
