﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.CranePermitRequestServiceModel

@{
    ViewBag.Title = "Service Request Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">

    </script>
}

<h2>Service Request Detail</h2>
<div class="form-horizontal">

    <div>
        <div class="form-group">
            @Html.LabelFor(model => model.StatusName, GlobalResource.Status, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.StatusName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, Register.UserName, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.UserName, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantEmail, CranePermitLocationResource.ApplicantEmail, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicantEmail, new {@class = "form-control", data_bind = "text:ApplicantEmail"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, CranePermitLocationResource.CompanyName, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CompanyName, new {@class = "form-control", data_bind = "value:CompanyName"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Position, CranePermitLocationResource.Position, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Position, new {@class = "form-control", data_bind = "value:Position"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactNumber, CranePermitLocationResource.ContactNumber, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ContactNumber, new {@class = "form-control", data_bind = "value:ContactNumber"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantEmail, CranePermitLocationResource.ApplicantEmail, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicantEmail, new {@class = "form-control", data_bind = "value:ApplicantEmail"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsNewApplication, CranePermitLocationResource.IsNewApplication, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.IsNewApplication, new {@class = "form-control", data_bind = "value:IsNewApplication"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PreviousPermitNumbers, CranePermitLocationResource.PreviousPermitNumbers, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.PreviousPermitNumbers, new {@class = "form-control", data_bind = "value:PreviousPermitNumbers"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CraneLocation, CranePermitLocationResource.LocationOfCrane, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CraneLocation, new {@class = "form-control", data_bind = "value:LocationOfCrane"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NorthingsEastings, CranePermitLocationResource.NorthingsEastings, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.NorthingsEastings, new {@class = "form-control", data_bind = "value:NorthingsEastings"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationStartDate, CranePermitLocationResource.OperationStartDate, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperationStartDate, new {@class = "form-control", data_bind = "value:moment(OperationStartDate()).format('DD/MM/YYYY')"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationEndDate, CranePermitLocationResource.OperationEndDate, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperationEndDate, new {@class = "form-control", data_bind = "datePicker:OperationEndDate"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationStartTime, CranePermitLocationResource.OperationStartTime, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperationStartTime, new {@class = "form-control", data_bind = "value:OperationStartTime"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationEndTime, CranePermitLocationResource.OperationEndTime, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperationEndTime, new {@class = "form-control", data_bind = "value:OperationEndTime"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaxOperatingHeight, CranePermitLocationResource.MaxOperatingHeight, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.MaxOperatingHeight, new {@class = "form-control", data_bind = "value:MaxOperatingHeight"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PurposeOfUser, CranePermitLocationResource.PurposeOfUser, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.PurposeOfUser, new {@class = "form-control", data_bind = "value:PurposeOfUser"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CraneOperatingCompany, CranePermitLocationResource.CraneOperatingCompany, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CraneOperatingCompany, new {@class = "form-control", data_bind = "value:CraneOperatingCompany"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperatorName, CranePermitLocationResource.OperatorName, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperatorName, new {@class = "form-control", data_bind = "value:OperatorName"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperatorContactNumber, CranePermitLocationResource.OperatorContactNumber, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperatorContactNumber, new {@class = "form-control", data_bind = "value:OperatorContactNumber"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentIndex, CranePermitLocationResource.CurrentIndex, new {@class = "col-sm-4 control-label"})
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CurrentIndex, new {@class = "form-control", data_bind = "value:CurrentIndex"})
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">@CranePermitLocationResource.CraneType</label>
            <div class="col-sm-8">
                @foreach (var item in Model.SelectedCraneTypes.Where(o => o.IsSelected))
                {
                    <div class="col-xs-4 col-md-2">
                        <span>@item.CraneTypeName</span>
                        <div>
                            <span>@(item.IsOther ? item.OtherCraneTypeName : "")</span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                <a href="@Url.Action("Index")">@GlobalResource.Cancel</a>
            </div>
        </div>
    </div>
</div>
