﻿@using EService.Web.App_GlobalResources

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-right">
    <a href="@Url.Action("Create")" class="btn btn-primary"> <i class="glyphicon glyphicon-plus-sign"></i> &nbsp;@GlobalResource.NewRequest</a>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.cranePermitRequest.js"></script>
    <script type="text/javascript">
        @*var ServiceRequestDetailVM = {
            Records: {},
            Initialize: function () {
                ajaxRequest('@Url.Action("Initialize")', 'GET', {}, function (resp) {
                    if (resp.IsSuccess) {
                        if (!ko.dataFor($('#mainContent')[0])) {
                            ServiceRequestDetailVM.Records = ko.mapping.fromJS(resp.Data);

                            ServiceRequestDetailVM.ViewDetail = function (item) {
                                window.location = '@Url.Action("Detail")' + '?id=' + item.UserServiceRequestMasterId();
                            }

                            ko.applyBindings(ServiceRequestDetailVM, $('#mainContent')[0]);
                        } else {
                            ko.mapping.fromJS(resp.Data, {}, ServiceRequestDetailVM);
                        }
                    } else {
                        showMessage('Service Request Detail', resp.Message, 'error');
                    }
                });
            }
        }*@
        $(function () {
            fia.cranePermitRequest.InitializeIndex();
            //ServiceRequestDetailVM.Initialize();
        });
    </script>
}

<script type="text/html" id="serviceDetailTemplate">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Service Name</th>
                <th>User (Email)</th>
                <th>NOC Req Ref No </th>
                <th>Requested Date Time</th>
                <th>Request Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Records">
            <tr>
                <td data-bind="text: ServiceName"></td>
                <td data-bind="text: UserName()+'( '+Email()+' )' "></td>
                <td data-bind="text: RegistrationNo"></td>
                <td data-bind="text: moment(RequestDateTime()).format('DD/MM/YY hh:mm:ss a')"></td>
                <td data-bind="text: RequestStatusName"></td>
                <td><a href="javascript:void()" data-bind="click:ViewDetail">View Detail</a></td>
            </tr>
        </tbody>
    </table>
</script>
<div id="mainContent" class="form-horizontal" data-bind="template:{name:'serviceDetailTemplate' }">

</div>