﻿

<div id="userprofile">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Job Title</th>
            <th>Apply Date</th>
            <th>Status</th>
            <th>Accept/Reject Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="tr_UserJob"></tbody>
    </table>


</div>

<script>

    $(document).ready(function () {
        getUserJobs();
    });
    function getUserJobs() {
      
        $.get('/umbraco/surface/Job/GetUserJob', function (items) {
            var tr = "";
            $.each(items, function () {
                 tr += '<tr>';
                tr += "<td>" + this.FullName + "</td>";
                tr += "<td>" + this.Email + "</td>";
                tr += "<td>" + this.JobTitle + "</td>";
                tr += "<td>" + this.ApplyDateText + "</td>";
                tr += "<td>" + this.Status + "</td>";
                tr += "<td>" + this.AcceptRejectDateText + "</td>";
                tr += '<td>' +
                    '<div class="dropdown"><button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Action<span class="caret"></span></button>' +
                    '<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">' +
                    '<li><a href="javascript:void(0)" onclick="GetUserProfile(' + this.UserId + ')">View Profile</a></li>';
                if (this.ResumePath != null) {
                    tr += 
                    '<li><a href="/umbraco/surface/Manage/DownoadResume?userId=' + this.UserId + '">Download Resume</a></li>';
                }
                
                tr += '<li><a href="#" onclick="AcceptRejectUser(' + this.UserJobId + ',1)">Accept</a></li>' +
                   '<li><a href="#" onclick="AcceptRejectUser(' + this.UserJobId + ',2)">Reject</a></li>' +
                    '</ul>' +
                    '</div>' +
                    '</td>';
                tr += "</tr>";
            });
           

            $("#tr_UserJob").html(tr);
        });
    }

    function GetUserProfile(userId) {
        UmbClientMgr.openModalWindow("/umbraco/surface/Manage/GetProfile?userId=" + userId, 'User Profile', true, 400, 200, 200, 200, null, null);

    }
    function AcceptRejectUser(userJobId, status) {
        var userProfilePopup = $("#userProfilePopup");
        $.get("/umbraco/surface/Job/AcceptRejectUser?userJobId=" + userJobId + "&status=" + status, function (result) {
            getUserJobs();
        });
    }
</script>