﻿@using System.Threading
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var currCulture = Thread.CurrentThread.CurrentCulture;
    var urlSuffix = currCulture.ToString().Equals("en-US") ? "/en" : "/ar";
}
<!-- FIA TWO COLUMN SECTION -->
<section id="page-section" class="page-section clearfix">
    <div class="container">
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src='@Url.Content("~/images/corporate-image.png")' alt="corporate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2>@Umbraco.Field("#Corporate eServices")</h2>
                        <p class="page-desc has-break">@Umbraco.Field("#MainContent.Eservices.Para") </p>
                        <a href="@urlSuffix/corporate/eservices/" class="btn site-btn">@Umbraco.Field("#MainContent.Register for eServices")</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src='@Url.Content("~/media/1443/travellers-landing-permission.jpg")' alt="corporate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2>@Umbraco.Field("#Landing Permission")</h2>
                        <p class="page-desc has-break">@Umbraco.Field("#Landing Permission para")</p>
                        <a href="@urlSuffix/corporate/landing-permission/" class="btn site-btn">@Umbraco.Field("#Landing here button")</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fia-column-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="column-image">
                        <img src='@Url.Content("~/media/1228/whatsinoursky.jpg")' alt="corporate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="column-desc">
                        <h2>@Umbraco.Field("#What’s in our Sky?")</h2>
                        <p class="page-desc has-break">@Umbraco.Field("#whats in our sky para")</p>
                        <a href="https://www.flightradar24.com/simple?=lat=25.1115464&lon=56.3298855&z=15" target="_blank" class="btn site-btn">@Umbraco.Field("#Explore")</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-dine clearfix">
            <div class="row">
                <div class="col-md-6">
                    <a href="@urlSuffix/travellers/getting-around-the-airport/driving-direction/" class="title column-overlay">
                        <div class="column-image">
                            <img src='@Url.Content("~/media/1235/getting.png")' alt="shop-dine">
                        </div>
                        <div class="fia-column-content">
                            <h3>@Umbraco.Field("#Getting around the Airport")</h3>
                            <ul>
                                <li>@Umbraco.Field("#Driving Direction")</li>
                                <li>@Umbraco.Field("#Where to Park")</li>
                                <li>@Umbraco.Field("#Checking In")</li>
                                <li>@Umbraco.Field("#Luggage Guideline")</li>
                                <li>@Umbraco.Field("#Relaxing Inside")</li>
                            </ul>
                        </div>
                        <div class="bg-overlay"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="@urlSuffix/travellers/shop-and-dine/" class="title column-overlay">
                        <div class="column-image">
                            <img src='@Url.Content("~/media/1396/shop-dine-homepage-image.jpg")' alt="shop-dine">
                        </div>
                        <div class="fia-column-content">
                            <h3> @Umbraco.Field("#Shop and Dine")</h3>
                            <p>
                                @Umbraco.Field("#shop and dine para")
                            </p>
                            <button class="btn arrow-btn">
                                <img src='@Url.Content("~/images/overlay-arrow.png")'>
                            </button>
                        </div>
                        <div class="bg-overlay"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIA TWO COLUMN SECTION -->