﻿@inherits UmbracoViewPage<FIA.CMS.Model.SocialResponsibilityModel>
<script type="text/javascript">
    var isCaptchaVerified = false;
    var onloadCallback = function () {
        grecaptcha.render('captcha', {
            'sitekey': '6LdguzIUAAAAAK4KwoJLQ4IKEBVYryegP6XpLglo',
            'callback': verifyCallback,
            'expired-callback': expiredCallback,
            'theme': 'dark'
        });

    };
    var verifyCallback = function () {
        isCaptchaVerified = true;
    };
    var expiredCallback = function () {
        isCaptchaVerified = false;
    };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>

<div class="send-request-block">
    <h3>@Umbraco.Field("#Form.Send Us a Request Form")</h3>

    @using (Html.BeginUmbracoForm("SubmitForm", "SocialResponsibility", FormMethod.Post, new { @id = "SocialResponsibility", @class = "form request-form select-entry" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="row">
            <div class="select-touch-wrap">
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(x => x.ServiceType, "Air Traffic Control", new { @required = "" })
                        <span>Air Traffic Control</span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(x => x.ServiceType, "Fire Protection", new { @required = "" })
                        <span>Fire Protection</span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(x => x.ServiceType, "Safety", new { @required = "" })
                        <span>Safety</span>
                    </label>
                </div>
            </div>
            <div>
                @Html.ValidationMessageFor(x => x.ServiceType)
            </div>
            <div class="col-md-6">
                <div class="request-left">
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <label>@Umbraco.Field("#Form.First Name")</label>
                        </div>
                        <div class="col-md-8">

                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @Required = "" })
                            @Html.ValidationMessageFor(x => x.FirstName)
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <label>@Umbraco.Field("#Form.Last Name")</label>
                        </div>
                        <div class="col-md-8">

                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @Required = "" })
                            @Html.ValidationMessageFor(x => x.LastName)
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-3">
                            <label>@Umbraco.Field("#Form.Email")</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @Required = "" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="request-right">
                    <div class="form-group has-more-margin clearfix">
                        <div class="col-md-3">
                            <label>@Umbraco.Field("#Form.Message")</label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" name="message" rows="6">									</textarea>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div id="captcha" class="g-recaptcha" data-sitekey="6LdguzIUAAAAAK4KwoJLQ4IKEBVYryegP6XpLglo"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <button class="btn site-btn btn-submit" type="button" data-role="submit">
                                @Umbraco.Field("#Form.Submit")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    var checkboxValid = false;
    $("[data-role=submit]").on("click", function () {
        var form = $("#SocialResponsibility");
        var isValid = form.valid();
      
        if (isValid && isCaptchaVerified) {
            form.submit();
        }
    });
</script>
@*SocialResponsibility*@