﻿@using System.Threading
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var currCulture = Thread.CurrentThread.CurrentCulture;
    var urlSuffix = currCulture.ToString().Equals("en-US") ? "/en" : "/ar";
}
<!-- Why FIA -->
<section id="whyfia" class="whyfia clearfix">
    <div class="whyfia-desc">
        <a href="@urlSuffix/corporate/why-connect-to-fia/">
            <h2 class="page-title">@Umbraco.Field("#Why Connect to FIA")</h2>
        </a>
        <h5 class="page-desc">@Umbraco.Field("#WhyFia.Para")</h5>
    </div>
    <div class="whyfia-three-column">
        <div class="col-md-4">
            <a href="@urlSuffix/travellers/passenger-services/" class="column-overlay">
                <div class="fia-column-box">
                    <img src='@Url.Content("~/media/1179/passenger-services.jpg")'>
                </div>
                <div class="fia-column-content">
                    <h3>@Umbraco.Field("#Passenger Services")</h3>
                    <p>
                        @Umbraco.Field("#WhyFia.PassengerService.Para")
                    </p>
                </div>
                <div class="bg-overlay"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@urlSuffix/corporate/why-connect-to-fia/flight-operations/maintenance-repair-and-overhaul/" class="column-overlay">
                <div class="fia-column-box">
                    <img src='@Url.Content("~/media/1226/mro.jpg")'>
                </div>
                <div class="fia-column-content">
                    <h3>@Umbraco.Field("#MRO - Maintenance, Repair & Operations")</h3>
                    <p>
                        @Umbraco.Field("#WhyFia.MRO.Para")
                    </p>
                </div>
                <div class="bg-overlay"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="~/media/1444/fiaaip.pdf" class="column-overlay" target="_blank">
                <div class="fia-column-box">
                    <img src='@Url.Content("~/media/1222/aeronotical-information.png")'>
                </div>
                <div class="fia-column-content">
                    <h3>@Umbraco.Field("#Aeronautical Information")</h3>
                    <p>
                        @Umbraco.Field("#WhyFia.AeronauticalInfo.Para")
                    </p>
                    <button class="btn arrow-btn">
                        <img src='@Url.Content("~/images/overlay-arrow.png")'>
                    </button>
                </div>
                <div class="bg-overlay"></div>
            </a>
        </div>
    </div>
</section>
<!-- Why FIA -->