﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.AircraftDismantlingRequestServiceModal

<div class="form-horizontal">
    <fieldset>
        <legend>Applicant Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, Register.UserName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:UserName"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NameOfApplicant, AircraftMaintenanceRequestResource.NameOfApplicant, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:NameOfApplicant"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, AircraftMaintenanceRequestResource.AddressOfMaintenanceCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:Address"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, AircraftMaintenanceRequestResource.PhoneNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:PhoneNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, AircraftMaintenanceRequestResource.EmailId, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:Email"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantCompanyName, AircraftDismantlingRequestResource.ApplicantCompanyName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:ApplicantCompanyName"></span>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Project Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftTypeAndModelToDismantle, AircraftDismantlingRequestResource.AircraftTypeAndModelToDismantle, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:AircraftTypeAndModelToDismantle"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftMSNAndRegistrationNumber, AircraftDismantlingRequestResource.AircraftMSNAndRegistrationNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:AircraftMSNAndRegistrationNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OldRegistrationNo, AircraftDismantlingRequestResource.OldRegistrationNo, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:OldRegistrationNo"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PreviousOwnerOfAircraft, AircraftDismantlingRequestResource.PreviousOwnerOfAircraft, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:PreviousOwnerOfAircraft"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentOwnerOfAircraft, AircraftDismantlingRequestResource.CurrentOwnerOfAircraft, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:CurrentOwnerOfAircraft"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperatorOrAgentWhoBroughtTheAircraft, AircraftDismantlingRequestResource.OperatorOrAgentWhoBroughtTheAircraft, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:OperatorOrAgentWhoBroughtTheAircraft"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WithNoObjectionFromTheAircraftOwner, AircraftDismantlingRequestResource.WithNoObjectionFromTheAircraftOwner, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:WithNoObjectionFromTheAircraftOwner"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HasGCAAApproval, AircraftDismantlingRequestResource.HasGCAAApproval, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:HasGCAAApproval"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GCAAApprovalRefNumber, AircraftDismantlingRequestResource.GCAAApprovalRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:GCAAApprovalRefNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CertificateOfDeRegistrationRefNumber, AircraftDismantlingRequestResource.CertificateOfDeRegistrationRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:CertificateOfDeRegistrationRefNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TradeLicenseRefNumber, AircraftDismantlingRequestResource.TradeLicenseRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:TradeLicenseRefNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfIssueOfTradeLicense, AircraftDismantlingRequestResource.DateOfIssueOfTradeLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:moment(DateOfIssueOfTradeLicense()).isValid() ? moment(DateOfIssueOfTradeLicense()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfExpiryOfTradeLicense, AircraftDismantlingRequestResource.DateOfExpiryOfTradeLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:moment(DateOfExpiryOfTradeLicense()).isValid() ? moment(DateOfExpiryOfTradeLicense()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FANRLicenseRefNumber, AircraftDismantlingRequestResource.FANRLicenseRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:FANRLicenseRefNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfIssueOfFANRLicense, AircraftDismantlingRequestResource.DateOfIssueOfFANRLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:moment(DateOfIssueOfFANRLicense()).isValid() ? moment(DateOfIssueOfFANRLicense()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfExpiryOfFANRLicense, AircraftDismantlingRequestResource.DateOfExpiryOfFANRLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:moment(DateOfExpiryOfFANRLicense()).isValid() ? moment(DateOfExpiryOfFANRLicense()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FujairahEPDLicenseRefNumber, AircraftDismantlingRequestResource.FujairahEPDLicenseRefNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:FujairahEPDLicenseRefNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfIssueOfFujairahEPDLicense, AircraftDismantlingRequestResource.DateOfIssueOfFujairahEPDLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:moment(DateOfIssueOfFujairahEPDLicense()).isValid() ? moment(DateOfIssueOfFujairahEPDLicense()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfExpiryOfFujairahEPDLicense, AircraftDismantlingRequestResource.DateOfExpiryOfFujairahEPDLicense, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:moment(DateOfExpiryOfFujairahEPDLicense()).isValid() ? moment(DateOfExpiryOfFujairahEPDLicense()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MethodOfDismantlingAndDestruction, AircraftDismantlingRequestResource.MethodOfDismantlingAndDestruction, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:MethodOfDismantlingAndDestruction"></span>
            </div>

        </div>
    </fieldset>

</div>