﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Web.Models.AircraftWarningLightViewModel

<div id="mainContent">
    <div class="form-horizontal">

        <div class="col-xs-12">
            <div class="col-lg-6 ">
                <fieldset>
                    <legend>Applicant Info</legend>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantName, AircraftWarningLightRequestResource.ApplicantName)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantJobTitle, AircraftWarningLightRequestResource.ApplicantJobTitle)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantJobTitle"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantCompanyName, AircraftWarningLightRequestResource.ApplicantCompanyName)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantCompanyName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantAddress, AircraftWarningLightRequestResource.ApplicantAddress)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantAddress"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantContactInfo, AircraftWarningLightRequestResource.ApplicantContactInfo)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantContactInfo"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantCellNo, AircraftWarningLightRequestResource.ApplicantCellNo)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantCellNo"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantTelNo, AircraftWarningLightRequestResource.ApplicantTelNo)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantTelNo"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantEmail, AircraftWarningLightRequestResource.ApplicantEmail)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantEmail"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.ApplicantWebsite, AircraftWarningLightRequestResource.ApplicantWebsite)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: ApplicantEmail"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <legend>Owner Info</legend>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerName, AircraftWarningLightRequestResource.OwnerName)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: OwnerName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerCompanyName, AircraftWarningLightRequestResource.OwnerCompanyName)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: OwnerCompanyName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerAddress, AircraftWarningLightRequestResource.OwnerAddress)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: OwnerAddress"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerContactInfo, AircraftWarningLightRequestResource.OwnerContactInfo)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: OwnerContactInfo"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerCellNo, AircraftWarningLightRequestResource.OwnerCellNo)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: OwnerCellNo"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerTelNo, AircraftWarningLightRequestResource.OwnerTelNo)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: OwnerTelNo"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerEmail, AircraftWarningLightRequestResource.OwnerEmail)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: OwnerEmail"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-4">
                            @Html.LabelFor(model => model.OwnerWebsite, AircraftWarningLightRequestResource.OwnerWebsite)
                        </div>
                        <div class="col-sm-8">
                            <span data-bind="text: OwnerWebsite"></span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <fieldset>
            <legend>Project Info</legend>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicationDate, AircraftWarningLightRequestResource.ApplicationDate)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: moment(ApplicationDate()).format('DD/MM/YY')"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectName, AircraftWarningLightRequestResource.ProjectName)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: ProjectName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectTypeId, AircraftWarningLightRequestResource.ProjectTypes)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: ProjectTypeName"></span>
                    <!-- ko if: ProjectTypeName() =='Other'-->
                    <span data-bind="text: ProjectTypeOtherName"></span>
                    <!--/ko-->
                  
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.NoOfStructures, AircraftWarningLightRequestResource.NoOfStructures)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: NoOfStructures"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.NoOfObstacleLights, AircraftWarningLightRequestResource.NoOfObstacleLights)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: NoOfObstacleLights"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.TypesOfObstacleLights, AircraftWarningLightRequestResource.TypesOfObstacleLights)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: TypesOfObstacleLights"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectLocation, AircraftWarningLightRequestResource.ProjectLocation)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: ProjectLocation"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectDescription, AircraftWarningLightRequestResource.ProjectDescription)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: ProjectDescription"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicantOwnerRelationShipId, AircraftWarningLightRequestResource.ApplicantOwnerRelations)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text:ApplicantOwnerRelationshipName"></span>
                    <!-- ko if : ApplicantOwnerRelationshipName() == 'Other'-->
                    <span data-bind="text:ApplicantOwnerRelationshipOtherName"></span>
                    <!--/ko-->
                </div>
            </div>
        </fieldset>


    </div>
</div>