﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.AircraftMaintenanceRequestServiceModal

<div class="form-horizontal">
    <fieldset>
        <legend>Applicant Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, Register.UserName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text:UserName"></span>
                @*@Html.DisplayFor(model => model.UserName, new {@class = "form-control", data_bind = "text:UserName"})*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NameOfApplicant, AircraftMaintenanceRequestResource.NameOfApplicant, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.NameOfApplicant, new {@class = "form-control", data_bind = "text:NameOfApplicant" })*@
                <span data-bind="text:NameOfApplicant"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Designation, AircraftMaintenanceRequestResource.Designation, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.Designation, new {@class = "form-control", data_bind = "value:Designation" })*@
                <span data-bind="text:Designation"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, AircraftMaintenanceRequestResource.PhoneNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.PhoneNumber, new {@class = "form-control", data_bind = "value:PhoneNumber" })*@
                <span data-bind="text:PhoneNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, AircraftMaintenanceRequestResource.EmailId, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.EmailId, new {@class = "form-control", data_bind = "value:EmailId" })*@
                <span data-bind="text:EmailId"></span>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Project Info</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantRegisteredMaintenanceCompany, AircraftMaintenanceRequestResource.ApplicantRegisteredMaintenanceCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.ApplicantRegisteredMaintenanceCompany, new {@class = "form-control", data_bind = "value:ApplicantRegisteredMaintenanceCompany" })*@
                <span data-bind="text:ApplicantRegisteredMaintenanceCompany"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AddressOfMaintenanceCompany, AircraftMaintenanceRequestResource.AddressOfMaintenanceCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.AddressOfMaintenanceCompany, new {@class = "form-control", data_bind = "value:AddressOfMaintenanceCompany" })*@
                <span data-bind="text:AddressOfMaintenanceCompany"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumberOfRefisteredmaintenanceCompany, AircraftMaintenanceRequestResource.PhoneNumberOfRefisteredmaintenanceCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.PhoneNumberOfRefisteredmaintenanceCompany, new {@class = "form-control", data_bind = "value:PhoneNumberOfRefisteredmaintenanceCompany" })*@
                <span data-bind="text:PhoneNumberOfRefisteredmaintenanceCompany"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaintenanceCompanyTradeLicenseNumber, AircraftMaintenanceRequestResource.MaintenanceCompanyTradeLicenseNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.MaintenanceCompanyTradeLicenseNumber, new {@class = "form-control", data_bind = "value:MaintenanceCompanyTradeLicenseNumber" })*@
                <span data-bind="text:MaintenanceCompanyTradeLicenseNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaintenanceCompanyTradeLicenseExpiryDate, AircraftMaintenanceRequestResource.MaintenanceCompanyTradeLicenseExpiryDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.MaintenanceCompanyTradeLicenseExpiryDate, new {@class = "form-control", data_bind = "datePicker:MaintenanceCompanyTradeLicenseExpiryDate" })*@
                <span data-bind="text:moment(MaintenanceCompanyTradeLicenseExpiryDate()).isValid() ? moment(MaintenanceCompanyTradeLicenseExpiryDate()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part145RegistrationNumber, AircraftMaintenanceRequestResource.Part145RegistrationNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.Part145RegistrationNumber, new {@class = "form-control", data_bind = "datePicker:Part145RegistrationNumber" })*@
                <span data-bind="text:Part145RegistrationNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Part145RegistrationExpiryDate, AircraftMaintenanceRequestResource.Part145RegistrationExpiryDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.Part145RegistrationExpiryDate, new {@class = "form-control", data_bind = "datePicker:Part145RegistrationExpiryDate" })*@
                <span data-bind="text:moment(Part145RegistrationExpiryDate()).isValid() ? moment(Part145RegistrationExpiryDate()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftType, AircraftMaintenanceRequestResource.AircraftType, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.AircraftType, new {@class = "form-control", data_bind = "value:AircraftType" })*@
                <span data-bind="text:AircraftType"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AircraftRegistrationNumber, AircraftMaintenanceRequestResource.AircraftRegistrationNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.AircraftRegistrationNumber, new {@class = "form-control", data_bind = "value:AircraftRegistrationNumber" })*@
                <span data-bind="text:AircraftRegistrationNumber"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfMaintenance, AircraftMaintenanceRequestResource.TypeOfMaintenance, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.TypeOfMaintenance, new {@class = "form-control", data_bind = "value:TypeOfMaintenance" })*@
                <span data-bind="text:TypeOfMaintenance"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DetailsOfMaintenance, AircraftMaintenanceRequestResource.DetailsOfMaintenance, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.DetailsOfMaintenance, new {@class = "form-control", data_bind = "value:DetailsOfMaintenance" })*@
                <span data-bind="text:DetailsOfMaintenance"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleDateOfAircraftArrival, AircraftMaintenanceRequestResource.ScheduleDateOfAircraftArrival, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.ScheduleDateOfAircraftArrival, new {@class = "form-control", data_bind = "datePicker:ScheduleDateOfAircraftArrival" })*@
                <span data-bind="text:moment(ScheduleDateOfAircraftArrival()).isValid() ? moment(ScheduleDateOfAircraftArrival()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ScheduleDateOfAircraftDeparture, AircraftMaintenanceRequestResource.ScheduleDateOfAircraftDeparture, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @*@Html.DisplayFor(model => model.ScheduleDateOfAircraftDeparture, new {@class = "form-control", data_bind = "datePicker:ScheduleDateOfAircraftDeparture" })*@
                <span data-bind="text:moment(ScheduleDateOfAircraftDeparture()).isValid() ? moment(ScheduleDateOfAircraftDeparture()).format('DD/MM/YY'):'' "></span>
            </div>
        </div>
    </fieldset>

</div>