﻿@using EService.Web.App_GlobalResources
@model  EService.Service.Model.BuildingHeightRequestServiceModel
<div id="mainContent">
    <h4>Building Height Request</h4>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-xs-6">
            <fieldset>
                <legend>Applicant Info</legend>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicantName)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: ApplicantName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicantJobTitle)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: ApplicantJobTitle"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicantCompanyName)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: ApplicantCompanyName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicantAddress)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: ApplicantAddress"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicantCell)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: ApplicantCell"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicantTel)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: ApplicantTel"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicantEmail)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: ApplicantEmail"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicantWebsite)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: ApplicantWebsite"></span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-sm-12 col-xs-6">
            <fieldset>
                <legend>Owner Info</legend>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.DisplayNameFor(model => model.OwnerName)
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: OwnerName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerCompanyName, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: OwnerCompanyName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerAddress, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: OwnerAddress"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerCell, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: OwnerCell"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerTel, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: OwnerTel"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerEmail, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: OwnerEmail"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4">
                        @Html.LabelFor(model => model.OwnerWebsite, htmlAttributes: new { @class = "" })
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: OwnerWebsite"></span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <fieldset>
            <legend>SECTION 1: GENERAL PROJECT INFORMATION</legend>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: ProjectName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: moment(ApplicationDate()).format('DD/MM/YY')"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ExpectedConstructionStartDate, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: moment(ExpectedConstructionStartDate()).format('DD/MM/YY')"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ExpectedConstructionEndDate, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: moment(ExpectedConstructionStartDate()).format('DD/MM/YY')"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: Location"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: ProjectDescription"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    <label>Applicant's relationship to project owner</label>
                </div>

                <div class="col-sm-8">
                    <span data-bind="text:ApplicantOwnerRelationshipName"></span>
                    <!--ko if: ApplicantOwnerRelationshipOtherName-->
                    <span data-bind="text: ', '+ApplicantOwnerRelationshipOtherName()"></span>
                    <!--/ko-->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Project Type</label>
                <div class="col-sm-8">
                    <span data-bind="text: SelectedProjectDescription"></span>
                    <span data-bind="text: OtherProjectTypeDescription"></span>
                </div>
            </div>
        </fieldset>
    </div>

</div>
<div class="row" data-bind="if: ProjectTypeId() ==1 || ProjectTypeId() ==3">
    <fieldset>
        <legend>SECTION 2: BUILDING(S) DETAILS ONLY</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.BuildingType, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text: BuildingType() === true ? 'Singular Building' : 'Multiple Building' "></span>
            </div>
        </div>
        <div class="form-group" data-bind="visible: BuildingType() == false">
            @Html.LabelFor(model => model.NumberOfBuildings, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text: NumberOfBuildings"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfFloors, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text: NumberOfFloors"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TallestHeight, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text: TallestHeight"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HasObstacleLight, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text:HasObstacleLight() === true ? 'Yes':'No' "></span>
            </div>
        </div>
        <div class="form-group" data-bind="visible: HasObstacleLight() == true">
            @Html.LabelFor(model => model.DetailsOfLightinDrawing, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text: DetailsOfLightinDrawing"></span>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>SECTION 2: Building Coordinates & Heights (4 corners & 3 tallest heights required)</legend>
        <table class="table">
            <tr>
                <th>Building Corners Points</th>
                <th>Easting</th>
                <th>Northing</th>
                <th>Ground Height</th>
                <th>Structure Height</th>
            </tr>
            <tbody data-bind="foreach: BuildingCoordinateAndHeights">
                <tr>
                    <td data-bind="text: BuildingCoordinateAndHeightLookUpDescription"></td>
                    <td><span data-bind="text: Easting"></span></td>
                    <td><span data-bind="text: Northing"></span></td>
                    <td><span data-bind="text: GroundHeight"></span></td>
                    <td><span data-bind="text: StructureHeight"></span></td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label class="control-label col-sm-4">Additional Items for Building/Other Submittal</label>
            <div class="col-sm-8">
                <ul data-bind="foreach: AdditionalItemsForBuildingSubmittals">
                    <!-- ko if: IsSelected-->
                    <li data-bind="if: IsSelected">
                        <span data-bind="text: AdditionalItemsForBuildingSubmittalLookUpDescription"></span>
                        <!-- ko if: IsOther() && IsSelected()-->
                        <span data-bind="value: OtherDescription"></span>
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </fieldset>
</div>
<div class="row" data-bind="if:ProjectTypeId() === 2">
    <fieldset>
        <legend>SECTION 3: OHL/COMMUNICATIONS TOWER PROJECT DETAILS ONLY</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.OHLOrCommunicationType, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text:OHLOrCommunicationType() === true ? 'OHL' : 'Comm.Tower' "></span>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfStructure, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text: NumberOfStructure"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TypeOfOHLCommTower, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text: TypeOfOHLCommTower"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AreThereMountains, htmlAttributes: new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                <span data-bind="text:AreThereMountains() === true ? 'Yes' : 'No' "></span>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">What aviation obstacle mitigation measures do you plan to use?</label>
            <div class="col-sm-8">
                <ul style="list-style:none" data-bind="foreach: AviationObstacles">
                    <li data-bind="if: IsSelected">
                        <label>
                            <span data-bind="text: Description"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <table class="table">
            <tr>
                <th colspan="5">Structure Coordinates & Heights</th>
            </tr>
            <tr>
                <th>Structure Reference No</th>
                <th>Easting</th>
                <th>Northing</th>
                <th>Ground Height</th>
                <th>Structure Height</th>
            </tr>
            <tbody data-bind="foreach: OHLStructureCoordinateAndHeights">
                <tr>
                    <td><span data-bind="text: StructureReferenceNumber"></span></td>
                    <td><span data-bind="text: Easting"></span></td>
                    <td><span data-bind="text: Northing"></span></td>
                    <td><span data-bind="text: GroundHeight"></span></td>
                    <td><span data-bind="text: StructureHeight"></span></td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label class="control-label col-sm-4">Additional Items for OHL/Communication Tower Submittal</label>
            <div class="col-sm-8">
                <ul style="list-style:none" data-bind="foreach: AdditionalItemsForOHLSubmittals">
                    <li data-bind="if: IsSelected">
                        <label>
                            <span data-bind="text: AdditionalItemsForOHLSubmittalLookUpDescription"></span>
                        </label>
                        <!-- ko if: IsOther() && IsSelected()-->
                        <span data-bind="value: OtherDescription"></span>
                        <!-- /ko -->
                    </li>
                </ul>

            </div>
        </div>
    </fieldset>
</div>
<div class="row">
    <fieldset>
        <legend>APPLICABLE FEES</legend>
        <table class="table">
            <tr>
                <th></th>
                <th>Type</th>
                <th>Notes</th>
                <th>Fee (AED)</th>
                <th>Quantity</th>
                <th>Total Fee</th>
            </tr>
            <tbody data-bind="foreach: BuildingHeightApplicableFees">
                <tr>
                    <td></td>
                    <td data-bind="text: ApplicableFeesLookUpDescription"></td>
                    <td data-bind="text: Notes"></td>
                    <td data-bind="text: Fees"></td>
                    <td><span data-bind="text: Quantity"></span></td>
                    <td>
                        <span data-bind="text: parseInt(Fee()) * parseInt(Quantity())"></span>
                        @*<input class="form-control" type="text" data-bind="value: Fees() * Quantity()" />*@
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">Total</th>
                    <th><span data-bind="text:TotalBuildingHeightApplicableFee"></span></th>
                </tr>
            </tfoot>
        </table>
    </fieldset>
</div>
<div data-bind="if: CurrentIndex() == 1">
    <div class="row" data-bind="ifnot:IsPlanningApprovalModelSaved">
        <span class="alert-info alert">
            You need to add remarks before approve/reject.
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bhrPlanningRemarks">
                Add Service Remarks here
            </button>
        </span>
    </div>
    <div id="bhrPlanningRemarks" class="modal  fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-ph-blue ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Building Height Request Planning Remarks</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="bhrRequestPlanningRemarksForm" data-bind="with: PlanningApproveNewModel">


                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label>Remarks</label>
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" id="PlaningRemarks" name="PlanningRemarks" class="form-control" data-bind="value: Remarks">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                <label for="fileselect">Select Files to upload</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="file" id="fileselect" name="FileUpload" multiple="multiple" />
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSaveBHPlanningRemarks" data-bind="click: $root.SaveBHRPlanningRemarks"><span class="ladda-label">@GlobalResource.Submit</span></button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12" data-bind="if:IsPlanningApprovalModelSaved() === true">
    <fieldset data-bind="with: PlanningApprovalModel">
        <legend>Planning User Remarks</legend>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    <label>Remarks</label>
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: Remarks"></span>
                </div>
            </div>

            <div class="col-sm-4 control-label">
                Uploaded Files
            </div>
            <div class="col-sm-8">
                <ul>
                    <!--ko foreach: UploadedFiles-->
                    <li>
                        <a data-bind="text: FileName, attr:{href: '/Department/UserServiceRequest/DownloadAttachment/'+ Id()}" href="#" target="_blank"></a>
                    </li>
                    <!--/ko-->
                </ul>
            </div>
        </div>
    </fieldset>
</div>

<div data-bind="if: CurrentIndex() == 4">
    <div class="row" data-bind="ifnot:IsChargeAmountUpdated">
        <span class="alert-info alert">
            You need to save Service Request Charge Amount info before Approve / Reject.
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bhrRequestCharge">
                Add Service Request Charge here
            </button>
        </span>
    </div>
    <div id="bhrRequestCharge" class="modal  fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-ph-blue ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Building Height Request Charge Amount</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="bhrRequestChargeForm">
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.ChargedAmount, "Charge Amount")
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ChargedAmount, new { @class = "form-control", data_bind = "value:ChargedAmount" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSaveBHReq" data-bind="click: $root.SaveBHRChargeAmount"><span class="ladda-label">@GlobalResource.Submit</span></button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>