﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.CranePermitRequestServiceModel
<script type="text/javascript">
    $(function () {

        $('#cranePermitPlanningModal').on('shown.bs.modal', function (e) {
            // do something...
            $('#cranePermitPlanningForm').validate({
                rules: {

                }
            });
        });

    });
</script>
<div>
    <fieldset>
        <legend>Applicant Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, Register.UserName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.UserName, new { @class = "form-control", data_bind = "text:UserName" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantEmail, CranePermitLocationResource.ApplicantEmail, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicantEmail, new { @class = "form-control", data_bind = "text:ApplicantEmail" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, CranePermitLocationResource.CompanyName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CompanyName, new { @class = "form-control", data_bind = "value:CompanyName" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Position, CranePermitLocationResource.Position, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Position, new { @class = "form-control", data_bind = "value:Position" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactNumber, CranePermitLocationResource.ContactNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.ContactNumber, new { @class = "form-control", data_bind = "value:ContactNumber" })
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Project Info</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.IsNewApplication, CranePermitLocationResource.IsNewApplication, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.IsNewApplication, new { @class = "form-control", data_bind = "value:IsNewApplication" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PreviousPermitNumbers, CranePermitLocationResource.PreviousPermitNumbers, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.PreviousPermitNumbers, new { @class = "form-control", data_bind = "value:PreviousPermitNumbers" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CraneLocation, CranePermitLocationResource.LocationOfCrane, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CraneLocation, new { @class = "form-control", data_bind = "value:LocationOfCrane" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NorthingsEastings, CranePermitLocationResource.NorthingsEastings, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.NorthingsEastings, new { @class = "form-control", data_bind = "value:NorthingsEastings" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationStartDate, CranePermitLocationResource.OperationStartDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text: moment(OperationStartDate()).format('DD/MM/YYYY')"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationEndDate, CranePermitLocationResource.OperationEndDate, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                <span data-bind="text: moment(OperationEndDate()).format('DD/MM/YYYY')"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationStartTime, CranePermitLocationResource.OperationStartTime, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperationStartTime, new { @class = "form-control", data_bind = "value:OperationStartTime" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperationEndTime, CranePermitLocationResource.OperationEndTime, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperationEndTime, new { @class = "form-control", data_bind = "value:OperationEndTime" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaxOperatingHeight, CranePermitLocationResource.MaxOperatingHeight, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.MaxOperatingHeight, new { @class = "form-control", data_bind = "value:MaxOperatingHeight" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PurposeOfUser, CranePermitLocationResource.PurposeOfUser, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.PurposeOfUser, new { @class = "form-control", data_bind = "value:PurposeOfUser" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CraneOperatingCompany, CranePermitLocationResource.CraneOperatingCompany, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CraneOperatingCompany, new { @class = "form-control", data_bind = "value:CraneOperatingCompany" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperatorName, CranePermitLocationResource.OperatorName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperatorName, new { @class = "form-control", data_bind = "value:OperatorName" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OperatorContactNumber, CranePermitLocationResource.OperatorContactNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OperatorContactNumber, new { @class = "form-control", data_bind = "value:OperatorContactNumber" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentIndex, CranePermitLocationResource.CurrentIndex, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.CurrentIndex, new { @class = "form-control", data_bind = "value:CurrentIndex" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">@CranePermitLocationResource.CraneType</label>
            <div class="col-sm-8" data-bind="foreach:SelectedCraneTypes">
                <div class="col-xs-4 col-md-2" data-bind="if:IsSelected">
                    <span data-bind="text: CraneTypeName"></span>
                    <div data-bind="if:IsOther">
                        <span data-bind="text: OtherCraneTypeName"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</div>
<div id="cranePermitStageContent" class="form-group">
    <div data-bind="if: CurrentIndex() == 1">
        <!--Stage 1/ Planning-->
        <div>
            <div class="col-xs-12" data-bind="ifnot:IsPlanningInfoSaved">
                <div class="alert-info alert">
                    You need to save Planning Section info before you can Approve / Reject.
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cranePermitPlanningModal">
                        Add Planning Info here
                    </button>
                </div>
            </div>

        </div>

        <div id="cranePermitPlanningModal" class="modal  fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-ph-blue ui-draggable-handle">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Crane Permit</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="cranePermitPlanningForm" data-bind="with : PlanningNewModel" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.HasPentrationOfSurface, "Is there a penetration of the safeguarded surfaces?")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    <label><input type="radio" data-bind="checkedValue: true, checked:HasPentrationOfSurface" id="" name="PlanningModel.HasPentrationOfSurface" /><span>Yes</span></label>
                                    <label><input type="radio" data-bind="checkedValue: false, checked:HasPentrationOfSurface" id="" name="PlanningModel.HasPentrationOfSurface" /><span>No</span></label>
                                </div>
                            </div>

                            <div class="form-group" data-bind="if : HasPentrationOfSurface">
                                <div class="col-sm-4 control-label">
                                    <label>Infringement</label>
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8" data-bind="foreach: InfringementTypes">
                                    <label><input type="checkbox" data-bind="checked:Active, checkedValue : true" /><span data-bind="text: Description"></span></label>
                                    <span data-bind="if: IsOther() ===true && Active() === true"><input type="text" class="form-control" data-bind="value:OtherName" /></span>
                                </div>
                            </div>

                            <div class="form-group" data-bind="if: HasPentrationOfSurface">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.PenetrationInMeter, "Amount of Penetration (in meters)")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PlanningModel.PenetrationInMeter, new { @class = "form-control", data_bind = "value:PenetrationInMeter", data_rule_required = "true", data_rule_number = "true" })
                                    @Html.ValidationMessageFor(model => model.PlanningModel.PenetrationInMeter)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.RequireAviationLight, "Does the crane required aviation obstacle light?")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    <label><input type="checkbox" name="PlanningModel_RequireAviationLight" data-bind="RequireAviationLight" /><span>Yes</span></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.Comments, "Comments")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(model => model.PlanningModel.Comments, new { @class = "form-control width100", data_bind = "value:Comments" })
                                    @Html.ValidationMessageFor(model => model.PlanningModel.Comments)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.MaxCraneOperatingHeight, "Maximum Crane Operating height (in meters)")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PlanningModel.MaxCraneOperatingHeight, new { @class = "form-control", data_bind = "value:MaxCraneOperatingHeight", data_rule_required = "true", data_rule_number = "true" })
                                    @Html.ValidationMessageFor(model => model.PlanningModel.MaxCraneOperatingHeight)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.CraneOperatingDistanceFromRunway, "Crane OPS distance from runaway centerline (in meters)")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PlanningModel.CraneOperatingDistanceFromRunway, new { @class = "form-control", data_bind = "value:CraneOperatingDistanceFromRunway", data_rule_required = "true", data_rule_number = "true" })
                                    @Html.ValidationMessageFor(model => model.PlanningModel.CraneOperatingDistanceFromRunway)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.Recommendations, "Recommendations")
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(model => model.PlanningModel.Recommendations, new { @class = "form-control width100", data_bind = "value:Recommendations" })
                                    @Html.ValidationMessageFor(model => model.PlanningModel.Recommendations)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.AssessedBy, "Assessed By")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PlanningModel.AssessedBy, new { @class = "form-control", data_bind = "value:AssessedBy", data_rule_required = "true" })
                                    @Html.ValidationMessageFor(model => model.PlanningModel.AssessedBy)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.PlanningModel.AssessedDate, "Assessed Date")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PlanningModel.AssessedDate, new { @class = "form-control", data_bind = "datePicker:AssessedDate, dateTimePickerOptions:{maxDate: moment(new Date()), format: 'DD/MM/YYYY'}", data_rule_required = "true" })
                                    @Html.ValidationMessageFor(model => model.PlanningModel.AssessedDate)
                                </div>
                            </div>
                            <!--file attachment here-->
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    <label for="fileselect">Select Files to upload</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="file" id="fileselect" name="FileUpload" multiple="multiple" />
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSave" data-bind="click: $root.SaveCranePlanningInfo"><span class="ladda-label">@GlobalResource.Submit</span></button>
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" data-bind="if:IsPlanningInfoSaved() === true && PlanningModel != null">
        <fieldset data-bind="with: PlanningModel">
            <legend>Planning Assessment</legend>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.HasPentrationOfSurface, "Is there a penetration of the safeguarded surfaces?")
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: HasPentrationOfSurface() === true ?'Yes':'No' "></span>
                    </div>
                </div>
                <div class="form-group" data-bind="if : HasPentrationOfSurface">
                    <div class="col-sm-4 control-label">
                        <label>Infringement</label>
                        <span class="red">*</span>
                    </div>
                    <div class="col-sm-8" data-bind="foreach: InfringementTypes">
                        <!--ko if: Active-->
                        <span data-bind="text: Description"></span>
                        <span data-bind="if: IsOther() ===true && Active() === true"><input type="text" class="form-control" data-bind="value:OtherName" /></span>
                        <!--/ko-->
                    </div>
                </div>

                <div class="form-group" data-bind="if: HasPentrationOfSurface">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.PenetrationInMeter, "Amount of Penetration (in meters)")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.PlanningModel.PenetrationInMeter, new { data_bind = "value:PenetrationInMeter" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.RequireAviationLight, "Does the crane required aviation obstacle light?")
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: RequireAviationLight() === true ? 'Yes' : 'No' "></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.Comments, "Comments")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.PlanningModel.Comments, new { data_bind = "value:Comments" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.MaxCraneOperatingHeight, "Maximum Crane Operating height (in meters)")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.PlanningModel.MaxCraneOperatingHeight, new { data_bind = "value:MaxCraneOperatingHeight" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.CraneOperatingDistanceFromRunway, "Crane OPS distance from runaway centerline (in meters)")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.PlanningModel.CraneOperatingDistanceFromRunway, new { data_bind = "value:CraneOperatingDistanceFromRunway" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.Recommendations, "Recommendations")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.PlanningModel.Recommendations, new { data_bind = "value:Recommendations" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.AssessedBy, "Assessed By")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.PlanningModel.AssessedBy, new { data_bind = "value:AssessedBy", data_rule_required = "true" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.PlanningModel.AssessedDate, "Assessed Date")
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: moment(AssessedDate()).format('DD/MM/YYYY')"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        Uploaded Files
                    </div>
                    <div class="col-sm-8">
                        <ul>
                            <!--ko foreach: UploadedFiles-->
                            <li>
                                <a data-bind="text: FileName, attr:{href: '/Department/UserServiceRequest/DownloadAttachment/'+ Id()}" href="#" target="_blank"></a>
                            </li>
                            <!--/ko-->
                        </ul>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div data-bind="if: CurrentIndex() == 2">
        <div class="col-xs-12" data-bind="ifnot:IsQASafetyInfoSaved">
            <div class="alert-info alert">
                You need to save QA and Safety Assessment info before Approve / Reject.
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cranePermitQAModal">
                    Add QA Safety Assessment here
                </button>
            </div>
        </div>

        <div id="cranePermitQAModal" class="modal  fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-ph-blue ui-draggable-handle">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Crane Permit QA Safety</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="cranePermitQAForm" data-bind="with : QASafetyNewModel" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.QASafetyModel.HasSafetyAssessmentBeenDone, "Has Safety Assessment been done?")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    <label><input type="radio" data-bind="checkedValue: true, checked:HasSafetyAssessmentBeenDone" id="" name="QASafetyModel.HasSafetyAssessmentBeenDone" /><span>Yes</span></label>
                                    <label><input type="radio" data-bind="checkedValue: false, checked:HasSafetyAssessmentBeenDone" id="" name="QASafetyModel.HasSafetyAssessmentBeenDone" /><span>No</span></label>

                                </div>
                            </div>
                            <!-- ko if: HasSafetyAssessmentBeenDone-->
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.QASafetyModel.ApprovedBy, "Approved By")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8" data-bind="">
                                    @Html.TextBoxFor(model => model.QASafetyModel.ApprovedBy, new { @class = "form-control", required = "", data_bind = "value:ApprovedBy" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.QASafetyModel.ApprovedByPosition, "Approved By Position")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.QASafetyModel.ApprovedByPosition, new { @class = "form-control", required = "", data_bind = "value:ApprovedByPosition" })
                                </div>
                            </div>
                            <!--/ko-->
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.QASafetyModel.ApprovedDateTime, "Approved Date Time")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.QASafetyModel.ApprovedDateTime, new { @class = "form-control", required = "", data_bind = "datePicker:ApprovedDateTime, dateTimePickerOptions:{maxDate: moment(new Date()), format: 'DD/MM/YYYY'}" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.QASafetyModel.OperatingRestrictions, "Operating Restrictions")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(model => model.QASafetyModel.OperatingRestrictions, new { @class = "form-control width100", required = "", data_bind = "value:OperatingRestrictions" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.QASafetyModel.AdditionalComments, "Additional Comments")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(model => model.QASafetyModel.AdditionalComments, new { @class = "form-control width100", required = "", data_bind = "value:AdditionalComments" })
                                </div>
                            </div>
                            <!--file attachment here-->
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    <label for="fileselect">Select Files to upload</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="file" id="cpQAFileSelect" name="FileUpload" multiple="multiple" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSaveQA" data-bind="click: $root.SaveCraneQASafetyInfo"><span class="ladda-label">@GlobalResource.Submit</span></button>
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" data-bind="if:IsQASafetyInfoSaved() === true && QASafetyModel != null">
        <fieldset data-bind="">
            <legend>Safety QA Assessment</legend>
            <div class="form-horizontal" data-bind="with : QASafetyModel">
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.QASafetyModel.HasSafetyAssessmentBeenDone, "Has Safety Assessment been done?")
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: HasSafetyAssessmentBeenDone() === true ? 'Yes' : 'No' "></span>
                    </div>
                </div>
                <!-- ko if: HasSafetyAssessmentBeenDone-->
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.QASafetyModel.ApprovedBy, "Approved By")
                    </div>
                    <div class="col-sm-8" data-bind="">
                        @Html.DisplayFor(model => model.QASafetyModel.ApprovedBy, new { data_bind = "value:ApprovedBy" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.QASafetyModel.ApprovedByPosition, "Approved By Position")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.QASafetyModel.ApprovedByPosition, new { data_bind = "value:ApprovedByPosition" })
                    </div>
                </div>
                <!--/ko-->
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.QASafetyModel.ApprovedDateTime, "Approved Date Time")
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text:moment(ApprovedDateTime()).format('DD/MM/YYYY')"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.QASafetyModel.OperatingRestrictions, "Operating Restrictions")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.QASafetyModel.OperatingRestrictions, new { data_bind = "value:OperatingRestrictions" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.QASafetyModel.AdditionalComments, "Additional Comments")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.QASafetyModel.AdditionalComments, new { data_bind = "value:AdditionalComments" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        Uploaded Files
                    </div>
                    <div class="col-sm-8">
                        <ul>
                            <!--ko foreach: UploadedFiles-->
                            <li>
                                <a data-bind="text: FileName, attr:{href: '/Department/UserServiceRequest/DownloadAttachment/'+ Id()}" href="#" target="_blank"></a>
                            </li>
                            <!--/ko-->
                        </ul>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div data-bind="if: CurrentIndex() == 3">
        <div class="col-xs-12" data-bind="ifnot:IsFinanceInfoSaved">
            <div class="alert-info alert">
                You need to save Service Request Type and Charge Amount.
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cranePermitFinanceModal">
                    Add Service Request Type and Charge Amount here
                </button>
            </div>
        </div>

        <div id="cranePermitFinanceModal" class="modal  fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-ph-blue ui-draggable-handle">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Crane Permit Finance Info</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="cranePermitFinanceForm" data-bind="with : FinanceInfoNewModel">
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.FinanceInfoNewModel.IsInternal, "Chargeable?")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    <label><input type="radio" data-bind="checkedValue: true, checked:IsInternal" id="" name="IsInternal" /><span>Yes</span></label>
                                    <label><input type="radio" data-bind="checkedValue: false, checked:IsInternal" id="" name="IsInternal" /><span>No</span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.FinanceInfoNewModel.ServiceChargeAmount, "Service Charge Amount* (AED)")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.FinanceInfoNewModel.ServiceChargeAmount, new { @class = "form-control width100", required = "", data_bind = "value:ServiceChargeAmount" })
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSaveCPFinance" data-bind="click: $root.SaveCraneFinanceInfo"><span class="ladda-label">@GlobalResource.Submit</span></button>
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" data-bind="if:IsFinanceInfoSaved() === true && FinanceInfoModel != null">
        <fieldset data-bind="">
            <legend>Finance Service Charge Assessment</legend>
            <div class="form-horizontal" data-bind="with : FinanceInfoModel">
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.FinanceInfoModel.IsInternal, "Is Request Internal?")
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: IsInternal() === true ? 'Yes' : 'No' "></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        @Html.LabelFor(model => model.FinanceInfoModel.ServiceChargeAmount, "Service Charge Amount")
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.FinanceInfoModel.ServiceChargeAmount, new { data_bind = "value:." })
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>