﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Web.Models.CranePermitPlanningViewModel

@{
    Layout = null;
}

<script type="text/javascript">
    var CranePermitRequestPlanningVM = {
        Detail: {},
        Initialize: function () {
            ajaxRequest('@Url.Action("ViewDetail")', 'GET', {}, function (resp) {
                if (resp.IsSuccess) {
                    if (!ko.dataFor($('#mainContent')[0])) {
                        CranePermitRequestPlanningVM.Detail = ko.mapping.fromJS(resp.Data);
                        CranePermitRequestPlanningVM.SaveDEpartmentServiceEntry = function () {
                            ajaxRequest('@Url.Action("Approve")', 'POST', { data: { id: ServiceRequestDetailVM.Detail.UserServiceRequestId() } }, function (resp) {
                                if (resp.IsSuccess) {
                                    showMessage('Service Request', resp.Message, 'success', function () {
                                        window.location = '@Url.Action("Index", "UserServiceRequest", new {Area = "Department"})';
                                    });
                                } else {
                                    showMessage('Service Request', resp.Message, 'error', function () {

                                    });
                                }
                            });
                        }


                        ko.applyBindings(CranePermitRequestPlanningVM, $('#mainContent')[0]);
                    } else {
                        ko.mapping.fromJS(resp.Data, {}, ServiceRequestDetailVM);
                    }
                } else {
                    showMessage('Service Request Detail', resp.Message, 'error');
                }
            });
        }
    }
    $(function () {
        CranePermitRequestPlanningVM.Initialize();
    });
</script>

<script type="text/html" id="cranePermitRequestPlanning">

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.HasPentrationOfSurface, "")
            <span class="red">*</span>
        </div>
        <div class="col-sm-8">
            <label><input type="checkbox" name="HasPentrationOfSurface" data-bind="checked: HasPentrationOfSurface, checkedValue : true" /><span>Yes</span></label>
        </div>
    </div>
    <div class="form-group" data-bind="if : HasPentrationOfSurface">
        <div class="col-sm-4 control-label">
            <label>Infringement</label>
            <span class="red">*</span>
        </div>
        <div class="col-sm-8">
            <ul data-bind="foreach: InfringementTypes" style="list-style: none">
                <li>
                    <label><input type="checkbox" data-bind="checked:Active, checkedValue : true" /><span data-bind="text: Description"></span></label>
                    <span data-bind="if: IsOther"><input type="text" data-bind="value:OtherName" /></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="form-group" data-bind="if: HasPentrationOfSurface">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.PenetrationInMeter, "")
            <span class="red">*</span>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.PenetrationInMeter, new { @class = "form-control", data_bind = "value:PenetrationInMeter", placeholder = "Penetration in Meter" })
            @Html.ValidationMessageFor(model => model.PenetrationInMeter)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.RequireAviationLight, "")
            <span class="red">*</span>
        </div>
        <div class="col-sm-8">
            @Html.CheckBoxFor(model => model.RequireAviationLight, new { @class = "form-control", data_bind = "value:RequireAviationLight", placeholder = "Require Aviation Light" })
            @Html.ValidationMessageFor(model => model.RequireAviationLight)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.Comments, "")
            <span class="red">*</span>
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control width100", data_bind = "value:Comments", placeholder = "Comments" })
            @Html.ValidationMessageFor(model => model.Comments)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.MaxCraneOperatingHeight, "")
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.MaxCraneOperatingHeight, new { @class = "form-control", data_bind = "value:MaxCraneOperatingHeight", placeholder = "Max Crane Operating Height" })
            @Html.ValidationMessageFor(model => model.MaxCraneOperatingHeight)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.CraneOperatingDistanceFromRunway, "")
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.CraneOperatingDistanceFromRunway, new { @class = "form-control", data_bind = "value:CraneOperatingDistanceFromRunway", placeholder = "Crane Operating Distance From Runway" })
            @Html.ValidationMessageFor(model => model.CraneOperatingDistanceFromRunway)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.Recommendations, "")
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(model => model.Recommendations, new { @class = "form-control width100", data_bind = "value:Recommendations", placeholder = "Recommendations" })
            @Html.ValidationMessageFor(model => model.Recommendations)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.AssessedBy, "")
            <span class="red">*</span>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.AssessedBy, new { @class = "form-control", data_bind = "value:AssessedBy", placeholder = "Assessed By" })
            @Html.ValidationMessageFor(model => model.AssessedBy)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.AssessedDate, "")
            <span class="red">*</span>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.AssessedDate, new { @class = "form-control", data_bind = "datePicker:AssessedDate", placeholder = "Assessed Date" })
            @Html.ValidationMessageFor(model => model.AssessedDate)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 control-label">
            @Html.LabelFor(model => model.AirportPlanner, "")
            <span class="red">*</span>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.AirportPlanner, new { @class = "form-control", data_bind = "value:AirportPlanner", placeholder = "Airport Planner" })
            @Html.ValidationMessageFor(model => model.AirportPlanner)
        </div>
    </div>
</script>
<div id="mainContent" class="form-horizontal" data-bind="template:{name:'serviceDetailTemplate' }">

</div>