﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model  EService.Service.Model.GroundHandlingRequestServiceModel

<div class="form-horizontal">
    <fieldset>
        <legend>Applicant Info</legend>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CompanyName, GroundHandlingRequestResource.CompanyName)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CompanyName"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.FirstName, GroundHandlingRequestResource.FirstName)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: FirstName"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.LastName, GroundHandlingRequestResource.LastName)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: LastName"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Address, GroundHandlingRequestResource.Address)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Address"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Email, GroundHandlingRequestResource.ApplicantEmail)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Email"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Phone, GroundHandlingRequestResource.Phone)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Phone"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Fax, GroundHandlingRequestResource.Fax)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Fax"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.SITATEX)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: SITATEX"></span>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Aircraft Info</legend>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.InboundDateTimeUTC, GroundHandlingRequestResource.InboundDateTimeUTC)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: moment(InboundDateTimeUTC()).format('YYYY-MM-DD')"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.From, GroundHandlingRequestResource.From)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: From"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.ETAUTC, GroundHandlingRequestResource.ETAUTC)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: moment(ETAUTC()).format('YYYY-MM-DD')"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.OutboundDateTimeUTC, GroundHandlingRequestResource.OutboundDateTimeUTC)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: moment(OutboundDateTimeUTC()).format('YYYY-MM-DD')"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.To, GroundHandlingRequestResource.To)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: To"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.ETDUTC, GroundHandlingRequestResource.ETDUTC)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: moment(ETDUTC()).format('YYYY-MM-DD')"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                <label>Type of Aircraft</label>
            </div>
            <div class="col-sm-8">
                <ul data-bind="foreach: GroundHandlingArcraftTypes">
                    <!-- ko if: IsSelected-->
                    <li>
                        <label>
                            <span data-bind="text:Description"></span>
                        </label>
                    </li>
                    <!--/ko-->
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Weight)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Weight"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.AircraftRegistration, GroundHandlingRequestResource.AircraftRegistration)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: AircraftRegistration"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.RequestWBCalculation, GroundHandlingRequestResource.RequestWBCalculation)
            </div>
            <div class="col-sm-8">
                <label data-bind="text: RequestWBCalculation">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.LoadingInstruction, GroundHandlingRequestResource.LoadingInstruction)
            </div>
            <div class="col-sm-8">
                <label data-bind="text: LoadingInstruction">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.RequestWBCalculation, GroundHandlingRequestResource.RequestWBCalculation)
            </div>
            <div class="col-sm-8">
                <label data-bind="text: RequestWBCalculation">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.METOrATSDelivery, GroundHandlingRequestResource.METOrATSDelivery)
            </div>
            <div class="col-sm-8">
                <label data-bind="text: METOrATSDelivery">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.NoOfDepartingPassengers, GroundHandlingRequestResource.NoOfDepartingPassengers)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: NoOfDepartingPassengers"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.NoOfArrivingPassengers, GroundHandlingRequestResource.NoOfArrivingPassengers)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: NoOfArrivingPassengers"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.PermittedToAddGood, GroundHandlingRequestResource.PermittedToAddGood)
            </div>
            <div class="col-sm-8">
                <label data-bind="text: PermittedToAddGood">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.HasSpecialPermission, GroundHandlingRequestResource.HasSpecialPermission)
            </div>
            <div class="col-sm-8">
                <label data-bind="text: HasSpecialPermission">
                </label>
            </div>
        </div>


    </fieldset>

    <fieldset>
        <legend>Cargo Offloading</legend>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CargoLoadingType, GroundHandlingRequestResource.CargoLoadingType)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CargoLoadingType() === true ? 'ULD':'BULK' "></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLNoOfULD, GroundHandlingRequestResource.CoLNoOfULD)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CoLNoOfULD"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLULDWeight, GroundHandlingRequestResource.CoLULDWeight)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CoLULDWeight"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLTypeOfDG, GroundHandlingRequestResource.CoLTypeOfDG)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CoLTypeOfDG"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLQuantityOfDG, GroundHandlingRequestResource.CoLQuantityOfDG)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CoLQuantityOfDG"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CoLOtherSpecialCargo, GroundHandlingRequestResource.CoLOtherSpecialCargo)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CoLOtherSpecialCargo"></span>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Cargo Loading</legend>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLTypeOfDG, GroundHandlingRequestResource.CLTypeOfDG)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CLTypeOfDG"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLNoOfULD, GroundHandlingRequestResource.CLNoOfULD)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CLNoOfULD"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLDGWeight, GroundHandlingRequestResource.CLDGWeight)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CLDGWeight"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLQuantityDG, GroundHandlingRequestResource.CLQuantityDG)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CLQuantityDG"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CLOtherSpecialCargo, GroundHandlingRequestResource.CLOtherSpecialCargo)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: CLOtherSpecialCargo"></span>
            </div>
        </div>
    </fieldset>
    <fieldset data-bind="with: AircraftCleaning">
        <legend>Aircraft Interior cleaning</legend>
        @if (Model.AircraftCleaning != null)
        {
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.FumigationRequired, GroundHandlingRequestResource.FumigationRequired)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:FumigationRequired">
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.WasingRequired, GroundHandlingRequestResource.WasingRequired)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:WasingRequired">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.Pushback, GroundHandlingRequestResource.Pushback)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:Pushback">
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.PassengerStairs, GroundHandlingRequestResource.PassengerStairs)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:PassengerStairs">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.ToiletService, GroundHandlingRequestResource.ToiletService)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:ToiletService">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.PowerType, GroundHandlingRequestResource.PowerType)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: PowerType"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.ASUHours, GroundHandlingRequestResource.ASUHours)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: ASUHours"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalPlatformCRJ, GroundHandlingRequestResource.AdditionalPlatformCRJ)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:AdditionalPlatformCRJ">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.SecuritySurveillanceForRAmpHours, GroundHandlingRequestResource.SecuritySurveillanceForRAmpHours)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:SecuritySurveillanceForRAmpHours">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.StandbyFireFighting, GroundHandlingRequestResource.StandbyFireFighting)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:StandbyFireFighting">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.HotelBooking, GroundHandlingRequestResource.HotelBooking)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:HotelBooking">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalManpower, GroundHandlingRequestResource.AdditionalManpower)
                </div>
                <div class="col-sm-8">
                    <label data-bind="text:AdditionalManpower">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.AircraftCleaning.AdditionalRequirements, GroundHandlingRequestResource.AdditionalRequirements)
                </div>
                <div class="col-sm-8">
                    <span data-bind="text: AdditionalRequirements"></span>
                </div>
            </div>
        }
        else
        {
            <h4>No Aircraft Cleaning info</h4>
        }
    </fieldset>
</div>