﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.MeteorologicalDataRequestServiceModal
@using Resource = EService.Web.App_LocalResources.MeteorologicalDataRequestResource

<div id="meteorologicalDataRequest" data-bind="">
    <input type="hidden" id="UserServiceRequestId" value="@ViewBag.UserServiceRequestId" />
    <fieldset>
        <legend>
            @Resource.CustomerContactDetail
        </legend>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.RequestDateTime, Resource.ApplicationDate)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: moment(RequestDateTime()).isValid()? moment(RequestDateTime()).format('DD/MM/YY'): '' "></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Email, Resource.Email)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Email"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Department, Resource.Department)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Department"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Phone, Resource.Phone)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Phone"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Fax, Resource.Fax)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Phone"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Address, Resource.Address)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Address"></span>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            @Resource.WeatherReportType
        </legend>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Resource.WeatherReportType
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                <ul style="list-style: none" data-bind="foreach:WeatherTypes">
                    <li data-bind="if: IsActive">
                        <label><span data-bind="text: WeatherTypeDescription"></span></label>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>@Resource.ClimatologicalInformation</legend>
        <div class="form-group">
            <div class="control-label col-sm-4"></div>
            <div class="col-sm-8">
                <ul style="list-style: none">
                    <li data-bind="if: DataRangeDaily"><label>@Resource.Daily</label></li>
                    <li data-bind="if: DataRangeHourly"><label>Hourly</label></li>
                    <li data-bind="if: DataRangeMonthly"><label>@Resource.Monthly</label></li>
                    <li data-bind="if: DataRangeYearly"><label>@Resource.Yearly</label></li>
                    <li data-bind="if: DataRangeSelectPeriod"><label>@Resource.SelectPeriod</label></li>
                    <li data-bind="">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <span data-bind="text: moment(CustomRangeStartDate()).isValid()? moment(CustomRangeStartDate()).format('DD/MM/YY'): '' "></span>
                            </div>
                        </div>
                    </li>
                    <li data-bind="">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <span data-bind="text: moment(CustomRangeEndDate()).isValid()? moment(CustomRangeEndDate()).format('DD/MM/YY'): '' "></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>@Resource.RequisiteWeatherElements</legend>
        <ul style="list-style: none" data-bind="foreach: WeatherElements">
            <li data-bind="if:IsActive">
                <label><span data-bind="text: WeatherElementDescription"></span></label>
                <span data-bind="if:IsOther() && IsActive()">  <input type="text" class="form-control" data-bind="text: OtherName" /></span>
            </li>
        </ul>
    </fieldset>
    <div data-bind="if: CurrentIndex() == 1">
        <div class="row" data-bind="ifnot:IsChargeAmountUpdated">
            <div class="alert-info alert">
                You need to save Service Request Charge Amount info before Approve / Reject.
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#metRequestCharge">
                    Add Service Request Charge here
                </button>
            </div>
        </div>
        <div id="metRequestCharge" class="modal  fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-ph-blue ui-draggable-handle">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Met Request Charge Amount</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="metRequestChargeForm">


                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.ChargedAmount, "Charge Amount")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.ChargedAmount, new { @class = "form-control", data_bind = "value:ChargedAmount" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    @Html.LabelFor(model => model.METDepartmentRemrks, "Remarks")
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(model => model.METDepartmentRemrks, new { @class = "form-control", data_bind = "value:METDepartmentRemrks" })
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSaveMetReq" data-bind="click: $root.SaveMetRequestCharge"><span class="ladda-label">@GlobalResource.Submit</span></button>
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-bind="if:IsChargeAmountUpdated">
        <fieldset>
            <legend>MET Request Charge Amount</legend>
            <div class="form-horizontal" id="">
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        Charge Amount
                    </div>
                    <div class="col-sm-8">
                        <label data-bind="text: ChargedAmount"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        Remarks
                    </div>
                    <div class="col-sm-8">
                        <label data-bind="text: METDepartmentRemrks"></label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
