﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.TradeLicenseRequestServiceModel
<script type="text/javascript">
    $(function () {

    });
</script>

<div id="tradeLicenseDetailsDiv">
    <h4>Trade License Request</h4>
    <table class="table borderless">
        <tr>
            <td class="col-xs-4">
                @Html.LabelFor(model => model.ApplicantName, TradingLicenseRequestResource.ApplicantName)
            </td>
            <td data-bind="text:ApplicantName"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PresentSponsorInUAE, TradingLicenseRequestResource.PresentSponsorInUAE)
            </td>
            <td data-bind="text:PresentSponsorInUAE"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AddressOfSponser, TradingLicenseRequestResource.AddressOfSponsor)
            </td>
            <td data-bind="text:AddressOfSponser"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantOfficeNumber, TradingLicenseRequestResource.ApplicantOfficeNumber)
            </td>
            <td data-bind="text:ApplicantOfficeNumber"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantResidenceNumber, TradingLicenseRequestResource.ApplicantResidenceNumber)
            </td>
            <td data-bind="text:ApplicantResidenceNumber"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantMobileNumber, TradingLicenseRequestResource.ApplicantMobileNumber)
            </td>
            <td data-bind="text:ApplicantMobileNumber"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantFaxNumber, TradingLicenseRequestResource.ApplicantFaxNumber)
            </td>
            <td data-bind="text:ApplicantFaxNumber"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantEmailNumber, TradingLicenseRequestResource.ApplicantEmailNumber)
            </td>
            <td data-bind="text:ApplicantEmailNumber"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantCountry, TradingLicenseRequestResource.ApplicantCountry)
            </td>
            <td data-bind="text:ApplicantCountry"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MailingAddress, TradingLicenseRequestResource.MailingAddress)
            </td>
            <td data-bind="text:MailingAddress"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicationDate, TradingLicenseRequestResource.ApplicationDate)
            </td>
            <td data-bind="text:moment(ApplicationDate()).isValid() ? moment(ApplicationDate()).format('DD/MM/YY') : null"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyPreferredName, TradingLicenseRequestResource.CompanyPreferredName)
            </td>
            <td data-bind="text:CompanyPreferredName"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyNameOption1, TradingLicenseRequestResource.CompanyNameOption1)
            </td>
            <td data-bind="text:CompanyNameOption1"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyNameOption2, TradingLicenseRequestResource.CompanyNameOption2)
            </td>
            <td data-bind="text:CompanyNameOption2"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyNameOption3, TradingLicenseRequestResource.CompanyNameOption3)
            </td>
            <td data-bind="text:CompanyNameOption3"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.BusinessActivities1, TradingLicenseRequestResource.BusinessActivities1)
            </td>
            <td data-bind="text:BusinessActivities1"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.BusinessActivities2, TradingLicenseRequestResource.BusinessActivities2)
            </td>
            <td data-bind="text:BusinessActivities2"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.BusinessActivities3, TradingLicenseRequestResource.BusinessActivities3)
            </td>
            <td data-bind="text:BusinessActivities3"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Remarks, TradingLicenseRequestResource.Remarks)
            </td>
            <td data-bind="text:Remarks"></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ExpectedAnnualBusinessTrunoverAmount, TradingLicenseRequestResource.ExpectedAnnualBusinessTrunoverAmount)
            </td>
            <td>
                <span data-bind="text:ExpectedAnnualBusinessTrunoverAmount"></span>
                <span data-bind="text:CurrencyName"></span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.TotalStaffStrengthRequired, TradingLicenseRequestResource.TotalStaffStrengthRequired)
            </td>
            <td>
                <span data-bind="text:TotalStaffStrengthRequired"></span>
                <!-- ko foreach: SelectedStaffStrengths()-->
                <span data-bind="text:StaffStrengthName"></span>
                <!-- /ko -->
            </td>
        </tr>
    </table>
</div>
