﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Web.Models.UserServiceRequestViewModel

@{
    ViewBag.Title = "Service Request Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Service Request Detail</h4>
@section scripts{
    <script type="text/javascript" src="~/Scripts/fileupload/fileinput.helper.js"></script>
    <script type="text/javascript">
        var ServiceRequestDetailVM = {
            Detail: {},
            Initialize: function () {
                ajaxRequest('@Url.Action("InitializeDetailView")', 'GET', {}, function (resp) {
                    if (resp.IsSuccess) {

                        $('#dynamicContent').html(resp.Data.Html);
                        ajaxRequest('@Url.Action("InitializeDetailData")', 'GET', {}, function (resp) {
                            if (resp.IsSuccess) {

                                if (!ko.dataFor($('#mainContent')[0])) {
                                    ServiceRequestDetailVM.Detail = ko.mapping.fromJS(resp.Data);
                                    ServiceRequestDetailVM.ApproveServiceRequest = function () {
                                        ajaxRequest('@Url.Action("Approve")', 'POST', { data: { id: ServiceRequestDetailVM.Detail.UserServiceRequestId() } }, function (resp) {
                                            if (resp.IsSuccess) {
                                                showMessage('Service Request', resp.Message, 'success', function () {
                                                    window.location = '@Url.Action("Index", "UserServiceRequest", new {Area = "Department"})';
                                                });
                                            } else {
                                                showMessage('Service Request', resp.Message, 'error', function () {

                                                });
                                            }
                                        });
                                    }
                                    ServiceRequestDetailVM.ShowRejectServiceRequest = function () {
                                        ServiceRequestDetailVM.Detail.Comments('');
                                        ServiceRequestDetailVM.ApplyRejectValidation();
                                        $('#rejectServiceRequestModal').modal('show');
                                    };

                                    ServiceRequestDetailVM.ApplyRejectValidation = function () {
                                        $('#rejectServiceRequestForm').validate({
                                            rules: {
                                                Comments: {
                                                    required: true
                                                }
                                            },
                                            messages: {
                                                Comments: {
                                                    required: "Comments is required."
                                                }
                                            }
                                        });
                                    }

                                    ServiceRequestDetailVM.EditRequest = function () {
                                        var requestId = ServiceRequestDetailVM.Detail.UserServiceRequestId();
                                        window.location.href = ("@Url.Action("Edit")" + "/" + requestId);
                                    }

                                    //reject service request
                                    ServiceRequestDetailVM.RejectServiceRequest = function () {
                                        if (!$('#rejectServiceRequestForm').valid()) {
                                            return false;
                                        }
                                        var model = {
                                            id: ServiceRequestDetailVM.Detail.UserServiceRequestId(),
                                            comments: ServiceRequestDetailVM.Detail.Comments(),
                                            IsUserSelectedForReject: ServiceRequestDetailVM.Detail.IsUserSelectedForReject(),
                                            SelectedStageId: ServiceRequestDetailVM.Detail.SelectedStageId()
                                        };
                                        ajaxRequest('@Url.Action("Reject")', 'POST', { data: model }, function (resp) {
                                            if (resp.IsSuccess) {
                                                showMessage('Service Request', resp.Message, 'success', function () {
                                                    window.location = '@Url.Action("Index", "UserServiceRequest", new {Area = "Department"})';
                                                });
                                            } else {
                                                showMessage('Service Request', resp.Message, 'error', function () {

                                                });
                                            }
                                        });
                                    }

                                    //Service Specific save
                                    //crane planning
                                    ServiceRequestDetailVM.SaveCranePlanningInfo = function () {
                                        if (!$('#cranePermitPlanningForm').valid()) {
                                            return false;
                                        }
                                        var model = ko.toJS(ServiceRequestDetailVM.Detail.Data.PlanningNewModel);
                                        model.AssessedDate = moment(model.AssessedDate).isValid() ? moment(model.AssessedDate).format('YYYY-MM-DD') : null;

                                        var formdata = new FormData($('#cranePermitPlanningForm').get(0));
                                        formdata.append("id", ServiceRequestDetailVM.Detail.UserServiceRequestId());

                                        formdata.append("InfringementTypes", JSON.stringify(model.InfringementTypes));
                                        $.ajax({
                                            url: '@Url.Action("SaveCranePlanningInfo")',
                                            method: 'POST',
                                            data: formdata,
                                            cache: false,
                                            contentType: false,
                                            processData: false,
                                            success: function (response) {
                                                if (response.IsSuccess) {
                                                    showMessage('Service Request', response.Message, 'success', function () {
                                                        $('#cranePermitPlanningModal').modal('hide');
                                                        window.location.reload();
                                                    });
                                                }
                                                else {
                                                    showMessage('Service Request', response.Message, 'error', function () {
                                                    });
                                                }
                                            },
                                            error: function (xhr, status, error) {
                                                showMessage('Service Request', error, 'error', function () {

                                                });
                                            }
                                        });
                                    }
                                    //crane planning finance
                                    ServiceRequestDetailVM.SaveCraneFinanceInfo = function () {
                                        if (!$('#cranePermitFinanceForm').valid()) {
                                            return false;
                                        }
                                        var model = ko.toJS(ServiceRequestDetailVM.Detail.Data.FinanceInfoNewModel);
                                        ajaxRequest('@Url.Action("SaveCraneFinanceInfo")', 'POST', {

                                            data: { model: model, id: ServiceRequestDetailVM.Detail.Data.UserServiceRequestMasterId() },
                                            enableLadda: true,
                                            targetLaddaElement: '#btnSave',
                                        }, function (resp) {
                                            if (resp.IsSuccess) {
                                                showMessage('Service Request', resp.Message, 'success', function () {
                                                    $('#cranePermitPlanningModal').modal('hide');
                                                    window.location.reload();
                                                });
                                            } else {
                                                showMessage('Service Request', resp.Message, 'error', function () {

                                                });
                                            }
                                        });
                                    }
                                    //crane qa safety
                                    ServiceRequestDetailVM.SaveCraneQASafetyInfo = function () {
                                        //$('#cranePermitQAForm').validate();
                                        if (!$('#cranePermitQAForm').valid()) {
                                            return false;
                                        }
                                        var model = ko.toJS(ServiceRequestDetailVM.Detail.Data.QASafetyNewModel);
                                        model.ApprovedDateTime = moment(model.ApprovedDateTime).isValid() ? moment(model.ApprovedDateTime).format('YYYY-MM-DD') : null;
                                        var formdata = new FormData($('#cranePermitQAForm').get(0));
                                        formdata.append("id", ServiceRequestDetailVM.Detail.UserServiceRequestId());
                                        formdata.set("QASafetyModel.ApprovedDateTime", moment(model.ApprovedDateTime).isValid() ? moment(model.ApprovedDateTime).format('YYYY-MM-DD') : null);

                                          $.ajax({
                                            url: '@Url.Action("SaveCraneQASafetyInfo")',
                                            method: 'POST',
                                            data: formdata,
                                            cache: false,
                                            contentType: false,
                                            processData: false,
                                              success: function (response) {
                                                  if (response.IsSuccess) {
                                                      showMessage('Service Request', response.Message, 'success', function () {
                                                          $('#cranePermitFinanceModal').modal('hide');
                                                      });
                                                      window.location.reload();
                                                  }
                                                  else {
                                                      showMessage('Service Request', response.Message, 'error', function () {

                                                      });
                                                  }
                                            },
                                            error: function (xhr, status, error) {
                                                showMessage('Service Request', error, 'error', function () {

                                                });
                                            }
                                        });

                                    }

                                    ServiceRequestDetailVM.SaveMetRequestCharge = function () {
                                        if (!$('#metRequestChargeForm').valid()) {
                                            return false;
                                        }
                                        var model = ko.toJS(ServiceRequestDetailVM.Detail.Data);
                                        var saveModel = { Id: model.UserServiceRequestMasterId, ChargedAmount: model.ChargedAmount, Remarks: model.METDepartmentRemrks };
                                        ajaxRequest('@Url.Action("SaveMetRequestChargeAmount")', 'POST', {
                                            data: saveModel,
                                            enableLadda: true,
                                            targetLaddaElement: '#btnSaveMetReq',
                                        }, function (resp) {
                                            if (resp.IsSuccess) {
                                                showMessage('Service Request', resp.Message, 'success', function () {
                                                    $('#metRequestCharge').modal('hide');
                                                    window.location.reload();
                                                });
                                            } else {
                                                showMessage('Service Request', resp.Message, 'error', function () {

                                                });
                                            }
                                        });
                                    }
                                    ServiceRequestDetailVM.SaveBHRChargeAmount = function () {
                                        if (!$('#bhrRequestChargeForm').valid()) {
                                            return false;
                                        }
                                        var model = ko.toJS(ServiceRequestDetailVM.Detail.Data);
                                        var saveModel = { Id: model.UserServiceRequestMasterId, ChargedAmount: model.ChargedAmount };
                                        ajaxRequest('@Url.Action("SaveBuildingHeightRequestChargeAmount")', 'POST', {
                                            data: saveModel,
                                            enableLadda: true,
                                            targetLaddaElement: '#btnSaveBHReq',
                                        }, function (resp) {
                                            if (resp.IsSuccess) {
                                                showMessage('Service Request', resp.Message, 'success', function () {
                                                    $('#bhrRequestCharge').modal('hide');
                                                    window.location.reload();
                                                });
                                            } else {
                                                showMessage('Service Request', resp.Message, 'error', function () {

                                                });
                                            }
                                        });
                                    }
                                     ServiceRequestDetailVM.SaveBHRPlanningRemarks = function () {
                                         console.log('Save BHR Planning info');

                                         var formdata = new FormData($('#bhrRequestPlanningRemarksForm').get(0));
                                         var remarks = ServiceRequestDetailVM.Detail.Data.PlanningApproveNewModel.Remarks();
                                        formdata.append("id", ServiceRequestDetailVM.Detail.UserServiceRequestId());
                                         formdata.set("Remarks", remarks);

                                          $.ajax({
                                            url: '@Url.Action("SaveBuildingHeightRequestPlanningRemarks")',
                                            method: 'POST',
                                            data: formdata,
                                            cache: false,
                                            contentType: false,
                                            processData: false,
                                              success: function (response) {
                                                  if (response.IsSuccess) {
                                                      showMessage('Service Request', response.Message, 'success', function () {
                                                          $('#bhrRequestCharge').modal('hide');
                                                          window.location.reload();
                                                      });
                                                  } else {
                                                      showMessage('Service Request', response.Message, 'error', function () {

                                                      });
                                                  }
                                            },
                                            error: function (xhr, status, error) {
                                                showMessage('Service Request', error, 'error', function () {

                                                });
                                            }
                                        });

                                    }
                                    // apply binding
                                    ko.applyBindings(ServiceRequestDetailVM, $('#mainContent')[0]);
                                } else {
                                    ko.mapping.fromJS(resp.Data, {}, ServiceRequestDetailVM.Detail);
                                }
                                fia.fileinputhelper.InitializeUploadedList('#uploadedFiles', ServiceRequestDetailVM.Detail.UserServiceRequestId);
                            } else {
                                showMessage('Service Request Detail', resp.Message, 'error');
                            }
                        });
                    }
                });
            }
        }
        $(function () {
            ServiceRequestDetailVM.Initialize();
        });
    </script>
}
<script type="text/html" id="serviceDetailTemplate">

</script>
<div class="col-xs-12 col-md-9">
    <div id="mainContent" class="form-horizontal " data-bind="with: Detail">
        <div class="col-xs-12 row" data-bind="with:Data">
            <fieldset>
                <legend>Service Info</legend>
                <h4><u><span data-bind="text: ServiceName"></span></u></h4>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        NOC Req Ref No
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: RegistrationNo"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        Status
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: StatusName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 control-label">
                        Request Date Time
                    </div>
                    <div class="col-sm-8">
                        <span data-bind="text: moment(RequestDateTime()).format('DD/MM/YY')"></span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12 row">
            <div class="col-xs-12" id="dynamicContent" data-bind="with:Data">

            </div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Stage</th>
                        <th> Department</th>
                        <th> Changed By User</th>
                        <th> Changed Status</th>
                        <th> Changed Date Time</th>
                        <th> Remarks</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: History">
                    <tr>
                        <th data-bind="text: StageIndex"></th>
                        <th data-bind="text: DepartmentName"></th>
                        <th data-bind="text: DepartmentUserName"></th>
                        <th data-bind="text: StatusName"></th>
                        <th data-bind="text: moment(StatusChangedDateTime()).isValid() ? moment(StatusChangedDateTime()).format('DD/MM/YY hh:mm:ss a') : '' "></th>
                        <th data-bind="text: Remarks "></th>
                    </tr>
                </tbody>
                <tbody data-bind="if: History().length < 1">
                    <tr>
                        <td colspan="6">No History Yet</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-4"></div>
            <div class="form-group  col-md-8">
                <input type="button" class="btn btn-primary" value="Approve" data-bind="click:$root.ApproveServiceRequest" />
                <input type="button" class="btn btn-warning" value="Reject" data-bind="click:$root.ShowRejectServiceRequest" />

            </div>
            <div id="rejectServiceRequestModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-ph-blue ui-draggable-handle">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Add Reject Comment</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="rejectServiceRequestForm">
                                <div class="form-group">
                                    <div class="col-sm-4 control-label">
                                        <label>Reject To</label>
                                        <span class="red">*</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <ul style="list-style: none">
                                            <li>
                                                <label>
                                                    <input type="radio" id="IsUserSelectedForReject" name="IsUserSelectedForReject" data-bind="checked: IsUserSelectedForReject, checkedValue: true" value="true">
                                                    <span>User</span>
                                                </label>
                                            </li>
                                            <li data-bind="if:PreviousStages().length > 0">
                                                <label>
                                                    <input type="radio" id="IsUserSelectedForReject" name="IsUserSelectedForReject" data-bind="checked: IsUserSelectedForReject, checkedValue: false" value="false">
                                                    <span>Previous Stage</span>
                                                </label>
                                                <span data-bind="ifnot: IsUserSelectedForReject() && PreviousStages().length > 0">
                                                    <select class="form-control" data-bind="options:PreviousStages, optionsValue: 'Id', optionsText : 'Description', optionsCaption: 'Select', value:SelectedStageId"></select>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 control-label">
                                        @Html.LabelFor(model => model.Comments)
                                        <span class="red">*</span>
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control width100", data_bind = "value:Comments" })
                                        @Html.ValidationMessageFor(model => model.Comments)
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="btnSave" data-bind="click: $root.RejectServiceRequest"><span class="ladda-label">@GlobalResource.Submit</span></button>
                            <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-3">
    @Html.Partial("_FileUploadedList")
</div>