﻿
@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Service.Model.CranePermitRequestServiceModel

@section scripts{
    <script type="text/javascript">
        var CranePermitRequestVM = {
            AddNewModel: {},
            SaveRequest: function () {
                if (!$('#frm').valid()) {
                    return false;
                }
                var model = ko.toJS(CranePermitRequestVM.AddNewModel);
                model.OperationDate = moment(model.OperationDate).isValid() ? moment(model.OperationDate).format('DD/MM/YY') : null;
                model.ApplicationDate = moment(model.ApplicationDate).isValid() ? moment(model.ApplicationDate).format('DD/MM/YY') : null;
                ajaxRequest('@Url.Action("UpdateCranePermitRequest")', 'POST', { data: { model: model } }, function (resp) {
                    if (resp.IsSuccess) {
                        showMessage('Crane Permit Request', resp.Message, 'success', function () {
                            //
                            window.location = '@Url.Action("Detail","UserServiceRequest", new {Area="Department"})';
                        });
                    } else {
                        showMessage('Crane Permit Request', resp.Message, 'error');
                    }
                });
            }
        };

        $(function () {
            initialize();
        });

        function initialize() {
            ajaxRequest('@Url.Action("InitializeEdit")', 'GET', {}, function (resp) {
                if (resp.IsSuccess) {
                    if (!ko.dataFor($('#frm')[0])) {
                        CranePermitRequestVM.AddNewModel = ko.mapping.fromJS(resp.Data);

                        ko.applyBindings(CranePermitRequestVM, $('#frm')[0]);
                    } else {
                        ko.mapping.fromJS(resp.Data, {}, CranePermitRequestVM);
                    }
                } else {
                    console.log(resp.Message);
                }
            });
        }
    </script>
}
<form id="frm" class="form-horizontal">
    <div data-bind="with:AddNewModel">

        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.ApplicationDate, CranePermitLocationResource.ApplicationDate)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.ApplicationDate, new { @class = "form-control", data_bind = "datePicker:ApplicationDate" })
                @Html.ValidationMessageFor(model => model.ApplicationDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.ApplicantName, CranePermitLocationResource.ApplicantName)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.ApplicantName, new { @class = "form-control", data_bind = "value:ApplicantName" })
                @Html.ValidationMessageFor(model => model.ApplicantName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CompanyName, CranePermitLocationResource.CompanyName)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", data_bind = "value:CompanyName" })
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.Position, CranePermitLocationResource.Position)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control", data_bind = "value:Position" })
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.ContactNumber, CranePermitLocationResource.ContactNumber)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control", data_bind = "value:ContactNumber" })
                @Html.ValidationMessageFor(model => model.ContactNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.ApplicantEmail, CranePermitLocationResource.ApplicantEmail)
                <span class="red">*</span>
            </div>
            <span class="red">*</span>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.ApplicantEmail, new { @class = "form-control", data_bind = "value:ApplicantEmail" })
                @Html.ValidationMessageFor(model => model.ApplicantEmail)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsNewApplication, CranePermitLocationResource.IsNewApplication, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.CheckBoxFor(model => model.IsNewApplication, new { @class = "form-control", data_bind = "value:IsNewApplication" })
                @Html.ValidationMessageFor(model => model.IsNewApplication)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PreviousPermitNumbers, CranePermitLocationResource.PreviousPermitNumbers, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.PreviousPermitNumbers, new { @class = "form-control", data_bind = "value:PreviousPermitNumbers" })
                @Html.ValidationMessageFor(model => model.PreviousPermitNumbers)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CraneLocation, CranePermitLocationResource.LocationOfCrane, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.CraneLocation, new { @class = "form-control", data_bind = "value:LocationOfCrane" })
                @Html.ValidationMessageFor(model => model.CraneLocation)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NorthingsEastings, CranePermitLocationResource.NorthingsEastings, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.NorthingsEastings, new { @class = "form-control", data_bind = "value:NorthingsEastings" })
                @Html.ValidationMessageFor(model => model.NorthingsEastings)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.OperationDate, CranePermitLocationResource.OperationDate)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.OperationDate, new { @class = "form-control", data_bind = "datePicker:OperationDate" })
                @Html.ValidationMessageFor(model => model.OperationDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.OperationTiming, CranePermitLocationResource.OperationTiming)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.OperationTiming, new { @class = "form-control", data_bind = "value:OperationTiming" })
                @Html.ValidationMessageFor(model => model.OperationTiming)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.MaxOperatingHeight, CranePermitLocationResource.MaxOperatingHeight)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.MaxOperatingHeight, new { @class = "form-control", data_bind = "value:MaxOperatingHeight" })
                @Html.ValidationMessageFor(model => model.MaxOperatingHeight)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PurposeOfUser, CranePermitLocationResource.PurposeOfUser, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.PurposeOfUser, new { @class = "form-control", data_bind = "value:PurposeOfUser" })
                @Html.ValidationMessageFor(model => model.PurposeOfUser)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.CraneOperatingCompany, CranePermitLocationResource.CraneOperatingCompany)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.CraneOperatingCompany, new { @class = "form-control", data_bind = "value:CraneOperatingCompany" })
                @Html.ValidationMessageFor(model => model.CraneOperatingCompany)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.OperatorName, CranePermitLocationResource.OperatorName)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.OperatorName, new { @class = "form-control", data_bind = "value:OperatorName" })
                @Html.ValidationMessageFor(model => model.OperatorName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 control-label">
                @Html.LabelFor(model => model.OperatorContactNumber, CranePermitLocationResource.OperatorContactNumber)
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.OperatorContactNumber, new { @class = "form-control", data_bind = "value:OperatorContactNumber" })
                @Html.ValidationMessageFor(model => model.OperatorContactNumber)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">@CranePermitLocationResource.CraneType</label>
            <div class="col-sm-8" data-bind="foreach:CraneTypeSelectionViewModels">
                <div class="col-xs-4 col-md-2">
                    <label><input type="checkbox" data-bind="checked:IsSelected" /><span data-bind="text: CraneTypeName"></span></label>
                </div>
                <div data-bind="if: IsOther()===true && IsSelected() === true ">
                    <input type="text" data-bind="value:OtherCraneTypeName" class="form-control col-xs-4" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <input type="button" id="btnSave" class="btn btn-primary" data-bind="click: SaveRequest" value="@GlobalResource.Submit" />
        </div>
    </div>

</form>