﻿@model List<EService.Service.Model.UserServiceRequestFlowStageModel>

@{
    ViewBag.Title = "User Service Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Service Requests</h2>

@section scripts{
    <script type="text/javascript">
        var ServiceRequestVM = {
            Records: {},
            Initialie: function () {
                ajaxRequest('@Url.Action("Initialize")', 'GET', {}, function (resp) {
                    if (resp.IsSuccess) {
                        if (!ko.dataFor($('#mainContent')[0])) {
                            ServiceRequestVM.Records = ko.mapping.fromJS(resp.Data);
                            ServiceRequestVM.viewDetailClick = function (item) {
                                window.location = '/Department/UserServiceRequest/Detail/' + item.UserServiceRequestMasterId();
                            }
                            ko.applyBindings(ServiceRequestVM, $('#mainContent')[0]);
                        } else {
                            ko.mapping.fromJS(resp.Data, {}, ServiceRequestVM.Records);
                        }
                    } else {
                        showMessage('User Service Request Master', resp.Message, 'error');
                    }
                });
            }
        }
        $(function () {
            ServiceRequestVM.Initialie();
        });
    </script>
}
<div id="mainContent">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Service Name</th>
                <th>NOC Req Ref No </th>
                <th>User (Email)</th>
                <th>Requested Date Time</th>
                <th>Request Status</th>
                <th>Department Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Records">
            <tr>
                <td data-bind="text: ServiceName"></td>
                <td data-bind="text: RegistrationNo"></td>
                <td data-bind="text: UserName()+'( '+Email()+' )' "></td>
                <td data-bind="text: moment(RequestDateTime()).format('DD/MM/YY hh:mm:ss a')"></td>
                <td data-bind="text: ServiceRequestStatusName"></td>
                <td data-bind="text: DepartmentServiceRequestStatusName"></td>
                <td><a href="javscript:void()" class="btn btn-xs btn-info" data-bind="click:$root.viewDetailClick">&nbsp; View Detail</a></td>
            </tr>
        </tbody>
    </table>
</div>