﻿@model EService.Data.Entity.Entity.Service
@{
    /**/

    ViewBag.Title = @Model.ServiceName + " - Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    <div class="row">
        <a href="@Url.Action("Index", "ServiceRequest", new { Area = "", serviceId = Model.ServiceId })" class="btn btn-warning">
            Proceed to Requests&nbsp; <i class="glyphicon glyphicon-step-forward"></i>
        </a>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <h3>
            @Model.ServiceName
        </h3>
        <p>
            @Html.Raw(Model.Description)
        </p>

    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <a href="@Url.Action("Index", "ServiceRequest", new { Area = "", serviceId = Model.ServiceId })" class="btn btn-warning">
            Proceed to Requests &nbsp;<i class="glyphicon glyphicon-step-forward"></i>
        </a>
    </div>
}
