﻿@{
    ViewBag.Title = "User Service Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-right" data-role="navigation-up" data-bind="template:{name: 'navTemplate'}"></div>
<div class="row" id="currentStatusContent" data-bind="template:{name: 'currentStatusTemplate'}"></div>
<div class="row" id="detailContent"></div>
<div class="row" id="uploadedFileContent" data-bind="template:{name: 'uploadedFileContentTemplate'}"></div>
<div class="row" id="historyContent" data-bind="template:{name: 'historyTemplate'}"></div>
<div class="row" id="paymentInfoContent" data-bind="template:{name: 'paymentInfoTemplate'}"></div>
<div class="row" id="receiptInfoContent" data-bind="template:{name: 'receiptInfoTemplate'}"></div>
<div class="row text-right" data-role="navigation-down" data-bind="template:{name: 'navTemplate'}">
</div>
<script type="text/html" id="navTemplate">
    <a href="javascript:void()" class="btn btn-warning" data-bind="attr:{href:'/ServiceRequest/Index?ServiceId='+ServiceId()}"><i class="fa fa-backward"></i>&nbsp; Back</a>
    <!-- ko if:Status() === fia.ServiceFlowStateEnum.Rejected -->
    <a class="btn btn-danger" href="javascript:void()" data-bind="attr:{href: '/ServiceRequest/Reapply?id='+UserServiceRequestMasterId()}"><i class="fa fa-repeat"></i>&nbsp; ReApply</a>
    <!--/ko-->
</script>
<script type="text/html" id="currentStatusTemplate">
    <!--ko with:ServiceInfo-->
    <fieldset>
        <legend>
            Service Info
        </legend>
        <dl class="dl-horizontal">
            <dt>Service Type</dt>
            <dd> <strong><span data-bind="text:ServiceName"></span></strong></dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Requested Date</dt>
            <dd> <strong><span data-bind="text:ServiceRequestDateTime"></span></strong></dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Current Status</dt>
            <dd> <strong><span data-bind="text:CurrentStatus"></span></strong></dd>
        </dl>

    </fieldset>
    <!--/ko-->
</script>
<script type="text/html" id="uploadedFileContentTemplate">
    <fieldset>
        <legend>Uploaded Files</legend>
        <!--ko if: UploadedFiles().length >0-->
        <ul style="list-style: none" data-bind="foreach: UploadedFiles">
            <li><span data-bind="text: FileName"></span></li>
        </ul>
        <!--/ko-->
        <!--ko ifnot: UploadedFiles().length >0-->
        <span><u><b>No Files uploaded for this request.</b></u></span>
        <!--/ko-->
    </fieldset>
</script>

<script type="text/html" id="historyTemplate">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Stage</th>
                <th> Department</th>
                <th> Changed By User</th>
                <th> Changed Status</th>
                <th> Changed Date Time</th>
                <th> Remarks</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: History">
            <tr>
                <th data-bind="text: StageIndex"></th>
                <th data-bind="text: DepartmentName"></th>
                <th data-bind="text: DepartmentUserName"></th>
                <th data-bind="text: StatusName"></th>
                <th data-bind="text: moment(StatusChangedDateTime()).isValid() ? moment(StatusChangedDateTime()).format('DD/MM/YY hh:mm:ss a') : '' "></th>
                <th data-bind="text: Remarks "></th>
            </tr>
        </tbody>
        <tbody data-bind="if: History().length < 1">
            <tr>
                <td colspan="6">No History Yet</td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/html" id="paymentInfoTemplate">
    <!--ko with: PaymentInfo-->
    <!--ko if: IsPaymentStage-->
    <fieldset>
        <legend>
            Payment Info
        </legend>
        <h6>Your request for this service has been approved. Now you have to pay.</h6>
        <dl class="dl-horizontal">
            <dt>Service Charge</dt>
            <dd> <strong><span data-bind="text:ServiceCharge"></span></strong></dd>
        </dl>
        <a class="btn btn-warning" href="javascript:void()" data-bind="click: function(){$root.ProceedToPaymentClick($root.UserServiceRequestMasterId());}"><i class="fa fa-money"></i>&nbsp; Proceed to Payment</a>


    </fieldset>
    <!--/ko-->
    <!--/ko-->

 
</script>
<script type="text/html" id="receiptInfoTemplate">
    <!--ko with: PaymentInfo-->
    <!--ko if: HasReceipts-->
    <fieldset>
        <legend>
            Payment Info
        </legend>
        <h6>Your payment has been completed. You can print your receipt here.</h6>
        @*<table class="table table-bordered">

                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Receipt No</th>
                        <th>Reg No</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Receipts">
                    <tr>
                        <td></td>
                        <td><span data-bind="text:ReceiptNo"></span></td>
                        <td><span data-bind="text:RequestRegistrationNo"></span></td>
                        <td>
                            <a class="btn btn-warning" href="javascript:void()" data-bind="click: function(){$root.DownloadReceiptList(ReceiptId());}"><i class="fa fa-download"></i>&nbsp; Download Receipt</a>
                        </td>
                    </tr>
                </tbody>
            </table>*@

        <a class="btn btn-warning" href="javascript:void()" data-bind="click: function(){$root.GotoReceiptList($root.UserServiceRequestMasterId());}"><i class="fa fa-money"></i>&nbsp; Proceed to Receipt</a>


    </fieldset>
    <!--/ko-->
    <!--/ko-->
</script>
@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.serviceRequest.InitializeDetail();
        })
    </script>
}
