﻿@using EService.Service.Model
@model ResponseObject<ReceiptPrintModel>
@{
    ViewBag.Title = "DownloadReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    @*<script src="~/Scripts/jspdf/es6-promise.auto.min.js"></script>
    <script src="~/Scripts/jspdf/jspdf.min.js"></script>
    <script src="~/Scripts/jspdf/html2canvas.min.js"></script>
    <script src="~/Scripts/jspdf/html2pdf.min.js"></script>*@
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script type="text/javascript">
        var doc = new jsPDF();

        // We'll make our own renderer to skip this editor
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            },
            '.controls': function (element, renderer) {
                return true;
            }
        };
        $(function () {
            // All units are in the set measurement for the document
            // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
            doc.fromHTML($('#receipt').get(0), 15, 15, {
                'width': 340,
                'elementHandlers': specialElementHandlers
            });
            doc.save('Receipt.pdf');
        })
       
    </script>

}

@if (Model.IsSuccess)
{
    <div class="col-xs-8">
        @Html.Partial("_ReceiptFormat", Model.Data)
    </div>
}
else
{
    <span class="alert alert-danger">
        Error
    </span>
}
