﻿@{
    ViewBag.Title = "User Service Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainContent" class="form-horizontal" data-bind="template:{name: 'listContentTemplate'}">
</div>
<script type="text/html" id="listContentTemplate">
    <fieldset>
        <legend>
            Search Options
        </legend>
        <div class="col-xs-12" data-bind="with: SearchModel">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" data-bind="datePicker: DateFrom" placeholder="Date From" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" data-bind="datePicker: DateTo" placeholder="Date To" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <select name="ServiceStatus" class="form-control" data-bind="value: ServiceStatus,options: ServiceStatusList, optionsText: 'Description', optionsValue: 'Id', optionsCaption: 'Select Service Status' "></select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <br />
                <button type="button" class="btn btn-primary ladda-button" data-role="search" data-style="expand-left" data-bind="click: $parent.SearchClick">Search</button>
            </div>
        </div>
    </fieldset>

    <h4 data-bind="text: ServiceName"></h4>
    <div class="col-xs-12 text-right">
        <a href="@Url.Action("Create")" class="btn btn-primary"> <i class="fa fa-plus"></i> &nbsp;New Request</a>
    </div>
    <div class="col-xs-12 table-responsive">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>NOC Req Ref No </th>
                    <th>Request Type</th>
                    <th>User (Email)</th>
                    <th>Requested Date Time</th>
                    <th>Service Status</th>
                    <th>Request Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Records">
                <tr>
                    <td data-bind="text: RegistrationNo"></td>
                    <td data-bind="text: IsReapplied() ? 'Reapplied':'New' "></td>
                    <td data-bind="text: UserName()+'( '+Email()+' )' "></td>
                    <td data-bind="text: moment(RequestDateTime()).format('DD/MM/YY hh:mm:ss a')"></td>
                    <td data-bind="text: IsDraft() === true ? 'Draft' : 'Submitted' "></td>
                    <td data-bind="text: RequestStatusName"></td>
                    <td>
                        <a href="javascript:void(0)" data-bind="click:$root.ViewDetails" class="" title="View Detail"><i class="fa fa-eye"></i></a>
                        <!--ko if:IsDraft-->
                        <a href="javascript:void(0)" data-bind="click:$root.Edit" class="" title="Edit"><i class="fa fa-pencil"></i></a>
                        <!--/ko-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</script>
<script type="text/html" id="listSearchResultTemplate">
</script>
@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.serviceRequest.Initialize();
        })
    </script>
}