﻿@model List<EService.Service.Model.ReceiptPrintModel>
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 1;
}

<h2>Receipt</h2>
<table class="table table-bordered">

    <thead>
        <tr>
            <th>S.No.</th>
            <th>Receipt No</th>
            <th>Reg No</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td>@item.ReceiptNo</td>
                <td>@item.RequestRegistrationNo</td>
                <td>@Html.ActionLink("Download Receipt","DownloadReceipt", new { receiptid = item.ReceiptId })</td>
            </tr>
            index++;
        }
    </tbody>
</table>

