﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@using EService.Web.Models
@model EService.Web.Models.MeteorologicalDataRequestViewModel
@using Resource = EService.Web.App_LocalResources.MeteorologicalDataRequestResource
@{
    ViewBag.Title = "Meteorological Data Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}
@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.meteorologicalDataRequest.InitializeCreate();
        })
    </script>
}
@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })

<form id="metRequestCreateForm" method="POST" class="form-horizontal">

    <div id="mainContent" data-bind="">
        <!--ko with: AddNewModel-->
        <div class="row">
            <span class="pull-right text-right">
                <b>     <span style="font-size: xx-large;">Meteorological Data Request</span></b>
                <br />
                <button class="btn btn-info" data-bind="click: $root.SetUserInfo">Set User Information</button>
            </span>
        </div>
        <hr />
        <fieldset>
            <legend>
                @Resource.CustomerContactDetail

            </legend>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicationDate, Resource.ApplicationDate)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ApplicationDate, new { @class = "form-control", data_bind = "datePicker: ApplicationDate" })
                    @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.Email, Resource.Email)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", data_bind = "value: Email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.Department, Resource.Department)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Department, new { @class = "form-control", data_bind = "value: Department" })
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.Phone, Resource.Phone)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", data_bind = "value: Phone" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.Fax, Resource.Fax)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", data_bind = "value: Fax" })
                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.Address, Resource.Address)
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", data_bind = "value: Address" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                @Resource.WeatherReportType
            </legend>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Resource.WeatherReportType
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    <ul style="list-style: none" data-bind="foreach:WeatherTypes">
                        <li>
                            <label><input type="checkbox" data-bind="checked: IsActive, checkedValue: true" name="WeatherType" /><span data-bind="text: WeatherTypeDescription"></span></label>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>@Resource.ClimatologicalInformation</legend>
            <div class="form-group">
                <div class="control-label col-sm-4">Climatological Range type needed</div>
                <div class="col-sm-8">

                    <ul style="list-style: none">
                        <li><label><input type="checkbox" name="DataRange" data-bind="checked: DataRangeDaily, checkedValue: true" /><span>@Resource.Daily</span></label></li>
                        <li><label><input type="checkbox" name="DataRange" data-bind="checked: DataRangeHourly, checkedValue: true" /><span>Hourly</span></label></li>
                        <li><label><input type="checkbox" name="DataRange" data-bind="checked: DataRangeMonthly, checkedValue: true" /><span>@Resource.Monthly</span></label></li>
                        <li><label><input type="checkbox" name="DataRange" data-bind="checked: DataRangeYearly, checkedValue: true" /><span>@Resource.Yearly</span></label></li>
                        <li data-bind="">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input type="text" data-bind="datePicker: CustomRangeStartDate" name="CustomRangeStartDate" class="form-control" placeholder="Start Date" />
                                </div>
                            </div>
                        </li>
                        <li data-bind="">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <input type="text" data-bind="datePicker: CustomRangeEndDate" name="CustomRangeEndDate" class="form-control" placeholder="End Date" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>@Resource.RequisiteWeatherElements</legend>
            <ul style="list-style: none" data-bind="foreach: WeatherElements">
                <li>
                    <label><input type="checkbox" data-bind="checked: IsActive, checkedValue: true"  name="RequisiteWeatherElement"/><span data-bind="text: WeatherElementDescription"></span></label>
                    <span data-bind="if:IsOther() && IsActive()">  <input type="text" class="form-control" data-bind="text: OtherName" /></span>
                </li>
            </ul>
        </fieldset>
        <!--/ko-->
        @Html.Partial("_FileUploader")
        <div class="form-group">
            <div class="col-md-offset-4 col-sm-8">
                <button type="button" data-role="save" value="@GlobalResource.Submit" data-style="expand-left" class="ladda-button btn btn-primary" data-bind="click: $root.Save">
                    @GlobalResource.Submit
                </button>
                <button type="button" data-role="draft" value="@GlobalResource.SubmitDraft" data-style="expand-left" class="ladda-button btn btn-primary" data-bind="click: $root.SaveDraft">
                    @GlobalResource.SubmitDraft
                </button>
                <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId = (int) ServiceEnum.MeteorologicalDataRequest})">@GlobalResource.Cancel</a>
            </div>
        </div>

    </div>
</form>
