﻿@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@using EService.Web.Models
@model EService.Web.Models.MeteorologicalDataRequestViewModel
@using Resource = EService.Web.App_LocalResources.MeteorologicalDataRequestResource
@{
    ViewBag.Title = "Meteorological Data Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meteorological Data Request</h2>
@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.meteorologicalDataRequest.InitializeDetail();
        })
    </script>
}

<div id="mainContent" data-bind="with: Detail">
    <input type="hidden" id="UserServiceRequestId" value="@ViewBag.UserServiceRequestId" />
    <fieldset>
        <legend>
            @Resource.CustomerContactDetail
        </legend>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.ApplicationDate, Resource.ApplicationDate)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: moment(ApplicationDate()).isValid()? moment(ApplicationDate()).format('DD/MM/YY'): '' "></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Email, Resource.Email)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Email"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Department, Resource.Department)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Department"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Phone, Resource.Phone)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Phone"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Fax, Resource.Fax)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Phone"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Html.LabelFor(model => model.Address, Resource.Address)
            </div>
            <div class="col-sm-8">
                <span data-bind="text: Address"></span>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            @Resource.WeatherReportType
        </legend>
        <div class="form-group">
            <div class="control-label col-sm-4">
                @Resource.WeatherReportType
                <span class="red">*</span>
            </div>
            <div class="col-sm-8">
                <ul style="list-style: none" data-bind="foreach:WeatherTypes">
                    <li>
                        <label><span data-bind="text: WeatherTypeDescription"></span></label>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>@Resource.ClimatologicalInformation</legend>
        <div class="form-group">
            <div class="control-label col-sm-4"></div>
            <div class="col-sm-8">
                <ul style="list-style: none">
                    <li><label>@Resource.Daily</label></li>
                    <li><label>@Resource.Monthly</label></li>
                    <li><label>@Resource.Yearly</label></li>
                    <li><label>@Resource.SelectPeriod</label></li>
                    <li data-bind="if: DataRangeSelectPeriod">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <span data-bind="text: moment(CustomRangeStartDate()).isValid()? moment(CustomRangeStartDate()).format('DD/MM/YY'): '' "></span>
                            </div>
                        </div>
                    </li>
                    <li data-bind="if: DataRangeSelectPeriod">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <span data-bind="text: moment(CustomRangeEndDate()).isValid()? moment(CustomRangeEndDate()).format('DD/MM/YY'): '' "></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>@Resource.RequisiteWeatherElements</legend>
        <ul style="list-style: none" data-bind="foreach: WeatherElements">
            <li>
                <label><span data-bind="text: WeatherElementDescription"></span></label>
                <span data-bind="if:IsOther() && IsActive()">  <input type="text" class="form-control" data-bind="text: OtherName" /></span>
            </li>
        </ul>
    </fieldset>



</div>
@Html.Partial("_FileUploadedList")
    <div class="form-group">
        <div class="col-md-offset-4 col-sm-8">
            <a class="btn btn-warning" href="@Url.Action("Index")">@GlobalResource.Cancel</a>
        </div>
    </div>
