﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Fujairah Airport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/x-icon " href="/favicon.ico"/>
</head>
<body>
    <div class="wrapper">
        @RenderBody()

    </div>
</body>
</html>
