﻿<div id="uploadedFiles">
    <fieldset>
        <legend>Uploaded Files</legend>
        <div class="col-xs-12">
            <ul style="list-style: none" data-bind="foreach: UploadedFiles">
                <li><a href="javascript:void()" data-bind="click: $root.DownloadAttachment" class="btn btn-primary"><i class="fa fa-file"></i>&nbsp; <span data-bind="text:FileName"></span></a></li>
            </ul>
        </div>
    </fieldset>

</div>