﻿<h3>File Uploads</h3>
<h6>After you select file using browse, please click on Upload button before saving (Max File Size is : 10 MB)</h6>
<!--ko with: AddNewModel-->
<!--ko if: EditUploadedFiles != null && EditUploadedFiles().length > 0-->
<div class="col-xs-12">
    <ol data-bind="foreach: EditUploadedFiles" class="list-group">
        <!--ko if: ObjectState() === 3-->
        <li class="list-group-item">
            <a href="javascript:void(0)" data-bind="text: FileName" title="Download File"></a>
            <span class="pull-right" title="Remove">
                <a href="javascript:void(0)" title="Delete File" data-bind="click: $root.RemoveUploadedFile">
                    <i class="glyphicon-trash glyphicon"></i>
                </a>
            </span>
        </li>
        <!--/ko-->
    </ol>
</div>
<!--/ko-->
<!--/ko-->
<div class="clearfix"></div>
<form enctype="multipart/form-data" action="@Url.Action("Upload","FileUpload", new {Area=""})" method="POST">
    <input id="kv-explorer" type="file" name="fila" multiple>
    <br>
</form>
