﻿
@using EService.Web.App_GlobalResources
<!DOCTYPE html>
<html lang="US-en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fujairah Airport</title>
    <!-- Favicon Link -->
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon/favicon.ico")" type="image/x-icon" />
    <link rel="apple-touch-icon" href="@Url.Content("~/images/favicon/apple-touch-icon.png")" />
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/images/favicon/apple-touch-icon-57x57.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/images/favicon/apple-touch-icon-72x72.png" )" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/images/favicon/apple-touch-icon-76x76.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/images/favicon/apple-touch-icon-114x114.png")" />
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/images/favicon/apple-touch-icon-120x120.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/images/favicon/apple-touch-icon-144x144.png")" />
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/images/favicon/apple-touch-icon-152x152.png")" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/images/favicon/apple-touch-icon-180x180.png")" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/normalize.min.css" )">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/toastr.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/ladda-themeless.css")" type="text/css" />
    <link href="~/Content/fileupload/fileinput.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            border-color: red;
            color: red;
        }
    </style>
</head>
<body>
    <header id="masthead" class="site-header">
        <div class="container">
            <div class="site-logo">
                <a href="@Url.Action("Index", "Dashboard", new {Area=""})" class="navbar-brand">
                    <img src="@Url.Content("~/images/logo.png")" alt="logo.png">
                </a>
            </div>
            <nav class="main-navigation">
                <ul>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Welcome @User.Identity.Name
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="@Url.Action("Index","ChangePassword")">Change Password</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="@Url.Action("Logout", "Login", new {Area = ""})">Logout</a></li>
                                </ul>
                            </div>
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </header><!-- /header -->
    <main id="main" class="site-main">
        <div class="container">
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <footer id="main-footer" class="site-footer">
        <div class="container">
            <div class="site-info">
                <p>
                    © Fujairah International Airport. All Rights Reserved. Site by <a href="http://www.go-gulf.com/" target="_blank">GO-Gulf</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- jQuery Link -->
    <script src="@Url.Content("~/scripts/jquery.1.11.3.min.js")"></script>
    <script src="@Url.Content("~/scripts/modernizr-2.8.3.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment-with-locales.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/ladda.jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/spin.min.js")"></script>
    <script src="@Url.Content("~/Scripts/ladda.min.js")"></script>
    <script src="~/Scripts/fileupload/fileinput.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom-bindingHandlers.js")"></script>
    <script src="@Url.Content("~/scripts/custom.js")"></script>
    @Scripts.Render("~/bundles/common")
    <script type="text/javascript">

        jQuery.validator.setDefaults({
            focusInvalid: false,
            invalidHandler: function (event, validator) {
                if (!validator.numberOfInvalids())
                    return;
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: $(validator.errorList[0].element).offset().top - 284
                }, 1000);
                toastr.options = {
                    "positionClass": "toast-bottom-full-width"
                }
                toastr.error("Please fill in the highlighted fields");
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                if (element.attr("type") == "radio" || element.attr("type") == "checkbox")
                    error.insertAfter($(element).parent().parent()[0]);
                else
                    error.insertAfter(element);
            }
        });

        function showMessage(title, message, event, closedEventHandler) {
            if (title != null && message != null) {
                //setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000,
                    onHidden: closedEventHandler
                };
                switch (event) {
                    case 'success':
                        toastr.success(title, message);
                        break;
                    case 'error':
                        toastr.error(title, message);
                        break;
                    default:
                        toastr.info(title, message);
                        break;
                }

                //}, 1300);
            }
        }
    </script>
    <script type="text/javascript">
        // this function helps to get urls
        function ApplicationRootUrl(ActionName, ControllerName) {
            var retValue = '@Url.Action("action", "controller")';
            return retValue.replace("action", ActionName).replace("controller", ControllerName);
        }
        $(function () {
            //$("#kv-explorer").fileinput({
            //    'theme': 'explorer',
            //    'uploadUrl': '/FileUploadTest/upload/',
            //    overwriteInitial: false,

            //});

            //$('#kv-explorer').on('fileuploaded', function (event, data, previewId, index) {
            //    var form = data.form, files = data.files, extra = data.extra,
            //        response = data.response, reader = data.reader;
            //    console.log('File uploaded triggered');
            //});
        });

        $.validator.addMethod('regex', function (value, element, param) {
            return this.optional(element) ||                value.match(typeof param == 'string' ? new RegExp(param) : param);
        },            'Please enter phone number in the correct format.');

        var phoneNoRegex = /^[+-]?\d+$/;
    </script>
    @Scripts.Render("~/Scripts/fiascripts")

    <script type="text/javascript" src="@Url.Content("~/Scripts/fileupload/fileinput.helper.js")">

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
