﻿@model EService.Service.Model.ReceiptPrintModel
@{
    var baseUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Content/bootstrap.css"));
}
<link href="@baseUrl" rel="stylesheet" />

<div style="font-family:Tahoma, sans-serif;background-color:white;">

    <div class="main" style="width:1200px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;position:relative;">
        <div class="container" style="width:1000px;height:800px;margin-top:100px;margin-bottom:100px;margin-right:auto;margin-left:auto;">
            <div class="header" style="text-align:center;">
                <h1 class="title" style="color:#02027b;text-transform:uppercase;">
                    DEPARTMENT OF CIVIL AVIATION
                </h1>
                <h2 class="sub_title" style="color:#02027b;text-transform:uppercase;">
                    <span class="red" style="color:#d10404;">FUJAIRAH</span><span class="grey" style="color:#b2b0b0;"> INTERNATIONAL</span> <span class="red" style="color:#d10404;">AIRPORT</span>
                </h2>
                <h4 class="tex_reg_no">TAX REGN.NO.100399741600003</h4>

            </div>
            <div class="detail_wrap" style="text-align:center;">
                <span class="doc_title red" style="color:#d10404;display:block;">Tax Invoice/Receipt </span>
                <div class="left-side" style="display:inline-block;width:48%;text-align:left;">
                    <ul>
                        <li style="list-style-type:none;list-style-position:outside;list-style-image:none;">P.O BOX NO.977</li>
                        <li style="list-style-type:none;list-style-position:outside;list-style-image:none;">Fujairah .UAE.</li>
                    </ul>
                </div>
                <div class="right-side" style="display:inline-block;width:48%;">
                    <p>
                        <span style="margin-right:50px;">DATE</span>: 2018-12-20 <br>
                        <span style="margin-right:50px;">NO</span>: 2334YHJ
                    </p>
                </div>
            </div>
            <div class="report-wrap" style="margin-top:40px;margin-bottom:0px;margin-right:0px;margin-left:58px;">
                <div class="custom_detail_wrap">
                    <span>Customer</span>
                    <table style="border-collapse:collapse;">
                        <tr>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">Name</td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                        </tr>
                        <tr>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">Address</td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                        </tr>
                        <tr>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">TRN #</td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                        </tr>
                    </table>
                </div>
                <div class="data_detail_wrap">
                    <table style="border-collapse:collapse;">
                        <tr>
                            <th style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">Description of service</th>
                            <th style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">Qty</th>
                            <th style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">Rate</th>
                            <th style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">Amount (AED)</th>
                        </tr>
                        <tr>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                        </tr>
                        <tr>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                        </tr>
                        <tr class="last_row">
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">Admin Fee</td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                            <td style="width:150px;border-width:1px;border-style:solid;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;"></td>
                        </tr>
                    </table>
                    <div class="footer_total_wrap" style="margin-bottom:40px;width:100%;float:right;">
                        <table style="border-collapse:collapse;float:right;">
                            <tr>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">Sub Total</td>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">0.00</td>
                            </tr>
                            <tr>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">Add VAT.5%</td>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">0.00</td>
                            </tr>
                            <tr>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">VAT.0 %</td>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;"></td>
                            </tr>
                            <tr>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">Social development support fund <br><span style="font-size:12px;">(applicable only for AED.50 or above invoices)</span></td>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">0.00</td>
                            </tr>
                            <tr class="last_row">
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">TOTAL AED</td>
                                <td style="width:150px;border-width:1px;height:30px;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;border-style:none;">0.00</td>
                            </tr>
                        </table>
                    </div>
                    <p class="footer_line" style="text-align:center;">This is an electronically generated document no need any signature</p>
                </div>
            </div>
        </div>
    </div>

</div>