﻿<div ng-controller="newsletter.sendTestNewsLetter">

        <umb-panel>

            <div class="umb-scrollable row-fluid">
                <div class="form-horizontal" style="padding-bottom: 90px">
                    <div class="umb-pane">
                        <umb-control-group label="Test Email Address:">
                            <input type="text" ng-model="model.testEmail" class="umb-editor umb-textstring" required />
                        </umb-control-group>


                        <div class="umb-tab-buttons" detect-fold>

                            <button type="button" ng-click="sendTestNewsLetterEmail()" data-hotkey="ctrl+t" class="btn btn-primary">
                                Send Test
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </umb-panel>
   
</div>