﻿<div ng-controller="newsletter.subscriber">



        <div class="umb-scrollable row-fluid">
            <div class="form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                              Subscribed  Email
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in list">
                            <td>{{item.Email}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



</div>