﻿@model FIA.CMS.Model.GenericEmailModel
<p>
    Thank you for contacting us.
</p>
<p>
    We appreciate you contacting us about @Model.Context.
</p>
<p>
    You are very important to us, all information received will always remain confidential. We will be in touch with you shortly.
</p>
<p>
    Fujairah International Airport Team
</p>