﻿

@{
    ViewBag.Title = "Service Request Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.serviceRequestDepartment.js"></script>
    <script type="text/javascript">
        $(function() {
            fia.serviceRequestDepartment.Initialize();
        })
    </script>
}