﻿@inherits UmbracoViewPage<List<FIA.CMS.Model.DefaultContentArcheType>>

@foreach (var item in Model)
{
    <div class="fia-column-block">
        <div class="row">
            @if (item.RevertPlacement == true)
            {
                <div class="col-md-6">
                    <div class="column-image">
                        <img src="@item.ImageUrl" alt="@item.Title">
                    </div>
                </div>
            }

            <div class="col-md-6">
                <div class="column-desc">
                    <h2>@item.Title</h2>
                    @Html.Raw(item.MainContent)
                </div>
            </div>

            @if (item.RevertPlacement == false)
            {
                <div class="col-md-6">
                    <div class="column-image">
                        <img src="@item.ImageUrl" alt="@item.Title">
                    </div>
                </div>
            }
        </div>
    </div>
}

