﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="fia-column-block">
			<div class="row">
				<div class="col-md-6">
					<div class="column-image">
						<img src="image" alt="Airport Way">
					</div>
				</div>
				<div class="col-md-6">
					<div class="column-desc">
						<h2>title</h2>
						<p>
							Feeling hungry before your flight? Need a cappuccino with friends before checking-in? There are several restaurants that
							can cater to your taste. The Pilots Café located in the Airline Offices Building across from the Terminal offers sandwiches
							and pastries that will put a smile on your face. In the main Terminal on the 1 st floor, there is a restaurant that serves
							great snacks and beverages to please your taste buds.
						</p>
						<p>
							Inside the Departure Lounge on the 1 st floor, there is a small café where you can sit and relax watching the activities on
							the ramp. Watch your plane being serviced getting it ready to connect you to your next destination.
						</p>
					</div>
				</div>
			</div>
		</div>