﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@model EService.Web.Models.TradeLicenseRequestViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}

@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })

<div id="createContent" data-bind="template:{name: 'createContentTemplate', afterRender: AddNewModel.AfterRenderComplete }"></div>
<script type="text/html" id="createContentTemplate">
    <div class="row">
        <span class="pull-right text-right">
            <b>     <span style="font-size: xx-large;">Trade License Request</span></b>
            <br />
            <button class="btn btn-info" data-bind="click: SetUserInfo">Set User Information</button>
        </span>
    </div>
    <hr />
@using (Html.BeginForm("", "", FormMethod.Post, new {id = "frmTradeLicenseRequest"}))
{
    <div class="form-horizontal" data-bind="">
        <!--ko with : AddNewModel-->
        <fieldset>
            <legend>
                1. Details of the applicant who wants to register the company under DCA
            </legend>
            <div class="form-group">
                <div class="control-label col-sm-4">

                    @Html.LabelFor(model => model.ApplicantName, htmlAttributes: new { })
                    <span class="red">*</span>
                </div>

                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ApplicantName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantName" } })
                    @Html.ValidationMessageFor(model => model.ApplicantName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.PresentSponsorInUAE, htmlAttributes: new { })
                    <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.PresentSponsorInUAE, new { htmlAttributes = new { @class = "form-control", data_bind = "value: PresentSponsorInUAE" } })
                    @Html.ValidationMessageFor(model => model.PresentSponsorInUAE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.AddressOfSponser, htmlAttributes: new { }) <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.AddressOfSponser, new { htmlAttributes = new { @class = "form-control", data_bind = "value: AddressOfSponser" } })
                    @Html.ValidationMessageFor(model => model.AddressOfSponser, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicantOfficeNumber, htmlAttributes: new { }) <span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ApplicantOfficeNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantOfficeNumber" } })
                    @Html.ValidationMessageFor(model => model.ApplicantOfficeNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicantResidenceNumber, htmlAttributes: new { })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ApplicantResidenceNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantResidenceNumber" } })
                    @Html.ValidationMessageFor(model => model.ApplicantResidenceNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicantMobileNumber, htmlAttributes: new { })<span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ApplicantMobileNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantMobileNumber" } })
                    @Html.ValidationMessageFor(model => model.ApplicantMobileNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicantFaxNumber, htmlAttributes: new { })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ApplicantFaxNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantFaxNumber" } })
                    @Html.ValidationMessageFor(model => model.ApplicantFaxNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicantEmailNumber, htmlAttributes: new { })<span class="red">*</span>
                </div>

                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ApplicantEmailNumber, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantEmailNumber" } })
                    @Html.ValidationMessageFor(model => model.ApplicantEmailNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicantCountry, htmlAttributes: new { })<span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ApplicantCountry, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantCountry" } })
                    @Html.ValidationMessageFor(model => model.ApplicantCountry, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.MailingAddress, htmlAttributes: new { })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.MailingAddress, new { htmlAttributes = new { @class = "form-control", data_bind = "value: MailingAddress" } })
                    @Html.ValidationMessageFor(model => model.MailingAddress, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { })<span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ApplicationDate, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: ApplicationDate" } })
                    @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                2. Details of the proposed Company to sponsored under DCA
            </legend>
            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.CompanyPreferredName, htmlAttributes: new { })<span class="red">*</span>
                </div>

                <div class="col-sm-8">
                    @Html.EditorFor(model => model.CompanyPreferredName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: CompanyPreferredName" } })
                    @Html.ValidationMessageFor(model => model.CompanyPreferredName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.CompanyNameOption1, htmlAttributes: new { })
                </div>

                <div class="col-sm-8">
                    @Html.EditorFor(model => model.CompanyNameOption1, new { htmlAttributes = new { @class = "form-control", data_bind = "value: CompanyNameOption1" } })
                    @Html.ValidationMessageFor(model => model.CompanyNameOption1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.CompanyNameOption2, htmlAttributes: new { })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.CompanyNameOption2, new { htmlAttributes = new { @class = "form-control", data_bind = "value: CompanyNameOption2" } })
                    @Html.ValidationMessageFor(model => model.CompanyNameOption2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.CompanyNameOption3, htmlAttributes: new { })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.CompanyNameOption3, new { htmlAttributes = new { @class = "form-control", data_bind = "value: CompanyNameOption3" } })
                    @Html.ValidationMessageFor(model => model.CompanyNameOption3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.BusinessActivities1, htmlAttributes: new { })<span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.BusinessActivities1, new { htmlAttributes = new { @class = "form-control", data_bind = "value: BusinessActivities1" } })
                    @Html.ValidationMessageFor(model => model.BusinessActivities1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.BusinessActivities2, htmlAttributes: new { })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.BusinessActivities2, new { htmlAttributes = new { @class = "form-control", data_bind = "value: BusinessActivities2" } })
                    @Html.ValidationMessageFor(model => model.BusinessActivities2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.BusinessActivities3, htmlAttributes: new { })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.BusinessActivities3, new { htmlAttributes = new { @class = "form-control", data_bind = "value: BusinessActivities3" } })
                    @Html.ValidationMessageFor(model => model.BusinessActivities3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", data_bind = "value: Remarks" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.ExpectedAnnualBusinessTrunoverAmount, htmlAttributes: new { })<span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ExpectedAnnualBusinessTrunoverAmount, new { htmlAttributes = new { data_bind = "value: ExpectedAnnualBusinessTrunoverAmount", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExpectedAnnualBusinessTrunoverAmount, "", new { @class = "text-danger" })
                    <div data-bind="foreach: Currencies()">
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" data-bind="checked: $parent.ExpectedAnnualBusinessTrunoverCurrencyId, checkedValue: Id()" />
                                <span data-bind="text: Description()"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-sm-4">
                    @Html.LabelFor(model => model.TotalStaffStrengthRequired, htmlAttributes: new { })<span class="red">*</span>
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.TotalStaffStrengthRequired, new { htmlAttributes = new { data_bind = "value: TotalStaffStrengthRequired", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalStaffStrengthRequired, "", new { @class = "text-danger" })

                    <div data-bind="foreach: SelectedStaffStrengths()">
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox" data-bind="checked: IsSelected, checkedValue: true" />
                                <span data-bind="text: Description()"></span>
                            </label>
                        </div>

                    </div>

                </div>
            </div>
        </fieldset>
        <!--/ko-->
        @Html.Partial("_FileUploader")
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="button" value="@GlobalResource.Submit" data-style="expand-left" data-role="save" class="btn btn-primary ladda-button" data-bind="click: $root.SaveRequest">@GlobalResource.Submit</button>
                <button type="button" value="@GlobalResource.SubmitDraft" data-style="expand-left" data-role="draft" class="btn btn-primary ladda-button" data-bind="click: $root.SaveDraftRequest">@GlobalResource.SubmitDraft</button>
                <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId = (int) ServiceEnum.TradeLicenseRequest})">@GlobalResource.Cancel</a>
            </div>
        </div>
    </div>
}
</script>



@section scripts{
    <script src="~/Scripts/fia/fia.tradelicense.js"></script>
    <script type="text/javascript">

        $(function () {
            fia.tradelicense.InitializeCreate();
        })
    </script>
}

