﻿@model EService.Web.Models.TradeLicenseRequestViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserServiceRequestMasterId = Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
}

@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })

<div id="tradeLicenseDetailsDiv">
    <h4>Trade License Request</h4>
    <table class="table borderless" data-bind="with: Details">
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantName)
            </td>

            <td data-bind="text:ApplicantName">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PresentSponsorInUAE)
            </td>

            <td data-bind="text:PresentSponsorInUAE">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.AddressOfSponser)
            </td>

            <td data-bind="text:AddressOfSponser">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantOfficeNumber)
            </td>

            <td data-bind="text:ApplicantOfficeNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantResidenceNumber)
            </td>

            <td data-bind="text:ApplicantResidenceNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantMobileNumber)
            </td>

            <td data-bind="text:ApplicantMobileNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantFaxNumber)
            </td>

            <td data-bind="text:ApplicantFaxNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantEmailNumber)
            </td>

            <td data-bind="text:ApplicantEmailNumber">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicantCountry)
            </td>

            <td data-bind="text:ApplicantCountry">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MailingAddress)
            </td>

            <td data-bind="text:MailingAddress">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ApplicationDate)
            </td>

            <td data-bind="text:moment(ApplicationDate()).isValid() ? moment(ApplicationDate()).format('DD/MM/YY') : null">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyPreferredName)
            </td>

            <td data-bind="text:CompanyPreferredName">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyNameOption1)
            </td>

            <td data-bind="text:CompanyNameOption1">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyNameOption2)
            </td>

            <td data-bind="text:CompanyNameOption2">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyNameOption3)
            </td>

            <td data-bind="text:CompanyNameOption3">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.BusinessActivities1)
            </td>

            <td data-bind="text:BusinessActivities1">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.BusinessActivities2)
            </td>

            <td data-bind="text:BusinessActivities2">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.BusinessActivities3)
            </td>

            <td data-bind="text:BusinessActivities3">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Remarks)
            </td>

            <td data-bind="text:Remarks">
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ExpectedAnnualBusinessTrunoverAmount)
            </td>

            <td>
                <span data-bind="text:ExpectedAnnualBusinessTrunoverAmount"></span>
                <span data-bind="text:CurrencyDisplay"></span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.TotalStaffStrengthRequired)
            </td>

            <td>
                <span data-bind="text:TotalStaffStrengthRequired"></span>
                <!-- ko foreach: SelectedStaffStrengths()-->
                <span data-bind="text:Description"></span>
                <!-- /ko -->
            </td>
        </tr>
    </table>
</div>
@Html.Partial("_FileUploadedList")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = UserServiceRequestMasterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script src="~/Scripts/fia/fia.tradelicense.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.tradelicense.InitializeDetail();
        })
    </script>
}
