﻿<div ng-controller="user.users">
    <div class="umb-scrollable row-fluid">
        <div class="form-horizontal" style="padding-bottom: 90px">
            <div class="umb-pane">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Full Name
                            </th>
                            <th>
                                User Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Contact
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in list">
                        <td>{{item.FirstName}} {{item.LastName}}</td>
                        <td>{{item.UserName}}</td>
                        <td>{{item.Email}}</td>
                        <td>{{item.Contact}}</td>
                        <td><button class="btn btn-info " type="button" ng-click="changePassword(item.Id)">Change Password</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>