﻿
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/fia/fia.serviceRequestReport.js"></script>
    <script type="text/javascript">
        $(function () {
            fia.serviceRequestReport.Initialize();
        })
    </script>
}

<div id="mainContent" class="form-horizontal" data-bind="template:{name: 'listContentTemplate'}">
</div>
<script type="text/html" id="listContentTemplate">
    <fieldset>
        <legend>
            Search Options
        </legend>
        <div class="col-xs-12" data-bind="with: SearchModel">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <select class="form-control" data-bind="options: Services, optionsText: 'Description', optionsValue: 'Id', optionsCaption: 'Select Service', value: ServiceId "></select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" data-bind="datePicker: DateFrom" placeholder="Date From" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" data-bind="datePicker: DateTo" placeholder="Date To" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <select name="ServiceStatus" class="form-control" data-bind="value: ServiceStatus,options: Statuses, optionsText: 'Description', optionsValue: 'Id', optionsCaption: 'Select Service Status' "></select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <input type="text" class="form-control" data-bind="value: ApplicantEmail" placeholder="Email or User Name or NOC Req Ref No " />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <br />
                <button type="button" class="btn btn-primary ladda-button" data-role="search" data-style="expand-left" data-bind="click: $root.SearchClick">Search</button>
            </div>
        </div>
    </fieldset>
    <div data-bind="template:{name: 'recordTemplate'}"></div>
</script>

<script type="text/html" id="recordTemplate">
    <!--ko if: Records != null && Records() != null && Records().length > 0-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Service </th>
                <th>Status</th>
                <th>Count</th>
                <th>Charged Amount</th>
                <th>Paid Amount</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Records">
            <tr>
                <td>                <span data-bind="text: ServiceName"></span>            </td>
                <td>                <span data-bind="text: StatusName"></span>            </td>
                <td>                <span data-bind="text: Count"></span>            </td>
                <td>                <span data-bind="text: ChargedAmount"></span>            </td>
                <td>                <span data-bind="text: PaidAmount"></span>            </td>
            </tr>
        </tbody>
    </table>
    <!--/ko-->
</script>