﻿@using EService.Service.Logic.Enum
@using EService.Web.App_GlobalResources
@using EService.Web.App_LocalResources
@model EService.Web.Models.AircraftWarningLightViewModel
@{
    ViewBag.Title = "Aircraft Warning Light";
    int? UserServiceRequestMasterId = ViewBag.UserServiceRequestMasterId == null ? null : Convert.ToInt32(ViewBag.UserServiceRequestMasterId);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.aircraftWarningLightRequest.InitializeCreate();
        })
    </script>
}
@Html.Hidden("CurrentUserServiceRequestMasterId", UserServiceRequestMasterId, new { @class = "forKnockout" })

<div id="createContent" data-bind="template:{name:'aircraftWarningCreateTemplate' }">
</div>

<script type="text/html" id="aircraftWarningCreateTemplate">
    <div class="row">
        <span class="pull-right text-right">
            <b>     <span style="font-size: xx-large;">Aircraft Warning Light Request</span></b>
            <br />
            <button class="btn btn-info" data-bind="click: SetUserInfo">Set User Information</button>
        </span>
    </div>
    <hr />
    @using (Html.BeginForm("Create", "AircraftWarningLight", FormMethod.Post, new { id = "frmAircraftWarningLight", @class = "form-horizontal" }))
    {
        <div data-bind="with: AddNewModel">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-lg-6 col-md-12">
                        <fieldset>
                            <legend>Applicant Info</legend>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantName, AircraftWarningLightRequestResource.ApplicantName)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantName" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantJobTitle, AircraftWarningLightRequestResource.ApplicantJobTitle)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantJobTitle, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantJobTitle" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantCompanyName, AircraftWarningLightRequestResource.ApplicantCompanyName)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantCompanyName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantCompanyName" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantAddress, AircraftWarningLightRequestResource.ApplicantAddress)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantAddress, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantAddress" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantContactInfo, AircraftWarningLightRequestResource.ApplicantContactInfo)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantContactInfo, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantContactInfo" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantCellNo, AircraftWarningLightRequestResource.ApplicantCellNo)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantCellNo, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantCellNo" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantTelNo, AircraftWarningLightRequestResource.ApplicantTelNo)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantTelNo, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantTelNo" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantEmail, AircraftWarningLightRequestResource.ApplicantEmail)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantEmail, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantEmail" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.ApplicantWebsite, AircraftWarningLightRequestResource.ApplicantWebsite)
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicantWebsite, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ApplicantWebsite" } })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <fieldset>
                            <legend>Owner Info</legend>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.OwnerName, AircraftWarningLightRequestResource.OwnerName)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerName" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.OwnerCompanyName, AircraftWarningLightRequestResource.OwnerCompanyName)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerCompanyName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerCompanyName" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.OwnerAddress, AircraftWarningLightRequestResource.OwnerAddress)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerAddress, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerAddress" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.OwnerContactInfo, AircraftWarningLightRequestResource.OwnerContactInfo)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerContactInfo, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerContactInfo" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.OwnerCellNo, AircraftWarningLightRequestResource.OwnerCellNo)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerCellNo, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerCellNo" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.OwnerTelNo, AircraftWarningLightRequestResource.OwnerTelNo)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerTelNo, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerTelNo" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.OwnerEmail, AircraftWarningLightRequestResource.OwnerEmail)
                                    <span class="red">*</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerEmail, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerEmail" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-sm-4">
                                    @Html.LabelFor(model => model.OwnerWebsite, AircraftWarningLightRequestResource.OwnerWebsite)
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerWebsite, new { htmlAttributes = new { @class = "form-control", data_bind = "value: OwnerWebsite" } })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-xs-12">
                    <fieldset>
                        <legend>Project Information</legend>
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicationDate, AircraftWarningLightRequestResource.ApplicationDate)
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ApplicationDate, new { htmlAttributes = new { @class = "form-control", data_bind = "datePicker: ApplicationDate" } })
                                @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ProjectName, AircraftWarningLightRequestResource.ProjectName)
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ProjectName" } })
                                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ProjectLocation, AircraftWarningLightRequestResource.ProjectLocation)
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ProjectLocation, new { htmlAttributes = new { @class = "form-control", data_bind = "value: ProjectLocation" } })
                                @Html.ValidationMessageFor(model => model.ProjectLocation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ProjectDescription, AircraftWarningLightRequestResource.ProjectDescription)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.ProjectDescription, new { @class = "form-control width100", data_bind = "value: ProjectDescription" })
                                @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ApplicantOwnerRelationShipId, AircraftWarningLightRequestResource.ApplicantOwnerRelations)
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                <div data-bind="foreach: Relationships" class="col-sm-4">
                                    <div class="">
                                        <label><input type="radio" name="ApplicantOwnerRelationship" data-bind="checked: $parent.ApplicantOwnerRelationShipId, checkedValue: Id" /><span data-bind="text: Description"></span></label>
                                        <span data-bind="if: IsOther() === true && $parent.ApplicantOwnerRelationShipId() == Id()">
                                            <input type="text" data-bind="value: $parent.ApplicantOwnerRelationshipOtherName" class="form-control" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.ProjectTypeId, AircraftWarningLightRequestResource.ProjectTypes)
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                <div data-bind="foreach: ProjectTypes" class="col-sm-4">
                                    <label><input type="radio" name="ProjectTypes" data-bind="checked: $parent.ProjectTypeId, checkedValue: Id" /><span data-bind="text: Description"></span></label>
                                    <span data-bind="if: IsOther() === true && $parent.ProjectTypeId() == Id()">
                                        <input type="text" data-bind="value: $parent.ProjectTypeOtherName" class="form-control" />
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.NoOfStructures, AircraftWarningLightRequestResource.NoOfStructures)
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.NoOfStructures, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NoOfStructures" } })
                                @Html.ValidationMessageFor(model => model.NoOfStructures, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.NoOfObstacleLights, AircraftWarningLightRequestResource.NoOfObstacleLights)
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.NoOfObstacleLights, new { htmlAttributes = new { @class = "form-control", data_bind = "value: NoOfObstacleLights" } })
                                @Html.ValidationMessageFor(model => model.NoOfObstacleLights, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                @Html.LabelFor(model => model.TypesOfObstacleLights, AircraftWarningLightRequestResource.TypesOfObstacleLights)
                                <span class="red">*</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.TypesOfObstacleLights, new { htmlAttributes = new { @class = "form-control", data_bind = "value: TypesOfObstacleLights" } })
                                @Html.ValidationMessageFor(model => model.TypesOfObstacleLights, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>

                </div>

            </div>
        </div>
        <h4>Please attach the drawings for location of obstacle light</h4>
        <h5 class="red">FIA NOC for the building/structure is mandatory</h5>
        <div class="col-xs-12">
            <h6>Following are the upload files required </h6>
            <ul>
                <li>

                    Location map*
                </li>
                <li>

                    Lighting Location drawing*
                </li>
                <li>
                    Location coordinates*
                </li>
                <li>

                    Building Height*
                </li>
                <li>

                    Elevation*
                </li>
                <li>
                    Municipality permit */ Contract authorization
                </li>
                <li>
                    FIA Building height NOC*
                </li>
                <li>
                    Specification sheets of obstacle lighting*. (Drawings in AutoCAD preferred)
                </li>
                <li>
                    Applicant's Trade License *
                </li>
            </ul>
        </div>
        @Html.Partial("_FileUploader")

        <div class="form-group">
            <div class="col-md-offset-4 col-sm-8">
                <button type="button" data-role="save" value="@GlobalResource.Submit" data-style="expand-left" class="ladda-button btn btn-primary" data-bind="click: $root.Save">@GlobalResource.Submit</button>
                <button type="button" data-role="draft" value="@GlobalResource.SubmitDraft" data-style="expand-left" class="ladda-button btn btn-primary" data-bind="click: $root.SaveDraftRequest">@GlobalResource.SubmitDraft</button>
                <a class="btn btn-warning" href="@Url.Action("Index", "ServiceRequest", new {serviceId = (int) ServiceEnum.AircraftWarningLight})">@GlobalResource.Cancel</a>
            </div>
        </div>
    }
</script>