﻿
@{
    ViewBag.Title = "Aircraft Warning Light Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Html.Partial("_Scripts")
    <script type="text/javascript">
        $(function () {
            fia.aircraftWarningLightRequest.InitializeIndex();
        })
    </script>
}
<div class="text-right">
    <a href="@Url.Action("Create")" class="btn btn-primary"> <i class="glyphicon glyphicon-plus-sign"></i> &nbsp;New Request</a>
</div>
<div id="mainContent" data-bind="template:{name:'listTemplate'}"></div>
<script id="listTemplate" type="text/html">
    <table class="table table-bordered table-condensed table-striped" data-bind="if : Records != null && Records().length > 0">
        <thead>
            <tr>
                <th>Service Name</th>
                <th>User (Email)</th>
                <th>NOC Req Ref No </th>
                <th>Requested Date Time</th>
                <th>Request Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Records">
            <tr>
                <td data-bind="text: ServiceName"></td>
                <td data-bind="text: UserName()+'( '+Email()+' )' "></td>
                <td data-bind="text: RegistrationNo"></td>
                <td data-bind="text: moment(RequestDateTime()).format('DD/MM/YY hh:mm:ss a')"></td>
                <td data-bind="text: RequestStatusName"></td>
                <td><a href="javascript:void()" data-bind="click:$root.ViewDetails" class="btn btn-primary">View Details</a></td>
            </tr>
        </tbody>

    </table>
    <span data-bind="ifnot : Records != null && Records().length > 0" class="alert alert-info">
        No Records added yet.
    </span>
</script>